json code/ahmedabad.json
[{"id":"731da27f.0b8bbc","type":"tab","label":"Ahmedabad","disabled":false,"info":""},{"id":"d0e82919.6df7a8","type":"ui_toast","z":"731da27f.0b8bbc","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":140,"wires":[]},{"id":"f8e24eb6.3645e","type":"function","z":"731da27f.0b8bbc","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["efeae332.bb16b"]]},{"id":"721264b4.be1bdc","type":"function","z":"731da27f.0b8bbc","name":"PreToken","func":"var apikey=\"GmNdg7rGL9VM2NBt3vSKSwf4PlxmB4iXB_RPn8NEpgjq\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":260,"wires":[["1086297f.77f797","2f5ae276.5f5afe"]]},{"id":"38acb965.80ff46","type":"ui_form","z":"731da27f.0b8bbc","name":"","label":"Arrival quantity in tons Onion Form","group":"90b71f54.41a4c","order":1,"width":8,"height":4,"options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":160,"wires":[["89a32378.61039","f8e24eb6.3645e"]]},{"id":"36dd0ef9.910fe2","type":"function","z":"731da27f.0b8bbc","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"8723a0c6-94d3-45ba-a4af-937112593c9f \";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["aad9db49.a5fde8","5914ccf4.e55ac4"]]},{"id":"aad9db49.a5fde8","type":"http request","z":"731da27f.0b8bbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/f6f6fbb9-b698-496a-a9a8-79cf5e580516/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":790,"y":260,"wires":[["51b9b33.38e5b4c","eeeb50f6.4ed35"]]},{"id":"51b9b33.38e5b4c","type":"function","z":"731da27f.0b8bbc","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":260,"wires":[["b3ae9719.30d948","eeeb50f6.4ed35"]]},{"id":"1086297f.77f797","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":400,"y":300,"wires":[]},{"id":"2f5ae276.5f5afe","type":"http request","z":"731da27f.0b8bbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":260,"wires":[["36dd0ef9.910fe2"]]},{"id":"b3ae9719.30d948","type":"counter-loop","z":"731da27f.0b8bbc","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":460,"y":60,"wires":[["ff1c7bee.9028d8","cce109b8.625138"],["721264b4.be1bdc"]]},{"id":"81f8fe3a.9791","type":"ui_chart","z":"731da27f.0b8bbc","name":"","group":"56fd67e7.0fb028","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e2d","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":60,"wires":[[]]},{"id":"89a32378.61039","type":"function","z":"731da27f.0b8bbc","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":60,"wires":[["b3ae9719.30d948"]]},{"id":"ff1c7bee.9028d8","type":"function","z":"731da27f.0b8bbc","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":60,"wires":[["81f8fe3a.9791"]]},{"id":"efeae332.bb16b","type":"function","z":"731da27f.0b8bbc","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["d0e82919.6df7a8"]]},{"id":"cce109b8.625138","type":"function","z":"731da27f.0b8bbc","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":100,"wires":[["d0e82919.6df7a8"]]},{"id":"5914ccf4.e55ac4","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":300,"wires":[]},{"id":"eeeb50f6.4ed35","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":300,"wires":[]},{"id":"df8574d1.15e0a8","type":"ui_button","z":"731da27f.0b8bbc","name":"","group":"56fd67e7.0fb028","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Onion Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":20,"wires":[["81f8fe3a.9791"]]},{"id":"c98097f2.13d608","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":400,"wires":[]},{"id":"76e726c2.4eb678","type":"function","z":"731da27f.0b8bbc","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["c98097f2.13d608"]]},{"id":"95508854.d97d08","type":"ui_form","z":"731da27f.0b8bbc","name":"","label":"","group":"47322d03.a93ad4","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":360,"wires":[["bc413cc0.31866","efeae332.bb16b"]]},{"id":"bc413cc0.31866","type":"function","z":"731da27f.0b8bbc","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["c98097f2.13d608","4bb1ac69.164c34"]]},{"id":"c3c051d5.e022e","type":"ui_text","z":"731da27f.0b8bbc","group":"47322d03.a93ad4","order":2,"width":8,"height":1,"name":"onion","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":500,"wires":[]},{"id":"4bb1ac69.164c34","type":"function","z":"731da27f.0b8bbc","name":"PreToken","func":"var apikey=\"GmNdg7rGL9VM2NBt3vSKSwf4PlxmB4iXB_RPn8NEpgjq\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":460,"wires":[["72a0b2f6.32b92c","7be4099f.cdd798"]]},{"id":"ce92268d.f8ac08","type":"function","z":"731da27f.0b8bbc","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"8723a0c6-94d3-45ba-a4af-937112593c9f\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":460,"wires":[["c6e03c87.c1094","21a9ba52.b86146"]]},{"id":"c6e03c87.c1094","type":"http request","z":"731da27f.0b8bbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/c1010117-6364-42ae-9015-0e3f94a059de/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":790,"y":460,"wires":[["a28209f1.fcac18","fa35a6f2.427428"]]},{"id":"72a0b2f6.32b92c","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":500,"wires":[]},{"id":"7be4099f.cdd798","type":"http request","z":"731da27f.0b8bbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":460,"wires":[["ce92268d.f8ac08"]]},{"id":"21a9ba52.b86146","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":500,"wires":[]},{"id":"a28209f1.fcac18","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":500,"wires":[]},{"id":"fa35a6f2.427428","type":"function","z":"731da27f.0b8bbc","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":460,"wires":[["c3c051d5.e022e","a64cadfe.50108"]]},{"id":"a64cadfe.50108","type":"function","z":"731da27f.0b8bbc","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["d0e82919.6df7a8"]]},{"id":"6db50c64.2a9de4","type":"ui_toast","z":"731da27f.0b8bbc","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":740,"wires":[]},{"id":"fc3bfc6f.88342","type":"function","z":"731da27f.0b8bbc","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":780,"wires":[["965899cd.deb5a8"]]},{"id":"131e6b06.0e8975","type":"function","z":"731da27f.0b8bbc","name":"PreToken","func":"var apikey=\"Zl30xYulroPV7p2sPhRIQzjwrtqK3PujfmVy_J4FkWRP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":860,"wires":[["ab9db1d0.2a65a","8414c09a.e436c"]]},{"id":"40fdb960.6fb588","type":"ui_form","z":"731da27f.0b8bbc","name":"","label":"Arrival quantity in tons Potato Form","group":"b10e2341.d1b48","order":1,"width":8,"height":4,"options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":760,"wires":[["77e15c71.f6a3a4","fc3bfc6f.88342"]]},{"id":"58e32816.a8c428","type":"function","z":"731da27f.0b8bbc","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"e99febbf-0357-4ebe-a1f9-a1c17c1472ea\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":860,"wires":[["2ecba66e.7baaca","e45c2baf.908378"]]},{"id":"2ecba66e.7baaca","type":"http request","z":"731da27f.0b8bbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/eab3d83e-022d-4003-9796-fafb9c43e492/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":860,"wires":[["62bd3029.c84d6","acd589da.c1b818"]]},{"id":"62bd3029.c84d6","type":"function","z":"731da27f.0b8bbc","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":860,"wires":[["487fb6d0.a52138","acd589da.c1b818"]]},{"id":"ab9db1d0.2a65a","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":400,"y":900,"wires":[]},{"id":"8414c09a.e436c","type":"http request","z":"731da27f.0b8bbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":860,"wires":[["58e32816.a8c428"]]},{"id":"487fb6d0.a52138","type":"counter-loop","z":"731da27f.0b8bbc","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":480,"y":680,"wires":[["7037af0.901f65","a5bec46a.2520b8"],["131e6b06.0e8975"]]},{"id":"7298f97.7e16308","type":"ui_chart","z":"731da27f.0b8bbc","name":"","group":"b195ba8f.a20a38","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":680,"wires":[[]]},{"id":"77e15c71.f6a3a4","type":"function","z":"731da27f.0b8bbc","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":680,"wires":[["487fb6d0.a52138"]]},{"id":"7037af0.901f65","type":"function","z":"731da27f.0b8bbc","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":680,"wires":[["7298f97.7e16308"]]},{"id":"965899cd.deb5a8","type":"function","z":"731da27f.0b8bbc","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":760,"wires":[["6db50c64.2a9de4"]]},{"id":"a5bec46a.2520b8","type":"function","z":"731da27f.0b8bbc","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":720,"wires":[["6db50c64.2a9de4"]]},{"id":"e45c2baf.908378","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":900,"wires":[]},{"id":"acd589da.c1b818","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":900,"wires":[]},{"id":"74d98a0.80ef678","type":"ui_button","z":"731da27f.0b8bbc","name":"","group":"b195ba8f.a20a38","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Potato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":640,"wires":[["7298f97.7e16308"]]},{"id":"4c7b4dd0.799734","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":980,"wires":[]},{"id":"c8769c72.00612","type":"function","z":"731da27f.0b8bbc","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":960,"wires":[["4c7b4dd0.799734"]]},{"id":"e145fa9c.3189d8","type":"function","z":"731da27f.0b8bbc","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1000,"wires":[["4c7b4dd0.799734","245cd21b.bae3ce"]]},{"id":"245cd21b.bae3ce","type":"function","z":"731da27f.0b8bbc","name":"PreToken","func":"var apikey=\"0LYblGAgJ1JopOHmI7v917Zt04rKx2F6nO0FQqVz3T1f\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":1040,"wires":[["b6d9edb.8cc321","6c24caad.71b2d4"]]},{"id":"57061724.e7b428","type":"function","z":"731da27f.0b8bbc","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"864997fc-e93a-4cb6-a61d-6bbcc047f252\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1040,"wires":[["3127a285.c9945e","cf4c3f50.3b64f"]]},{"id":"3127a285.c9945e","type":"http request","z":"731da27f.0b8bbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/8cf2ff46-57c5-4da3-a2bb-6b528a666182/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":870,"y":1040,"wires":[["a7490e08.9c0bd","275e0a9f.8ec1c6"]]},{"id":"b6d9edb.8cc321","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":1080,"wires":[]},{"id":"6c24caad.71b2d4","type":"http request","z":"731da27f.0b8bbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":1040,"wires":[["57061724.e7b428"]]},{"id":"cf4c3f50.3b64f","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":1080,"wires":[]},{"id":"a7490e08.9c0bd","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":1080,"wires":[]},{"id":"275e0a9f.8ec1c6","type":"function","z":"731da27f.0b8bbc","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1040,"wires":[["3cf1057a.8f92ca","df6cc891.a95e18"]]},{"id":"3cf1057a.8f92ca","type":"function","z":"731da27f.0b8bbc","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":800,"wires":[["6db50c64.2a9de4"]]},{"id":"ab59e362.4268d","type":"ui_form","z":"731da27f.0b8bbc","name":"","label":"","group":"c65eab8d.c40598","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":960,"wires":[["e145fa9c.3189d8","965899cd.deb5a8"]]},{"id":"df6cc891.a95e18","type":"ui_text","z":"731da27f.0b8bbc","group":"c65eab8d.c40598","order":2,"width":8,"height":1,"name":"potato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":1080,"wires":[]},{"id":"a1edfbac.0fe6e8","type":"ui_toast","z":"731da27f.0b8bbc","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1130,"y":1320,"wires":[]},{"id":"35062897.d94358","type":"function","z":"731da27f.0b8bbc","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1380,"wires":[["21857de3.0f6662"]]},{"id":"607203e9.d2c34c","type":"function","z":"731da27f.0b8bbc","name":"PreToken","func":"var apikey=\"TPkWZlEYexJ_z9ZvmXbBIZHlBchEo1WLs709vsDDJkt1\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":1440,"wires":[["6f46ebd8.0337c4","7508c0ba.e63c7"]]},{"id":"35b008c2.526228","type":"ui_form","z":"731da27f.0b8bbc","name":"","label":"Arrival quantity in tons Tomato Form","group":"914c37cd.7cedf8","order":1,"width":8,"height":4,"options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":1340,"wires":[["c8011753.b8da88","35062897.d94358"]]},{"id":"7b15c25e.34b16c","type":"function","z":"731da27f.0b8bbc","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"75d38dca-402a-4337-be9b-398fa7ce8227\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1440,"wires":[["c39c0b1a.b03188","a21cf8e9.c13af8"]]},{"id":"c39c0b1a.b03188","type":"http request","z":"731da27f.0b8bbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/2f6c93e7-bec7-471b-a8f5-0e8d4cd08640/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":1440,"wires":[["47639e00.8cadf4","c5264120.60878"]]},{"id":"47639e00.8cadf4","type":"function","z":"731da27f.0b8bbc","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1440,"wires":[["36eef65a.0ab11a","c5264120.60878"]]},{"id":"6f46ebd8.0337c4","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":440,"y":1480,"wires":[]},{"id":"7508c0ba.e63c7","type":"http request","z":"731da27f.0b8bbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1440,"wires":[["7b15c25e.34b16c"]]},{"id":"36eef65a.0ab11a","type":"counter-loop","z":"731da27f.0b8bbc","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":460,"y":1260,"wires":[["189c7710.4c8b29","f728459c.6b7f98"],["607203e9.d2c34c"]]},{"id":"572fbc2a.3c26a4","type":"ui_chart","z":"731da27f.0b8bbc","name":"","group":"f003654e.33a1d8","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":1260,"wires":[[]]},{"id":"c8011753.b8da88","type":"function","z":"731da27f.0b8bbc","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1260,"wires":[["36eef65a.0ab11a"]]},{"id":"189c7710.4c8b29","type":"function","z":"731da27f.0b8bbc","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1260,"wires":[["572fbc2a.3c26a4"]]},{"id":"21857de3.0f6662","type":"function","z":"731da27f.0b8bbc","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1340,"wires":[["a1edfbac.0fe6e8"]]},{"id":"f728459c.6b7f98","type":"function","z":"731da27f.0b8bbc","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1300,"wires":[["a1edfbac.0fe6e8"]]},{"id":"a21cf8e9.c13af8","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1480,"wires":[]},{"id":"c5264120.60878","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1480,"wires":[]},{"id":"630be608.ffcce8","type":"ui_button","z":"731da27f.0b8bbc","name":"","group":"f003654e.33a1d8","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Tomato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":1220,"wires":[["572fbc2a.3c26a4"]]},{"id":"5f07fbf2.f517a4","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":1600,"wires":[]},{"id":"d48a25d1.37c248","type":"function","z":"731da27f.0b8bbc","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1560,"wires":[["5f07fbf2.f517a4"]]},{"id":"df4802a9.abeaf","type":"function","z":"731da27f.0b8bbc","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1600,"wires":[["5f07fbf2.f517a4","1f1ef62a.9a8a0a"]]},{"id":"1f1ef62a.9a8a0a","type":"function","z":"731da27f.0b8bbc","name":"PreToken","func":"var apikey=\"TPkWZlEYexJ_z9ZvmXbBIZHlBchEo1WLs709vsDDJkt1\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":1660,"wires":[["5091277d.da0548","b7deb12a.f8031"]]},{"id":"9c1c6cb8.f9d3b","type":"function","z":"731da27f.0b8bbc","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"75d38dca-402a-4337-be9b-398fa7ce8227\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1660,"wires":[["721877e2.c34128","4524ff45.91103"]]},{"id":"721877e2.c34128","type":"http request","z":"731da27f.0b8bbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/fdfde97d-04ec-4339-a008-8b0fdb973012/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":1660,"wires":[["fcfec21c.0ceb7","c4ddb4fa.4acd28"]]},{"id":"5091277d.da0548","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":1700,"wires":[]},{"id":"b7deb12a.f8031","type":"http request","z":"731da27f.0b8bbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1660,"wires":[["9c1c6cb8.f9d3b"]]},{"id":"4524ff45.91103","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":1700,"wires":[]},{"id":"fcfec21c.0ceb7","type":"debug","z":"731da27f.0b8bbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1700,"wires":[]},{"id":"c4ddb4fa.4acd28","type":"function","z":"731da27f.0b8bbc","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1660,"wires":[["f3368d96.38981","30012f81.21e3a"]]},{"id":"f3368d96.38981","type":"function","z":"731da27f.0b8bbc","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1380,"wires":[["a1edfbac.0fe6e8"]]},{"id":"31f286a.e4f667a","type":"ui_form","z":"731da27f.0b8bbc","name":"","label":"","group":"f657072e.3a7358","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":1560,"wires":[["df4802a9.abeaf","21857de3.0f6662"]]},{"id":"30012f81.21e3a","type":"ui_text","z":"731da27f.0b8bbc","group":"f657072e.3a7358","order":2,"width":8,"height":1,"name":"Tomato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":1700,"wires":[]},{"id":"fb045990.398b98","type":"comment","z":"731da27f.0b8bbc","name":"Created by Venkata Gunasekhar V From team VVS For IBM Hack Challenge 2020","info":"","x":1270,"y":1820,"wires":[]},{"id":"c9394604.af7208","type":"comment","z":"731da27f.0b8bbc","name":"input","info":"","x":74.70703125,"y":202.1875,"wires":[]},{"id":"3774920b.5bb4ce","type":"comment","z":"731da27f.0b8bbc","name":"input","info":"","x":70,"y":400,"wires":[]},{"id":"7d503106.bde41","type":"comment","z":"731da27f.0b8bbc","name":"input","info":"","x":50,"y":700,"wires":[]},{"id":"259f8ee0.507222","type":"comment","z":"731da27f.0b8bbc","name":"input","info":"","x":90,"y":1000,"wires":[]},{"id":"ec225d69.ef7b5","type":"comment","z":"731da27f.0b8bbc","name":"input","info":"","x":70,"y":1380,"wires":[]},{"id":"d931ee21.3f80f","type":"comment","z":"731da27f.0b8bbc","name":"input","info":"","x":70,"y":1600,"wires":[]},{"id":"11f57e4a.bbb9f2","type":"comment","z":"731da27f.0b8bbc","name":"collect ML output data and update the chart with that day's amount","info":"","x":1220,"y":820,"wires":[]},{"id":"970196bf.f3c3c8","type":"comment","z":"731da27f.0b8bbc","name":"collect ML output data and update the chart with that day's amount","info":"","x":1199.70703125,"y":224.6875,"wires":[]},{"id":"84594605.d78208","type":"comment","z":"731da27f.0b8bbc","name":"collect ML output data and update the chart with that day's amount","info":"","x":1220,"y":1400,"wires":[]},{"id":"934af300.91097","type":"comment","z":"731da27f.0b8bbc","name":"loop for collecting ML prediction for each day ","info":"","x":449.70703125,"y":25.937501907348633,"wires":[]},{"id":"b0e74d50.39007","type":"comment","z":"731da27f.0b8bbc","name":"loop for collecting ML prediction for each day ","info":"","x":470,"y":640,"wires":[]},{"id":"61bfb284.c27aac","type":"comment","z":"731da27f.0b8bbc","name":"loop for collecting ML prediction for each day ","info":"","x":450,"y":1220,"wires":[]},{"id":"d091d003.c1fd2","type":"comment","z":"731da27f.0b8bbc","name":"output processing functions","info":"","x":847.20703125,"y":118.4375,"wires":[]},{"id":"1414d34b.61bdfd","type":"comment","z":"731da27f.0b8bbc","name":"output processing functions","info":"","x":870,"y":740,"wires":[]},{"id":"b41616e1.72d9b8","type":"comment","z":"731da27f.0b8bbc","name":"output processing functions","info":"","x":890,"y":1320,"wires":[]},{"id":"90b71f54.41a4c","type":"ui_group","z":"","name":"No of Prediction days Onion","tab":"4b2d615f.31fa6","order":1,"disp":true,"width":"8","collapse":false},{"id":"56fd67e7.0fb028","type":"ui_group","z":"","name":"Onion Demand Forecast In Ahemdabad From 2020","tab":"4b2d615f.31fa6","order":2,"disp":true,"width":"16","collapse":false},{"id":"47322d03.a93ad4","type":"ui_group","z":"","name":"Retail Price Estimation Onion","tab":"4b2d615f.31fa6","order":3,"disp":true,"width":"8","collapse":false},{"id":"b10e2341.d1b48","type":"ui_group","z":"","name":"No of prediction days Potato","tab":"4b2d615f.31fa6","order":4,"disp":true,"width":"8","collapse":false},{"id":"b195ba8f.a20a38","type":"ui_group","z":"","name":"Potato Demand Forecast In Ahmedabad From 2020","tab":"4b2d615f.31fa6","order":5,"disp":true,"width":"16","collapse":false},{"id":"c65eab8d.c40598","type":"ui_group","z":"","name":"Retail Price Estimation Potato","tab":"4b2d615f.31fa6","order":6,"disp":true,"width":"8","collapse":false},{"id":"914c37cd.7cedf8","type":"ui_group","z":"","name":"No of prediction days Tomato","tab":"4b2d615f.31fa6","order":7,"disp":true,"width":"8","collapse":false},{"id":"f003654e.33a1d8","type":"ui_group","z":"","name":"Tomato Demand Forecast In Ahmedabad From 2020","tab":"4b2d615f.31fa6","order":8,"disp":true,"width":"16","collapse":false},{"id":"f657072e.3a7358","type":"ui_group","z":"","name":"Retail Price Estimation Tomato","tab":"4b2d615f.31fa6","order":9,"disp":true,"width":"8","collapse":false},{"id":"4b2d615f.31fa6","type":"ui_tab","z":"","name":"Ahmedabad","icon":"dashboard","order":8,"disabled":false,"hidden":false}]