json code/bengaluru.json
[{"id":"d8fc5448.4c04e8","type":"tab","label":"Bengaluru","disabled":false,"info":""},{"id":"ae2b0d38.d3bb5","type":"ui_toast","z":"d8fc5448.4c04e8","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":140,"wires":[]},{"id":"65267c28.7d15a4","type":"function","z":"d8fc5448.4c04e8","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["7573fc1.e19a404"]]},{"id":"ce55560a.e22fb8","type":"function","z":"d8fc5448.4c04e8","name":"PreToken","func":"var apikey=\"GmNdg7rGL9VM2NBt3vSKSwf4PlxmB4iXB_RPn8NEpgjq\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":260,"wires":[["1c901013.ee93d","76c90acc.f74884"]]},{"id":"b9d56025.9269a","type":"ui_form","z":"d8fc5448.4c04e8","name":"","label":"Arrival quantity in tons Onion Form","group":"cb85dda4.d1b09","order":1,"width":8,"height":4,"options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":160,"wires":[["cd757c17.e922a","65267c28.7d15a4"]]},{"id":"20e14caf.a1a184","type":"function","z":"d8fc5448.4c04e8","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"8723a0c6-94d3-45ba-a4af-937112593c9f\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["197b9101.86669f","4f86a2a.936295c"]]},{"id":"197b9101.86669f","type":"http request","z":"d8fc5448.4c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/36a9b252-9e17-4ff6-8be0-d8914e6dc2a4/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":790,"y":260,"wires":[["c6e1a6c.dd47f58","59a4c695.260538"]]},{"id":"c6e1a6c.dd47f58","type":"function","z":"d8fc5448.4c04e8","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":260,"wires":[["6728ac1b.7bdf34","59a4c695.260538"]]},{"id":"1c901013.ee93d","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":400,"y":300,"wires":[]},{"id":"76c90acc.f74884","type":"http request","z":"d8fc5448.4c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":260,"wires":[["20e14caf.a1a184"]]},{"id":"6728ac1b.7bdf34","type":"counter-loop","z":"d8fc5448.4c04e8","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":460,"y":60,"wires":[["2a56488e.21a518","17637075.acc"],["ce55560a.e22fb8"]]},{"id":"a186ff61.2d1bb","type":"ui_chart","z":"d8fc5448.4c04e8","name":"","group":"98364c39.19206","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e2d","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":60,"wires":[[]]},{"id":"cd757c17.e922a","type":"function","z":"d8fc5448.4c04e8","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":60,"wires":[["6728ac1b.7bdf34"]]},{"id":"2a56488e.21a518","type":"function","z":"d8fc5448.4c04e8","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":60,"wires":[["a186ff61.2d1bb"]]},{"id":"7573fc1.e19a404","type":"function","z":"d8fc5448.4c04e8","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["ae2b0d38.d3bb5"]]},{"id":"17637075.acc","type":"function","z":"d8fc5448.4c04e8","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":100,"wires":[["ae2b0d38.d3bb5"]]},{"id":"4f86a2a.936295c","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":300,"wires":[]},{"id":"59a4c695.260538","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":300,"wires":[]},{"id":"cce92323.9e592","type":"ui_button","z":"d8fc5448.4c04e8","name":"","group":"98364c39.19206","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Onion Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":20,"wires":[["a186ff61.2d1bb"]]},{"id":"78b9f7dc.6ff7f8","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":400,"wires":[]},{"id":"9c1cfa50.fccc38","type":"function","z":"d8fc5448.4c04e8","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["78b9f7dc.6ff7f8"]]},{"id":"546a7362.49aebc","type":"ui_form","z":"d8fc5448.4c04e8","name":"","label":"","group":"ec7bd97f.a44658","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":360,"wires":[["9c145ca9.294f","7573fc1.e19a404"]]},{"id":"9c145ca9.294f","type":"function","z":"d8fc5448.4c04e8","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["78b9f7dc.6ff7f8","c44cb012.7239b"]]},{"id":"5143c933.29c1f8","type":"ui_text","z":"d8fc5448.4c04e8","group":"ec7bd97f.a44658","order":2,"width":8,"height":1,"name":"onion","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":500,"wires":[]},{"id":"c44cb012.7239b","type":"function","z":"d8fc5448.4c04e8","name":"PreToken","func":"var apikey=\"GmNdg7rGL9VM2NBt3vSKSwf4PlxmB4iXB_RPn8NEpgjq\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":460,"wires":[["1b73263c.1f1f1a","eb3abd36.3ce27"]]},{"id":"6db3c1f2.0c31","type":"function","z":"d8fc5448.4c04e8","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"8723a0c6-94d3-45ba-a4af-937112593c9f\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":460,"wires":[["6b5dad85.d9b354","1292b7c6.a416e8"]]},{"id":"6b5dad85.d9b354","type":"http request","z":"d8fc5448.4c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/7d0c9017-d7aa-4457-a772-fd6f776066ce/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":790,"y":460,"wires":[["d3f67254.e8127","cbd87e15.addd8"]]},{"id":"1b73263c.1f1f1a","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":500,"wires":[]},{"id":"eb3abd36.3ce27","type":"http request","z":"d8fc5448.4c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":460,"wires":[["6db3c1f2.0c31"]]},{"id":"1292b7c6.a416e8","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":500,"wires":[]},{"id":"d3f67254.e8127","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":500,"wires":[]},{"id":"cbd87e15.addd8","type":"function","z":"d8fc5448.4c04e8","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":460,"wires":[["5143c933.29c1f8","f7a289df.2170e8"]]},{"id":"f7a289df.2170e8","type":"function","z":"d8fc5448.4c04e8","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["ae2b0d38.d3bb5"]]},{"id":"479218f8.8a5058","type":"ui_toast","z":"d8fc5448.4c04e8","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":740,"wires":[]},{"id":"c5f6baeb.c6f0d8","type":"function","z":"d8fc5448.4c04e8","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":780,"wires":[["f7e17a37.cd1e28"]]},{"id":"32a4b162.4e003e","type":"function","z":"d8fc5448.4c04e8","name":"PreToken","func":"var apikey=\"Zl30xYulroPV7p2sPhRIQzjwrtqK3PujfmVy_J4FkWRP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":860,"wires":[["207e8fcd.97784","12f7086d.dedeb8"]]},{"id":"df210c51.07d7e","type":"ui_form","z":"d8fc5448.4c04e8","name":"","label":"Arrival quantity in tons Potato Form","group":"3306888f.634918","order":1,"width":8,"height":4,"options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":760,"wires":[["6040d5b.bab3a2c","c5f6baeb.c6f0d8"]]},{"id":"4304f55d.bf783c","type":"function","z":"d8fc5448.4c04e8","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"e99febbf-0357-4ebe-a1f9-a1c17c1472ea\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":860,"wires":[["c2d468be.20eaf8","8879ddcf.24d4a"]]},{"id":"c2d468be.20eaf8","type":"http request","z":"d8fc5448.4c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/5507e539-447f-4ff0-a14c-87a532576303/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":860,"wires":[["4f17f0b.3e52e1","2b6c6c78.8bb124"]]},{"id":"4f17f0b.3e52e1","type":"function","z":"d8fc5448.4c04e8","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":860,"wires":[["473966e.ef9d798","2b6c6c78.8bb124"]]},{"id":"207e8fcd.97784","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":400,"y":900,"wires":[]},{"id":"12f7086d.dedeb8","type":"http request","z":"d8fc5448.4c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":860,"wires":[["4304f55d.bf783c"]]},{"id":"473966e.ef9d798","type":"counter-loop","z":"d8fc5448.4c04e8","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":480,"y":680,"wires":[["ea077e86.3f5cc","98ce370a.b7aca8"],["32a4b162.4e003e"]]},{"id":"af179573.76e8c8","type":"ui_chart","z":"d8fc5448.4c04e8","name":"","group":"7930794d.215d98","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":680,"wires":[[]]},{"id":"6040d5b.bab3a2c","type":"function","z":"d8fc5448.4c04e8","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":680,"wires":[["473966e.ef9d798"]]},{"id":"ea077e86.3f5cc","type":"function","z":"d8fc5448.4c04e8","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":680,"wires":[["af179573.76e8c8"]]},{"id":"f7e17a37.cd1e28","type":"function","z":"d8fc5448.4c04e8","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":760,"wires":[["479218f8.8a5058"]]},{"id":"98ce370a.b7aca8","type":"function","z":"d8fc5448.4c04e8","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":720,"wires":[["479218f8.8a5058"]]},{"id":"8879ddcf.24d4a","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":900,"wires":[]},{"id":"2b6c6c78.8bb124","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":900,"wires":[]},{"id":"3c25b3d6.b9a41c","type":"ui_button","z":"d8fc5448.4c04e8","name":"","group":"7930794d.215d98","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Potato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":640,"wires":[["af179573.76e8c8"]]},{"id":"84e2b957.7412e8","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":980,"wires":[]},{"id":"62c7efb4.9eaaf","type":"function","z":"d8fc5448.4c04e8","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":960,"wires":[["84e2b957.7412e8"]]},{"id":"21842190.20849e","type":"function","z":"d8fc5448.4c04e8","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1000,"wires":[["84e2b957.7412e8","4169f205.12d12c"]]},{"id":"4169f205.12d12c","type":"function","z":"d8fc5448.4c04e8","name":"PreToken","func":"var apikey=\"Zl30xYulroPV7p2sPhRIQzjwrtqK3PujfmVy_J4FkWRP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":1040,"wires":[["f1dc2e0f.fa2a5","9aac86c8.945108"]]},{"id":"f94dff33.46ebb","type":"function","z":"d8fc5448.4c04e8","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"e99febbf-0357-4ebe-a1f9-a1c17c1472ea\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1040,"wires":[["f67a96f.7889368","499a6646.8c5bc8"]]},{"id":"f67a96f.7889368","type":"http request","z":"d8fc5448.4c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/3831b4b2-64ae-49bf-9ea5-4199fd7604c1/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":870,"y":1040,"wires":[["443b012e.d6d55","1f7e9826.a07478"]]},{"id":"f1dc2e0f.fa2a5","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":1080,"wires":[]},{"id":"9aac86c8.945108","type":"http request","z":"d8fc5448.4c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":1040,"wires":[["f94dff33.46ebb"]]},{"id":"499a6646.8c5bc8","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":1080,"wires":[]},{"id":"443b012e.d6d55","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":1080,"wires":[]},{"id":"1f7e9826.a07478","type":"function","z":"d8fc5448.4c04e8","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1040,"wires":[["88ea3da7.d627d","12a16fe9.8c243"]]},{"id":"88ea3da7.d627d","type":"function","z":"d8fc5448.4c04e8","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":800,"wires":[["479218f8.8a5058"]]},{"id":"6e0443f3.b356ec","type":"ui_form","z":"d8fc5448.4c04e8","name":"","label":"","group":"35e38b00.74d8e6","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":960,"wires":[["21842190.20849e","f7e17a37.cd1e28"]]},{"id":"12a16fe9.8c243","type":"ui_text","z":"d8fc5448.4c04e8","group":"35e38b00.74d8e6","order":2,"width":8,"height":1,"name":"potato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":1080,"wires":[]},{"id":"b3ca639f.2b194","type":"ui_toast","z":"d8fc5448.4c04e8","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1130,"y":1320,"wires":[]},{"id":"8d027859.4546e8","type":"function","z":"d8fc5448.4c04e8","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1380,"wires":[["2a522b5f.7ea0f4"]]},{"id":"606bfebd.e7887","type":"function","z":"d8fc5448.4c04e8","name":"PreToken","func":"var apikey=\"TPkWZlEYexJ_z9ZvmXbBIZHlBchEo1WLs709vsDDJkt1\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":1440,"wires":[["16947950.f80bb7","ecb16370.14fc8"]]},{"id":"49094349.785cbc","type":"ui_form","z":"d8fc5448.4c04e8","name":"","label":"Arrival quantity in tons Tomato Form","group":"671e4858.341cb8","order":1,"width":8,"height":4,"options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":1340,"wires":[["ab81fbd5.534d18","8d027859.4546e8"]]},{"id":"fa745da6.33758","type":"function","z":"d8fc5448.4c04e8","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"75d38dca-402a-4337-be9b-398fa7ce8227\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1440,"wires":[["fcb6909f.9af95","e5c4b404.9e8db8"]]},{"id":"fcb6909f.9af95","type":"http request","z":"d8fc5448.4c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/186a360e-b409-49e5-930b-83401401dee0/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":1440,"wires":[["4225e68a.8c2be8","439e74d7.d8846c"]]},{"id":"4225e68a.8c2be8","type":"function","z":"d8fc5448.4c04e8","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1440,"wires":[["e0d0fe9.42c4b","439e74d7.d8846c"]]},{"id":"16947950.f80bb7","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":440,"y":1480,"wires":[]},{"id":"ecb16370.14fc8","type":"http request","z":"d8fc5448.4c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1440,"wires":[["fa745da6.33758"]]},{"id":"e0d0fe9.42c4b","type":"counter-loop","z":"d8fc5448.4c04e8","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":460,"y":1260,"wires":[["2e87eb96.bd1a24","cdd4c592.3439a8"],["606bfebd.e7887"]]},{"id":"4ff3b35b.4f697c","type":"ui_chart","z":"d8fc5448.4c04e8","name":"","group":"c2752be.a94b8d8","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":1260,"wires":[[]]},{"id":"ab81fbd5.534d18","type":"function","z":"d8fc5448.4c04e8","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1260,"wires":[["e0d0fe9.42c4b"]]},{"id":"2e87eb96.bd1a24","type":"function","z":"d8fc5448.4c04e8","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1260,"wires":[["4ff3b35b.4f697c"]]},{"id":"2a522b5f.7ea0f4","type":"function","z":"d8fc5448.4c04e8","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1340,"wires":[["b3ca639f.2b194"]]},{"id":"cdd4c592.3439a8","type":"function","z":"d8fc5448.4c04e8","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1300,"wires":[["b3ca639f.2b194"]]},{"id":"e5c4b404.9e8db8","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1480,"wires":[]},{"id":"439e74d7.d8846c","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1480,"wires":[]},{"id":"fe955eb1.a1055","type":"ui_button","z":"d8fc5448.4c04e8","name":"","group":"c2752be.a94b8d8","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Tomato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":1220,"wires":[["4ff3b35b.4f697c"]]},{"id":"bc74f403.428cb8","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":1600,"wires":[]},{"id":"a37d63c3.9652f","type":"function","z":"d8fc5448.4c04e8","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1560,"wires":[["bc74f403.428cb8"]]},{"id":"d7960791.67a9e8","type":"function","z":"d8fc5448.4c04e8","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1600,"wires":[["bc74f403.428cb8","a4e7eda0.747f7"]]},{"id":"a4e7eda0.747f7","type":"function","z":"d8fc5448.4c04e8","name":"PreToken","func":"var apikey=\"TPkWZlEYexJ_z9ZvmXbBIZHlBchEo1WLs709vsDDJkt1\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":1660,"wires":[["8253f0c9.e00ef","1f1e8677.4b598a"]]},{"id":"409aea68.95d894","type":"function","z":"d8fc5448.4c04e8","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"75d38dca-402a-4337-be9b-398fa7ce8227\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1660,"wires":[["a6785884.63e278","81716238.f742e"]]},{"id":"a6785884.63e278","type":"http request","z":"d8fc5448.4c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/a1019a00-ca0a-44b9-b3e8-577606c7db28/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":1660,"wires":[["3672f751.044518","20e1af30.a3e1e"]]},{"id":"8253f0c9.e00ef","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":1700,"wires":[]},{"id":"1f1e8677.4b598a","type":"http request","z":"d8fc5448.4c04e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1660,"wires":[["409aea68.95d894"]]},{"id":"81716238.f742e","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":1700,"wires":[]},{"id":"3672f751.044518","type":"debug","z":"d8fc5448.4c04e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1700,"wires":[]},{"id":"20e1af30.a3e1e","type":"function","z":"d8fc5448.4c04e8","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1660,"wires":[["57875482.d0881c","e21785b2.576da8"]]},{"id":"57875482.d0881c","type":"function","z":"d8fc5448.4c04e8","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1380,"wires":[["b3ca639f.2b194"]]},{"id":"6c8c0e38.69106","type":"ui_form","z":"d8fc5448.4c04e8","name":"","label":"","group":"35797cbd.4b2e14","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":1560,"wires":[["d7960791.67a9e8","2a522b5f.7ea0f4"]]},{"id":"e21785b2.576da8","type":"ui_text","z":"d8fc5448.4c04e8","group":"35797cbd.4b2e14","order":2,"width":8,"height":1,"name":"Tomato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":1700,"wires":[]},{"id":"eef18cc0.e58ed","type":"comment","z":"d8fc5448.4c04e8","name":"Created by Venkata Gunasekhar V From team VVS For IBM Hack Challenge 2020","info":"","x":1270,"y":1820,"wires":[]},{"id":"4390b29f.a9ea8c","type":"comment","z":"d8fc5448.4c04e8","name":"input","info":"","x":74.70703125,"y":202.1875,"wires":[]},{"id":"fcfe3ca3.41aa7","type":"comment","z":"d8fc5448.4c04e8","name":"input","info":"","x":70,"y":400,"wires":[]},{"id":"e3f9d2b9.4a0c4","type":"comment","z":"d8fc5448.4c04e8","name":"input","info":"","x":50,"y":700,"wires":[]},{"id":"6f25a4e0.d564dc","type":"comment","z":"d8fc5448.4c04e8","name":"input","info":"","x":90,"y":1000,"wires":[]},{"id":"6503c9d4.5af028","type":"comment","z":"d8fc5448.4c04e8","name":"input","info":"","x":70,"y":1380,"wires":[]},{"id":"e507e3de.5e0fe","type":"comment","z":"d8fc5448.4c04e8","name":"input","info":"","x":70,"y":1600,"wires":[]},{"id":"7bc0e9f8.0d4698","type":"comment","z":"d8fc5448.4c04e8","name":"collect ML output data and update the chart with that day's amount","info":"","x":1220,"y":820,"wires":[]},{"id":"2b85456b.587b2a","type":"comment","z":"d8fc5448.4c04e8","name":"collect ML output data and update the chart with that day's amount","info":"","x":1199.70703125,"y":224.6875,"wires":[]},{"id":"63582ad.d9d6ad4","type":"comment","z":"d8fc5448.4c04e8","name":"collect ML output data and update the chart with that day's amount","info":"","x":1220,"y":1400,"wires":[]},{"id":"6b6b208e.4c78","type":"comment","z":"d8fc5448.4c04e8","name":"loop for collecting ML prediction for each day ","info":"","x":449.70703125,"y":25.937501907348633,"wires":[]},{"id":"72f7e23f.dff56c","type":"comment","z":"d8fc5448.4c04e8","name":"loop for collecting ML prediction for each day ","info":"","x":470,"y":640,"wires":[]},{"id":"915f2d11.f667b","type":"comment","z":"d8fc5448.4c04e8","name":"loop for collecting ML prediction for each day ","info":"","x":450,"y":1220,"wires":[]},{"id":"6b793912.379658","type":"comment","z":"d8fc5448.4c04e8","name":"output processing functions","info":"","x":847.20703125,"y":118.4375,"wires":[]},{"id":"897868e7.328b68","type":"comment","z":"d8fc5448.4c04e8","name":"output processing functions","info":"","x":870,"y":740,"wires":[]},{"id":"acab9e9d.a8d0f","type":"comment","z":"d8fc5448.4c04e8","name":"output processing functions","info":"","x":890,"y":1320,"wires":[]},{"id":"cb85dda4.d1b09","type":"ui_group","z":"","name":"No of Prediction days Onion","tab":"5ef7c803.e5d4f8","order":1,"disp":true,"width":"8","collapse":false},{"id":"98364c39.19206","type":"ui_group","z":"","name":"Onion Demand Forecast In Bengaluru From 2020","tab":"5ef7c803.e5d4f8","order":2,"disp":true,"width":"16","collapse":false},{"id":"ec7bd97f.a44658","type":"ui_group","z":"","name":"Retail Price Estimation Onion","tab":"5ef7c803.e5d4f8","order":3,"disp":true,"width":"8","collapse":false},{"id":"3306888f.634918","type":"ui_group","z":"","name":"No of prediction days Potato","tab":"5ef7c803.e5d4f8","order":4,"disp":true,"width":"8","collapse":false},{"id":"7930794d.215d98","type":"ui_group","z":"","name":"Potato Demand Forecast In Bengaluru From 2020","tab":"5ef7c803.e5d4f8","order":5,"disp":true,"width":"16","collapse":false},{"id":"35e38b00.74d8e6","type":"ui_group","z":"","name":"Retail Price Estimation Potato","tab":"5ef7c803.e5d4f8","order":6,"disp":true,"width":"8","collapse":false},{"id":"671e4858.341cb8","type":"ui_group","z":"","name":"No of prediction days Tomato","tab":"5ef7c803.e5d4f8","order":7,"disp":true,"width":"8","collapse":false},{"id":"c2752be.a94b8d8","type":"ui_group","z":"","name":"Tomato Demand Forecast In Bengaluru From 2020","tab":"5ef7c803.e5d4f8","order":8,"disp":true,"width":"16","collapse":false},{"id":"35797cbd.4b2e14","type":"ui_group","z":"","name":"Retail Price Estimation Tomato","tab":"5ef7c803.e5d4f8","order":9,"disp":true,"width":"8","collapse":false},{"id":"5ef7c803.e5d4f8","type":"ui_tab","z":"","name":"Bengaluru","icon":"dashboard","order":7,"disabled":false,"hidden":false}]