json code/chennai.json
[{"id":"56e64f91.a0cc5","type":"tab","label":"Chennai","disabled":false,"info":""},{"id":"7e184700.b51608","type":"ui_toast","z":"56e64f91.a0cc5","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1090,"y":100,"wires":[]},{"id":"7231ff93.1fbf2","type":"function","z":"56e64f91.a0cc5","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["efe498f.f06b868"]]},{"id":"f864bbb0.fa1fc8","type":"function","z":"56e64f91.a0cc5","name":"PreToken","func":"var apikey=\"hSnZH7r2c9-dBtb6o75faFYDm9rI2mbEG_XIKMcieoPy\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["d2b16a7f.a40e28","41915a4f.02f064"]]},{"id":"c30b9759.ad7b18","type":"ui_form","z":"56e64f91.a0cc5","name":"","label":"Arrival quantity in tons Onion Form","group":"d523c9a8.782528","order":1,"width":8,"height":"5","options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":140,"wires":[["d49fd265.66f3f","7231ff93.1fbf2"]]},{"id":"31576fff.736d3","type":"function","z":"56e64f91.a0cc5","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"b000888a-a0c5-448e-a462-ba13d700b8a1\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":280,"wires":[["590800a6.233c2","ff68e8b0.ff8388"]]},{"id":"590800a6.233c2","type":"http request","z":"56e64f91.a0cc5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/07680ca6-6bb5-430f-bf51-54d4e572b4f0/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":280,"wires":[["b40243b9.062f7","e90d82c9.08f2"]]},{"id":"b40243b9.062f7","type":"function","z":"56e64f91.a0cc5","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":280,"wires":[["f4b6864d.aa0bc8","e90d82c9.08f2"]]},{"id":"d2b16a7f.a40e28","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":480,"y":320,"wires":[]},{"id":"41915a4f.02f064","type":"http request","z":"56e64f91.a0cc5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":280,"wires":[["31576fff.736d3"]]},{"id":"f4b6864d.aa0bc8","type":"counter-loop","z":"56e64f91.a0cc5","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":460,"y":60,"wires":[["d3871a94.ebe8b8","60649eab.099c9"],["f864bbb0.fa1fc8"]]},{"id":"f51f9694.1c6f38","type":"ui_chart","z":"56e64f91.a0cc5","name":"","group":"4f6fe06e.5a70f","order":1,"width":16,"height":"9","label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e2d","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":60,"wires":[[]]},{"id":"d49fd265.66f3f","type":"function","z":"56e64f91.a0cc5","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":60,"wires":[["f4b6864d.aa0bc8"]]},{"id":"d3871a94.ebe8b8","type":"function","z":"56e64f91.a0cc5","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":60,"wires":[["f51f9694.1c6f38"]]},{"id":"efe498f.f06b868","type":"function","z":"56e64f91.a0cc5","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["7e184700.b51608"]]},{"id":"60649eab.099c9","type":"function","z":"56e64f91.a0cc5","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":100,"wires":[["7e184700.b51608"]]},{"id":"ff68e8b0.ff8388","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":320,"wires":[]},{"id":"e90d82c9.08f2","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":320,"wires":[]},{"id":"67e4a1a4.9dd5c","type":"ui_button","z":"56e64f91.a0cc5","name":"","group":"4f6fe06e.5a70f","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Onion Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":920,"y":20,"wires":[["f51f9694.1c6f38"]]},{"id":"1ffc8dfb.8addc2","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":400,"wires":[]},{"id":"6bcd3e24.eed01","type":"function","z":"56e64f91.a0cc5","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["1ffc8dfb.8addc2"]]},{"id":"21cc3aac.d99aa6","type":"ui_form","z":"56e64f91.a0cc5","name":"","label":"","group":"35045d23.dbd5d2","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":440,"wires":[["2616bad9.091ff6","efe498f.f06b868"]]},{"id":"2616bad9.091ff6","type":"function","z":"56e64f91.a0cc5","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["1ffc8dfb.8addc2","7f86739d.5d8aec"]]},{"id":"97fe1920.b13748","type":"ui_text","z":"56e64f91.a0cc5","group":"35045d23.dbd5d2","order":2,"width":8,"height":1,"name":"onion","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":520,"wires":[]},{"id":"7f86739d.5d8aec","type":"function","z":"56e64f91.a0cc5","name":"PreToken","func":"var apikey=\"hSnZH7r2c9-dBtb6o75faFYDm9rI2mbEG_XIKMcieoPy\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":480,"wires":[["135f3e19.f9f4f2","a7cd37b6.b3c4f8"]]},{"id":"70666530.cc90ec","type":"function","z":"56e64f91.a0cc5","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"b000888a-a0c5-448e-a462-ba13d700b8a1\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":480,"wires":[["6fbffec1.501f","5b4965e0.5b22bc"]]},{"id":"6fbffec1.501f","type":"http request","z":"56e64f91.a0cc5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/deced555-c007-44f2-a006-04855aa74352/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":480,"wires":[["9f6170c8.2b588","5b14793f.1d07a8"]]},{"id":"135f3e19.f9f4f2","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":520,"wires":[]},{"id":"a7cd37b6.b3c4f8","type":"http request","z":"56e64f91.a0cc5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":480,"wires":[["70666530.cc90ec"]]},{"id":"5b4965e0.5b22bc","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":520,"wires":[]},{"id":"9f6170c8.2b588","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":520,"wires":[]},{"id":"5b14793f.1d07a8","type":"function","z":"56e64f91.a0cc5","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":480,"wires":[["97fe1920.b13748","17cf4ff3.e9a2a"]]},{"id":"17cf4ff3.e9a2a","type":"function","z":"56e64f91.a0cc5","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["7e184700.b51608"]]},{"id":"7f5c4fbc.3b2e7","type":"ui_toast","z":"56e64f91.a0cc5","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1190,"y":720,"wires":[]},{"id":"2e1b9af1.bc4ef6","type":"function","z":"56e64f91.a0cc5","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":760,"wires":[["97bd249d.b17398"]]},{"id":"7cdf865b.b417e8","type":"function","z":"56e64f91.a0cc5","name":"PreToken","func":"var apikey=\"nrl_hOK8nFYsa4YH-UfTmuOGJB7k1TVih0jtb5NvG42K\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":860,"wires":[["91e52ff.786a9d","d269da4b.43f8b8"]]},{"id":"7aea3e50.e12cc","type":"ui_form","z":"56e64f91.a0cc5","name":"","label":"Arrival quantity in tons Potato Form","group":"3dd84902.9b2276","order":1,"width":8,"height":"4","options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":780,"wires":[["c6b01ae9.007118","2e1b9af1.bc4ef6"]]},{"id":"9a914f39.af571","type":"function","z":"56e64f91.a0cc5","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"234a7fff-22d6-479c-88cd-143354cdfccc\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":860,"wires":[["88a26f9c.ad63a","9583a022.bfa81"]]},{"id":"88a26f9c.ad63a","type":"http request","z":"56e64f91.a0cc5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/80d3e7e8-9131-4a1f-9735-f88b90ecf531/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":860,"wires":[["fefcc208.5fff6","867d3602.4e8fb8"]]},{"id":"fefcc208.5fff6","type":"function","z":"56e64f91.a0cc5","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":860,"wires":[["272a25f9.94575a","867d3602.4e8fb8"]]},{"id":"91e52ff.786a9d","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":460,"y":920,"wires":[]},{"id":"d269da4b.43f8b8","type":"http request","z":"56e64f91.a0cc5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":860,"wires":[["9a914f39.af571"]]},{"id":"272a25f9.94575a","type":"counter-loop","z":"56e64f91.a0cc5","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":440,"y":700,"wires":[["1fa9ca9a.a07475","13145336.eedddd"],["7cdf865b.b417e8"]]},{"id":"95f9f6c1.deedb8","type":"ui_chart","z":"56e64f91.a0cc5","name":"","group":"f7edc04c.d2001","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1160,"y":680,"wires":[[]]},{"id":"c6b01ae9.007118","type":"function","z":"56e64f91.a0cc5","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":660,"wires":[["272a25f9.94575a"]]},{"id":"1fa9ca9a.a07475","type":"function","z":"56e64f91.a0cc5","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":700,"wires":[["95f9f6c1.deedb8"]]},{"id":"97bd249d.b17398","type":"function","z":"56e64f91.a0cc5","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":780,"wires":[["7f5c4fbc.3b2e7"]]},{"id":"13145336.eedddd","type":"function","z":"56e64f91.a0cc5","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":740,"wires":[["7f5c4fbc.3b2e7"]]},{"id":"9583a022.bfa81","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":920,"wires":[]},{"id":"867d3602.4e8fb8","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":920,"wires":[]},{"id":"8166fbe3.7d5938","type":"ui_button","z":"56e64f91.a0cc5","name":"","group":"f7edc04c.d2001","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Potato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":820,"y":660,"wires":[["95f9f6c1.deedb8"]]},{"id":"dd342f6.945bad","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":1000,"wires":[]},{"id":"6c5f73c2.68b99c","type":"function","z":"56e64f91.a0cc5","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":980,"wires":[["dd342f6.945bad"]]},{"id":"7c2e0e3b.c7f19","type":"function","z":"56e64f91.a0cc5","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1020,"wires":[["dd342f6.945bad","17cb0010.5d20a"]]},{"id":"17cb0010.5d20a","type":"function","z":"56e64f91.a0cc5","name":"PreToken","func":"var apikey=\"adRRgrq4np4u-c5-1EppEHI675e2KbfVWpCvk1yW_MWR\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":1060,"wires":[["6b0441a6.4d95e","f7bd7b88.4487f8"]]},{"id":"e17f5115.53565","type":"function","z":"56e64f91.a0cc5","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"5aa83119-afab-4b5b-b56e-a56e59a27e79\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1060,"wires":[["58a7015c.cdaf4","4e43e7a6.a6e3e8"]]},{"id":"58a7015c.cdaf4","type":"http request","z":"56e64f91.a0cc5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/d58930e3-5d79-490b-87c9-ab5791591635/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":1060,"wires":[["2df7fd28.e483d2","8e94adda.b2785"]]},{"id":"6b0441a6.4d95e","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":1100,"wires":[]},{"id":"f7bd7b88.4487f8","type":"http request","z":"56e64f91.a0cc5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1060,"wires":[["e17f5115.53565"]]},{"id":"4e43e7a6.a6e3e8","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1100,"wires":[]},{"id":"2df7fd28.e483d2","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1100,"wires":[]},{"id":"8e94adda.b2785","type":"function","z":"56e64f91.a0cc5","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1060,"wires":[["77d337a9.e89a58","9664832.7c8288"]]},{"id":"77d337a9.e89a58","type":"function","z":"56e64f91.a0cc5","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":820,"wires":[["7f5c4fbc.3b2e7"]]},{"id":"6677833e.fa545c","type":"ui_form","z":"56e64f91.a0cc5","name":"","label":"","group":"78b14b9.c3477b4","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":980,"wires":[["7c2e0e3b.c7f19","97bd249d.b17398"]]},{"id":"9664832.7c8288","type":"ui_text","z":"56e64f91.a0cc5","group":"78b14b9.c3477b4","order":2,"width":8,"height":1,"name":"potato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":1100,"wires":[]},{"id":"26d6743a.99715c","type":"ui_toast","z":"56e64f91.a0cc5","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1130,"y":1380,"wires":[]},{"id":"98374d0a.1e1a","type":"function","z":"56e64f91.a0cc5","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1400,"wires":[["48abe147.f8a81"]]},{"id":"27219d34.5ad502","type":"function","z":"56e64f91.a0cc5","name":"PreToken","func":"var apikey=\"BkQE4ktDnuodTi5nSoFH4opeQKr62HKE5BS8jU7FgeMF\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":1500,"wires":[["d242f9e5.b1b578","5ebc6e17.717cd"]]},{"id":"59fc81ce.7a206","type":"ui_form","z":"56e64f91.a0cc5","name":"","label":"Arrival quantity in tons Tomato Form","group":"45a4d772.21d0e8","order":1,"width":8,"height":"5","options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":1400,"wires":[["e86ae1bd.c2459","98374d0a.1e1a"]]},{"id":"e62e6732.005af8","type":"function","z":"56e64f91.a0cc5","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"d3b4a370-e97c-41b1-84f0-ef8b0a645855\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1500,"wires":[["a715b431.e70478","da88a62d.560108"]]},{"id":"a715b431.e70478","type":"http request","z":"56e64f91.a0cc5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/c3ee82e4-3564-453f-9c77-020623b8d86e/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":1500,"wires":[["8796a18d.d30dd","5862660d.4ab2b8"]]},{"id":"8796a18d.d30dd","type":"function","z":"56e64f91.a0cc5","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1500,"wires":[["9e135a26.3d0418","5862660d.4ab2b8"]]},{"id":"d242f9e5.b1b578","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":460,"y":1540,"wires":[]},{"id":"5ebc6e17.717cd","type":"http request","z":"56e64f91.a0cc5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":1500,"wires":[["e62e6732.005af8"]]},{"id":"9e135a26.3d0418","type":"counter-loop","z":"56e64f91.a0cc5","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":480,"y":1320,"wires":[["361dc88.4c69838","84bb659f.5e3fe8"],["27219d34.5ad502"]]},{"id":"a8acf8d0.5eac28","type":"ui_chart","z":"56e64f91.a0cc5","name":"","group":"e084270b.ac6e88","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":1320,"wires":[[]]},{"id":"e86ae1bd.c2459","type":"function","z":"56e64f91.a0cc5","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1320,"wires":[["9e135a26.3d0418"]]},{"id":"361dc88.4c69838","type":"function","z":"56e64f91.a0cc5","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1320,"wires":[["a8acf8d0.5eac28"]]},{"id":"48abe147.f8a81","type":"function","z":"56e64f91.a0cc5","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1400,"wires":[["26d6743a.99715c"]]},{"id":"84bb659f.5e3fe8","type":"function","z":"56e64f91.a0cc5","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1360,"wires":[["26d6743a.99715c"]]},{"id":"da88a62d.560108","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1540,"wires":[]},{"id":"5862660d.4ab2b8","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1540,"wires":[]},{"id":"1fd176f7.cc9239","type":"ui_button","z":"56e64f91.a0cc5","name":"","group":"e084270b.ac6e88","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Tomato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":780,"y":1280,"wires":[["a8acf8d0.5eac28"]]},{"id":"526c38e3.9e2d88","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":1640,"wires":[]},{"id":"f57f6571.8e9be8","type":"function","z":"56e64f91.a0cc5","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1600,"wires":[["526c38e3.9e2d88"]]},{"id":"b3496a29.017ea8","type":"function","z":"56e64f91.a0cc5","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1640,"wires":[["526c38e3.9e2d88","dd077336.85b74"]]},{"id":"dd077336.85b74","type":"function","z":"56e64f91.a0cc5","name":"PreToken","func":"var apikey=\"BkQE4ktDnuodTi5nSoFH4opeQKr62HKE5BS8jU7FgeMF\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":1700,"wires":[["e686bc9d.e7833","a8cc558f.7a4878"]]},{"id":"21bab8a0.c77268","type":"function","z":"56e64f91.a0cc5","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"d3b4a370-e97c-41b1-84f0-ef8b0a645855\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1700,"wires":[["89db54eb.43e6c8","e5d3cd57.4c32c"]]},{"id":"89db54eb.43e6c8","type":"http request","z":"56e64f91.a0cc5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/3cf05fdc-ede1-4e40-b07e-97d43176d117/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":1700,"wires":[["ea99d54f.223c68","5f032ca1.336314"]]},{"id":"e686bc9d.e7833","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":1740,"wires":[]},{"id":"a8cc558f.7a4878","type":"http request","z":"56e64f91.a0cc5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1700,"wires":[["21bab8a0.c77268"]]},{"id":"e5d3cd57.4c32c","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1740,"wires":[]},{"id":"ea99d54f.223c68","type":"debug","z":"56e64f91.a0cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1760,"wires":[]},{"id":"5f032ca1.336314","type":"function","z":"56e64f91.a0cc5","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1700,"wires":[["47b1d3e5.0f2fcc","2c3af775.7d9108"]]},{"id":"47b1d3e5.0f2fcc","type":"function","z":"56e64f91.a0cc5","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1440,"wires":[["26d6743a.99715c"]]},{"id":"d1df8993.0915a8","type":"ui_form","z":"56e64f91.a0cc5","name":"","label":"","group":"33f9512e.7fee9e","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":1640,"wires":[["b3496a29.017ea8","48abe147.f8a81"]]},{"id":"2c3af775.7d9108","type":"ui_text","z":"56e64f91.a0cc5","group":"33f9512e.7fee9e","order":2,"width":8,"height":1,"name":"Tomato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":1760,"wires":[]},{"id":"7f7c90ec.9d219","type":"comment","z":"56e64f91.a0cc5","name":"Created by Venkata Gunasekhar V From team VVS For IBM Hack Challenge 2020","info":"","x":1290,"y":1860,"wires":[]},{"id":"479efddc.e082c4","type":"comment","z":"56e64f91.a0cc5","name":"input","info":"","x":150,"y":200,"wires":[]},{"id":"5e14e720.665bc8","type":"comment","z":"56e64f91.a0cc5","name":"input","info":"","x":110,"y":480,"wires":[]},{"id":"20a6c256.6853ce","type":"comment","z":"56e64f91.a0cc5","name":"input","info":"","x":110,"y":740,"wires":[]},{"id":"b2250199.7c12","type":"comment","z":"56e64f91.a0cc5","name":"input","info":"","x":50,"y":940,"wires":[]},{"id":"8182e426.815a18","type":"comment","z":"56e64f91.a0cc5","name":"input","info":"","x":90,"y":1460,"wires":[]},{"id":"df5bda3b.dcd778","type":"comment","z":"56e64f91.a0cc5","name":"input","info":"","x":113.45703125,"y":1705.9375,"wires":[]},{"id":"55683bfd.98b6c4","type":"comment","z":"56e64f91.a0cc5","name":"collect ML output data and update the chart with that day's amount","info":"","x":1160,"y":240,"wires":[]},{"id":"f7f1b29f.b90cf","type":"comment","z":"56e64f91.a0cc5","name":"collect ML output data and update the chart with that day's amount","info":"","x":1200,"y":820,"wires":[]},{"id":"bbd8cbdb.d737f8","type":"comment","z":"56e64f91.a0cc5","name":"collect ML output data and update the chart with that day's amount","info":"","x":1200,"y":1460,"wires":[]},{"id":"2b3e1888.935748","type":"comment","z":"56e64f91.a0cc5","name":"loop for collecting ML prediction for each day ","info":"","x":450,"y":20,"wires":[]},{"id":"e3b9efc6.eecd9","type":"comment","z":"56e64f91.a0cc5","name":"loop for collecting ML prediction for each day ","info":"","x":450,"y":660,"wires":[]},{"id":"89978463.46a648","type":"comment","z":"56e64f91.a0cc5","name":"loop for collecting ML prediction for each day ","info":"","x":450,"y":1280,"wires":[]},{"id":"3fce14f5.89e0ec","type":"comment","z":"56e64f91.a0cc5","name":"output processing functions","info":"","x":850,"y":120,"wires":[]},{"id":"266458d8.b7e6f8","type":"comment","z":"56e64f91.a0cc5","name":"output processing functions","info":"","x":890,"y":760,"wires":[]},{"id":"477fb027.759bc","type":"comment","z":"56e64f91.a0cc5","name":"output processing functions","info":"","x":890,"y":1380,"wires":[]},{"id":"d523c9a8.782528","type":"ui_group","z":"","name":"No of prediction days onion","tab":"c486100a.9c91","order":2,"disp":true,"width":"8","collapse":false},{"id":"4f6fe06e.5a70f","type":"ui_group","z":"","name":"Onion Demand Forecast In Chennai From 2020","tab":"c486100a.9c91","order":3,"disp":true,"width":"16","collapse":false},{"id":"35045d23.dbd5d2","type":"ui_group","z":"","name":"Retail Price Estimation Onion","tab":"c486100a.9c91","order":4,"disp":true,"width":"8","collapse":false},{"id":"3dd84902.9b2276","type":"ui_group","z":"","name":"No of prediction days Potato","tab":"c486100a.9c91","order":5,"disp":true,"width":"8","collapse":false},{"id":"f7edc04c.d2001","type":"ui_group","z":"","name":"Potato Demand Forecast In Chennai From 2020","tab":"c486100a.9c91","order":6,"disp":true,"width":"16","collapse":false},{"id":"78b14b9.c3477b4","type":"ui_group","z":"","name":"Retail Price Estimation Potato","tab":"c486100a.9c91","order":7,"disp":true,"width":"8","collapse":false},{"id":"45a4d772.21d0e8","type":"ui_group","z":"","name":"No of prediction days Tomato","tab":"c486100a.9c91","order":8,"disp":true,"width":"8","collapse":false},{"id":"e084270b.ac6e88","type":"ui_group","z":"","name":"Tomato Demand Forecast In Chennai From 2020","tab":"c486100a.9c91","order":9,"disp":true,"width":"16","collapse":false},{"id":"33f9512e.7fee9e","type":"ui_group","z":"","name":"Retail Price Estimation Tomato","tab":"c486100a.9c91","order":10,"disp":true,"width":"8","collapse":false},{"id":"c486100a.9c91","type":"ui_tab","z":"","name":"Chennai","icon":"dashboard","order":2,"disabled":false,"hidden":false}]