json code/delhi.json
[{"id":"44406e3d.b51a5","type":"tab","label":"Delhi","disabled":false,"info":""},{"id":"367d659e.8ebf1a","type":"ui_toast","z":"44406e3d.b51a5","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":120,"wires":[]},{"id":"f94092e7.cb76b","type":"function","z":"44406e3d.b51a5","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["55da83ae.36a1ac"]]},{"id":"2cb371c7.f10ebe","type":"function","z":"44406e3d.b51a5","name":"PreToken","func":"var apikey=\"0LYblGAgJ1JopOHmI7v917Zt04rKx2F6nO0FQqVz3T1f\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":240,"wires":[["55b2086d.530fd8","288c0dc8.c69b22"]]},{"id":"38ce69db.42f1a6","type":"ui_form","z":"44406e3d.b51a5","name":"","label":"Arrival quantity in tons Onion Form","group":"913f03d6.8cba8","order":1,"width":8,"height":"5","options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":120,"wires":[["d1635629.e5b398","f94092e7.cb76b"]]},{"id":"ae425574.d04c58","type":"function","z":"44406e3d.b51a5","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"864997fc-e93a-4cb6-a61d-6bbcc047f252\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":240,"wires":[["fd2faad7.4a8a78","b20081a1.5e01c"]]},{"id":"fd2faad7.4a8a78","type":"http request","z":"44406e3d.b51a5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/532b5543-8b51-44da-b52b-b6e9d8a1d098/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":240,"wires":[["9ec9f39b.a9817","b14e91d.811bc7"]]},{"id":"9ec9f39b.a9817","type":"function","z":"44406e3d.b51a5","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":240,"wires":[["47158675.106508","b14e91d.811bc7"]]},{"id":"55b2086d.530fd8","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":420,"y":280,"wires":[]},{"id":"288c0dc8.c69b22","type":"http request","z":"44406e3d.b51a5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":240,"wires":[["ae425574.d04c58"]]},{"id":"47158675.106508","type":"counter-loop","z":"44406e3d.b51a5","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":460,"y":60,"wires":[["527faa04.115894","37523262.b6ddde"],["2cb371c7.f10ebe"]]},{"id":"82ad39da.e65e28","type":"ui_chart","z":"44406e3d.b51a5","name":"","group":"d894ed31.20318","order":1,"width":16,"height":"9","label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e2d","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":60,"wires":[[]]},{"id":"d1635629.e5b398","type":"function","z":"44406e3d.b51a5","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":60,"wires":[["47158675.106508"]]},{"id":"527faa04.115894","type":"function","z":"44406e3d.b51a5","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":60,"wires":[["82ad39da.e65e28"]]},{"id":"55da83ae.36a1ac","type":"function","z":"44406e3d.b51a5","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["367d659e.8ebf1a"]]},{"id":"37523262.b6ddde","type":"function","z":"44406e3d.b51a5","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":100,"wires":[["367d659e.8ebf1a"]]},{"id":"b20081a1.5e01c","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":280,"wires":[]},{"id":"b14e91d.811bc7","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":280,"wires":[]},{"id":"56d8d49d.e60d0c","type":"ui_button","z":"44406e3d.b51a5","name":"","group":"d894ed31.20318","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Onion Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":800,"y":20,"wires":[["82ad39da.e65e28"]]},{"id":"4f16998f.705c18","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":300,"wires":[]},{"id":"4abb60a7.9f872","type":"function","z":"44406e3d.b51a5","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["4f16998f.705c18"]]},{"id":"77c434e5.5bd9dc","type":"ui_form","z":"44406e3d.b51a5","name":"","label":"","group":"af171f10.fc66","order":1,"width":"8","height":"4","options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":340,"wires":[["2a1c1a2f.9c8576","55da83ae.36a1ac"]]},{"id":"2a1c1a2f.9c8576","type":"function","z":"44406e3d.b51a5","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["4f16998f.705c18","ef6dcaba.fd4e98"]]},{"id":"9807d78c.27a768","type":"ui_text","z":"44406e3d.b51a5","group":"af171f10.fc66","order":2,"width":"8","height":"1","name":"onion","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":460,"wires":[]},{"id":"ef6dcaba.fd4e98","type":"function","z":"44406e3d.b51a5","name":"PreToken","func":"var apikey=\"0LYblGAgJ1JopOHmI7v917Zt04rKx2F6nO0FQqVz3T1f\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":420,"wires":[["7e449478.921aac","34e10763.478458"]]},{"id":"b9d7799d.c0e6c8","type":"function","z":"44406e3d.b51a5","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"864997fc-e93a-4cb6-a61d-6bbcc047f252\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":420,"wires":[["fb9be35a.475a3","2475dade.7c6356"]]},{"id":"fb9be35a.475a3","type":"http request","z":"44406e3d.b51a5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/f34efdce-4099-4acf-8022-76162435ebf9/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":420,"wires":[["c2788fa6.163c2","956912e7.33004"]]},{"id":"7e449478.921aac","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":460,"wires":[]},{"id":"34e10763.478458","type":"http request","z":"44406e3d.b51a5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":420,"wires":[["b9d7799d.c0e6c8"]]},{"id":"2475dade.7c6356","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":460,"wires":[]},{"id":"c2788fa6.163c2","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":460,"wires":[]},{"id":"956912e7.33004","type":"function","z":"44406e3d.b51a5","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":420,"wires":[["9807d78c.27a768","a4ef41e8.58fed"]]},{"id":"a4ef41e8.58fed","type":"function","z":"44406e3d.b51a5","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["367d659e.8ebf1a"]]},{"id":"a16ef344.4bb96","type":"ui_toast","z":"44406e3d.b51a5","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1130,"y":740,"wires":[]},{"id":"6984c325.91217c","type":"function","z":"44406e3d.b51a5","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":760,"wires":[["15c3269b.de9e99"]]},{"id":"70258972.2f9568","type":"function","z":"44406e3d.b51a5","name":"PreToken","func":"var apikey=\"nrl_hOK8nFYsa4YH-UfTmuOGJB7k1TVih0jtb5NvG42K\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":840,"wires":[["a83cd4b1.172ba8","c644eb9e.f43df8"]]},{"id":"d452df9c.12df2","type":"ui_form","z":"44406e3d.b51a5","name":"","label":"Arrival quantity in tons Potato Form","group":"1040fb6d.592325","order":1,"width":8,"height":"5","options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":740,"wires":[["613b8c61.641764","6984c325.91217c"]]},{"id":"8f826258.5b4b","type":"function","z":"44406e3d.b51a5","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"234a7fff-22d6-479c-88cd-143354cdfccc\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":840,"wires":[["51466215.dc9dbc","c3c90339.f520e"]]},{"id":"51466215.dc9dbc","type":"http request","z":"44406e3d.b51a5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/c3810899-cce5-435c-bd08-c6d47f52c973/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":840,"wires":[["a1257b00.210618","5bc871a.41c019"]]},{"id":"a1257b00.210618","type":"function","z":"44406e3d.b51a5","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":840,"wires":[["2e19e881.95a758","5bc871a.41c019"]]},{"id":"a83cd4b1.172ba8","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":480,"y":880,"wires":[]},{"id":"c644eb9e.f43df8","type":"http request","z":"44406e3d.b51a5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":840,"wires":[["8f826258.5b4b"]]},{"id":"2e19e881.95a758","type":"counter-loop","z":"44406e3d.b51a5","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":480,"y":660,"wires":[["3982b650.ba1d8a","4ad67ecd.e519f"],["70258972.2f9568"]]},{"id":"7f40e52e.bbe33c","type":"ui_chart","z":"44406e3d.b51a5","name":"","group":"1d12d2aa.2e26fd","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":660,"wires":[[]]},{"id":"613b8c61.641764","type":"function","z":"44406e3d.b51a5","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":660,"wires":[["2e19e881.95a758"]]},{"id":"3982b650.ba1d8a","type":"function","z":"44406e3d.b51a5","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":660,"wires":[["7f40e52e.bbe33c"]]},{"id":"15c3269b.de9e99","type":"function","z":"44406e3d.b51a5","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":740,"wires":[["a16ef344.4bb96"]]},{"id":"4ad67ecd.e519f","type":"function","z":"44406e3d.b51a5","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":700,"wires":[["a16ef344.4bb96"]]},{"id":"c3c90339.f520e","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":880,"wires":[]},{"id":"5bc871a.41c019","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":880,"wires":[]},{"id":"45efb85.51da348","type":"ui_button","z":"44406e3d.b51a5","name":"","group":"1d12d2aa.2e26fd","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Potato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":860,"y":620,"wires":[["7f40e52e.bbe33c"]]},{"id":"4ee71a9e.bbe6c4","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":940,"wires":[]},{"id":"5f3a482b.a7dea8","type":"function","z":"44406e3d.b51a5","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":920,"wires":[["4ee71a9e.bbe6c4"]]},{"id":"7e0f2ae0.26d1f4","type":"function","z":"44406e3d.b51a5","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":960,"wires":[["4ee71a9e.bbe6c4","f1c7b7a1.f3c3e8"]]},{"id":"f1c7b7a1.f3c3e8","type":"function","z":"44406e3d.b51a5","name":"PreToken","func":"var apikey=\"adRRgrq4np4u-c5-1EppEHI675e2KbfVWpCvk1yW_MWR\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":1020,"wires":[["625bf5b0.1b969c","a8c14d68.23664"]]},{"id":"cc99f086.d5ba5","type":"function","z":"44406e3d.b51a5","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"5aa83119-afab-4b5b-b56e-a56e59a27e79\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1020,"wires":[["797ca688.cc81b8","75bcf57e.d694ac"]]},{"id":"797ca688.cc81b8","type":"http request","z":"44406e3d.b51a5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/8f431fa0-4451-40bc-ba1d-bc8f398ddb7f/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":1020,"wires":[["1a2e9d8f.8c67c2","338060b8.f0fea"]]},{"id":"625bf5b0.1b969c","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":1060,"wires":[]},{"id":"a8c14d68.23664","type":"http request","z":"44406e3d.b51a5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1020,"wires":[["cc99f086.d5ba5"]]},{"id":"75bcf57e.d694ac","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1060,"wires":[]},{"id":"1a2e9d8f.8c67c2","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1060,"wires":[]},{"id":"338060b8.f0fea","type":"function","z":"44406e3d.b51a5","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1020,"wires":[["2f836a0d.2b8456","b259ad1d.cb6d4"]]},{"id":"2f836a0d.2b8456","type":"function","z":"44406e3d.b51a5","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":780,"wires":[["a16ef344.4bb96"]]},{"id":"13643a1f.bb1906","type":"ui_form","z":"44406e3d.b51a5","name":"","label":"","group":"8242011e.9e1ae","order":1,"width":"8","height":"4","options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":920,"wires":[["7e0f2ae0.26d1f4","15c3269b.de9e99"]]},{"id":"b259ad1d.cb6d4","type":"ui_text","z":"44406e3d.b51a5","group":"8242011e.9e1ae","order":2,"width":"8","height":"1","name":"potato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":1060,"wires":[]},{"id":"9c8d6414.3e6158","type":"ui_toast","z":"44406e3d.b51a5","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1090,"y":1340,"wires":[]},{"id":"ae901f62.88ba6","type":"function","z":"44406e3d.b51a5","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1360,"wires":[["5880b734.601048"]]},{"id":"631e26a2.a36bb8","type":"function","z":"44406e3d.b51a5","name":"PreToken","func":"var apikey=\"BkQE4ktDnuodTi5nSoFH4opeQKr62HKE5BS8jU7FgeMF\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":1480,"wires":[["241496dd.1585ea","87383fdd.9a54e"]]},{"id":"8bbbd8b.6309628","type":"ui_form","z":"44406e3d.b51a5","name":"","label":"Arrival quantity in tons Tomato Form","group":"d9e64d18.a5232","order":1,"width":8,"height":"5","options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":1360,"wires":[["62b5e065.390b5","ae901f62.88ba6"]]},{"id":"ec74810f.b5eb6","type":"function","z":"44406e3d.b51a5","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"d3b4a370-e97c-41b1-84f0-ef8b0a645855\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1480,"wires":[["7b425c7.ef220a4","74cd812c.b2223"]]},{"id":"7b425c7.ef220a4","type":"http request","z":"44406e3d.b51a5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/7c31a0f4-08c5-4ba4-b2a7-15b9a6e31a73/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":1480,"wires":[["4dbc5b4d.ab5864","bd0f2ae7.7ce908"]]},{"id":"4dbc5b4d.ab5864","type":"function","z":"44406e3d.b51a5","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":1480,"wires":[["38159937.3aad66","bd0f2ae7.7ce908"]]},{"id":"241496dd.1585ea","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":400,"y":1520,"wires":[]},{"id":"87383fdd.9a54e","type":"http request","z":"44406e3d.b51a5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":1480,"wires":[["ec74810f.b5eb6"]]},{"id":"38159937.3aad66","type":"counter-loop","z":"44406e3d.b51a5","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":440,"y":1280,"wires":[["a3e97f53.be6dd","ba5e3082.b4ac5"],["631e26a2.a36bb8"]]},{"id":"68edb1b0.17a4","type":"ui_chart","z":"44406e3d.b51a5","name":"","group":"b0c27cbf.2aa91","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1080,"y":1280,"wires":[[]]},{"id":"62b5e065.390b5","type":"function","z":"44406e3d.b51a5","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":1280,"wires":[["38159937.3aad66"]]},{"id":"a3e97f53.be6dd","type":"function","z":"44406e3d.b51a5","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1280,"wires":[["68edb1b0.17a4"]]},{"id":"5880b734.601048","type":"function","z":"44406e3d.b51a5","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1360,"wires":[["9c8d6414.3e6158"]]},{"id":"ba5e3082.b4ac5","type":"function","z":"44406e3d.b51a5","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1320,"wires":[["9c8d6414.3e6158"]]},{"id":"74cd812c.b2223","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1520,"wires":[]},{"id":"bd0f2ae7.7ce908","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":1520,"wires":[]},{"id":"a29de0d7.1bc1c","type":"ui_button","z":"44406e3d.b51a5","name":"","group":"b0c27cbf.2aa91","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Tomato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":820,"y":1240,"wires":[["68edb1b0.17a4"]]},{"id":"15885e15.1faf22","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":1600,"wires":[]},{"id":"585949df.40ffd8","type":"function","z":"44406e3d.b51a5","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1560,"wires":[["15885e15.1faf22"]]},{"id":"6587e251.481edc","type":"function","z":"44406e3d.b51a5","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1600,"wires":[["15885e15.1faf22","5ea228c7.9a9948"]]},{"id":"5ea228c7.9a9948","type":"function","z":"44406e3d.b51a5","name":"PreToken","func":"var apikey=\"BkQE4ktDnuodTi5nSoFH4opeQKr62HKE5BS8jU7FgeMF\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":1680,"wires":[["d510cb8f.41abb8","8a1e28f9.ad1b08"]]},{"id":"310e9815.258f68","type":"function","z":"44406e3d.b51a5","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"d3b4a370-e97c-41b1-84f0-ef8b0a645855\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1680,"wires":[["23950499.4f721c","ae997fe3.80cce"]]},{"id":"23950499.4f721c","type":"http request","z":"44406e3d.b51a5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/0b999faa-0a6a-4a26-93c6-3e65fe1fd38b/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":1680,"wires":[["f4bd19a0.7ffc88","d6ddcaf.85c1a38"]]},{"id":"d510cb8f.41abb8","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":1740,"wires":[]},{"id":"8a1e28f9.ad1b08","type":"http request","z":"44406e3d.b51a5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":1680,"wires":[["310e9815.258f68"]]},{"id":"ae997fe3.80cce","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":1720,"wires":[]},{"id":"f4bd19a0.7ffc88","type":"debug","z":"44406e3d.b51a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1720,"wires":[]},{"id":"d6ddcaf.85c1a38","type":"function","z":"44406e3d.b51a5","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1680,"wires":[["f59ef018.a6f5","5026f2c5.95c87c"]]},{"id":"f59ef018.a6f5","type":"function","z":"44406e3d.b51a5","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1400,"wires":[["9c8d6414.3e6158"]]},{"id":"c7caec7e.abae2","type":"ui_form","z":"44406e3d.b51a5","name":"","label":"","group":"87ed3dde.0a844","order":1,"width":"8","height":"4","options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":1560,"wires":[["6587e251.481edc","5880b734.601048"]]},{"id":"5026f2c5.95c87c","type":"ui_text","z":"44406e3d.b51a5","group":"87ed3dde.0a844","order":2,"width":"8","height":"1","name":"Tomato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":1720,"wires":[]},{"id":"3e71d3ec.65ffec","type":"comment","z":"44406e3d.b51a5","name":"Created by Venkata Gunasekhar V From team VVS For IBM Hack Challenge 2020","info":"","x":1250,"y":1820,"wires":[]},{"id":"b712871.718e678","type":"comment","z":"44406e3d.b51a5","name":"collect ML output data and update the chart with that day's amount","info":"","x":1160,"y":200,"wires":[]},{"id":"465ecbfe.e76234","type":"comment","z":"44406e3d.b51a5","name":"collect ML output data and update the chart with that day's amount","info":"","x":1200,"y":800,"wires":[]},{"id":"ed41aa32.5f4728","type":"comment","z":"44406e3d.b51a5","name":"collect ML output data and update the chart with that day's amount","info":"","x":1200,"y":1440,"wires":[]},{"id":"134f1012.b5358","type":"comment","z":"44406e3d.b51a5","name":"input","info":"","x":90,"y":160,"wires":[]},{"id":"250a2332.9de7ec","type":"comment","z":"44406e3d.b51a5","name":"input","info":"","x":50,"y":300,"wires":[]},{"id":"d188feb4.7b905","type":"comment","z":"44406e3d.b51a5","name":"input","info":"","x":70,"y":700,"wires":[]},{"id":"22a1f1ad.240abe","type":"comment","z":"44406e3d.b51a5","name":"input","info":"","x":70,"y":880,"wires":[]},{"id":"5377f341.69938c","type":"comment","z":"44406e3d.b51a5","name":"input","info":"","x":70,"y":1400,"wires":[]},{"id":"e704932d.be4de","type":"comment","z":"44406e3d.b51a5","name":"input","info":"","x":70,"y":1600,"wires":[]},{"id":"be59cc79.c7297","type":"comment","z":"44406e3d.b51a5","name":"loop for collecting ML prediction for each day ","info":"","x":470,"y":20,"wires":[]},{"id":"430fd2aa.b327fc","type":"comment","z":"44406e3d.b51a5","name":"loop for collecting ML prediction for each day ","info":"","x":439.70703125,"y":620.9375,"wires":[]},{"id":"2beeb4e3.f3291c","type":"comment","z":"44406e3d.b51a5","name":"loop for collecting ML prediction for each day ","info":"","x":444.70703125,"y":1242.1875,"wires":[]},{"id":"f7eca88c.f04e38","type":"comment","z":"44406e3d.b51a5","name":"output processing functions","info":"","x":850,"y":120,"wires":[]},{"id":"7d2cbef8.d16b","type":"comment","z":"44406e3d.b51a5","name":"output processing functions","info":"","x":868.45703125,"y":719.6875,"wires":[]},{"id":"d3aed0b3.0958a","type":"comment","z":"44406e3d.b51a5","name":"output processing functions","info":"","x":850,"y":1340,"wires":[]},{"id":"913f03d6.8cba8","type":"ui_group","z":"","name":"No of Prediction days Onion","tab":"21664ffb.65915","order":1,"disp":true,"width":"8","collapse":false},{"id":"d894ed31.20318","type":"ui_group","z":"","name":"Onion Demand Forecast In Delhi From 2020","tab":"21664ffb.65915","order":2,"disp":true,"width":"16","collapse":false},{"id":"af171f10.fc66","type":"ui_group","z":"","name":"Retail Price Estimation Onion","tab":"21664ffb.65915","order":3,"disp":true,"width":"8","collapse":false},{"id":"1040fb6d.592325","type":"ui_group","z":"","name":"No of prediction days Potato","tab":"21664ffb.65915","order":4,"disp":true,"width":"8","collapse":false},{"id":"1d12d2aa.2e26fd","type":"ui_group","z":"","name":"Potato Demand Forecast In Delhi From 2020","tab":"21664ffb.65915","order":5,"disp":true,"width":"16","collapse":false},{"id":"8242011e.9e1ae","type":"ui_group","z":"","name":"Retail Price Estimation Potato","tab":"21664ffb.65915","order":6,"disp":true,"width":"8","collapse":false},{"id":"d9e64d18.a5232","type":"ui_group","z":"","name":"No of prediction days Tomato","tab":"21664ffb.65915","order":7,"disp":true,"width":"8","collapse":false},{"id":"b0c27cbf.2aa91","type":"ui_group","z":"","name":"Tomato Demand Forecast In Delhi From 2020","tab":"21664ffb.65915","order":8,"disp":true,"width":"16","collapse":false},{"id":"87ed3dde.0a844","type":"ui_group","z":"","name":"Retail Price Estimation Tomato","tab":"21664ffb.65915","order":9,"disp":true,"width":"8","collapse":false},{"id":"21664ffb.65915","type":"ui_tab","z":"","name":"Delhi","icon":"dashboard","order":2,"disabled":false,"hidden":false}]