json code/hyderbad.json
[{"id":"517537df.17b008","type":"tab","label":"Hyderbad","disabled":false,"info":""},{"id":"cd31f4ae.cec378","type":"ui_toast","z":"517537df.17b008","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":140,"wires":[]},{"id":"57b18398.926c5c","type":"function","z":"517537df.17b008","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["a1554c50.513fc"]]},{"id":"23bfe573.5bfe4a","type":"function","z":"517537df.17b008","name":"PreToken","func":"var apikey=\"GmNdg7rGL9VM2NBt3vSKSwf4PlxmB4iXB_RPn8NEpgjq\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":260,"wires":[["26fd82b1.102bee","b1a37390.5a0b6"]]},{"id":"e8f0cb3a.143ed8","type":"ui_form","z":"517537df.17b008","name":"","label":"Arrival quantity in tons Onion Form","group":"a90d4926.7d8da8","order":1,"width":8,"height":4,"options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":160,"wires":[["2cb4b26e.23731e","57b18398.926c5c"]]},{"id":"361f2ffb.6aa92","type":"function","z":"517537df.17b008","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"8723a0c6-94d3-45ba-a4af-937112593c9f\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["21bd33ff.83b34c","43bceb73.67ad04"]]},{"id":"21bd33ff.83b34c","type":"http request","z":"517537df.17b008","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/00d2298f-7339-444d-b9c4-93cfd3abe0f0/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":790,"y":260,"wires":[["5f5b1a92.92bf74","178d0020.0386b"]]},{"id":"5f5b1a92.92bf74","type":"function","z":"517537df.17b008","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":260,"wires":[["76b4ffc4.5dd5c","178d0020.0386b"]]},{"id":"26fd82b1.102bee","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":400,"y":300,"wires":[]},{"id":"b1a37390.5a0b6","type":"http request","z":"517537df.17b008","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":260,"wires":[["361f2ffb.6aa92"]]},{"id":"76b4ffc4.5dd5c","type":"counter-loop","z":"517537df.17b008","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":460,"y":60,"wires":[["aa18f7d4.5e54d8","5bbc6ea2.87e4f"],["23bfe573.5bfe4a"]]},{"id":"6ca85358.12d0cc","type":"ui_chart","z":"517537df.17b008","name":"","group":"bb9047d.8bb8ab8","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e2d","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":60,"wires":[[]]},{"id":"2cb4b26e.23731e","type":"function","z":"517537df.17b008","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":60,"wires":[["76b4ffc4.5dd5c"]]},{"id":"aa18f7d4.5e54d8","type":"function","z":"517537df.17b008","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":60,"wires":[["6ca85358.12d0cc"]]},{"id":"a1554c50.513fc","type":"function","z":"517537df.17b008","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["cd31f4ae.cec378"]]},{"id":"5bbc6ea2.87e4f","type":"function","z":"517537df.17b008","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":100,"wires":[["cd31f4ae.cec378"]]},{"id":"43bceb73.67ad04","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":300,"wires":[]},{"id":"178d0020.0386b","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":300,"wires":[]},{"id":"6ae8807e.47999","type":"ui_button","z":"517537df.17b008","name":"","group":"bb9047d.8bb8ab8","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Onion Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":20,"wires":[["6ca85358.12d0cc"]]},{"id":"2ebed4a8.8815fc","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":400,"wires":[]},{"id":"914b39aa.a95368","type":"function","z":"517537df.17b008","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["2ebed4a8.8815fc"]]},{"id":"b2c0441a.b92d48","type":"ui_form","z":"517537df.17b008","name":"","label":"","group":"7c0a09be.002168","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":360,"wires":[["a88c8b16.674208","a1554c50.513fc"]]},{"id":"a88c8b16.674208","type":"function","z":"517537df.17b008","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["2ebed4a8.8815fc","f1848ea.f1e197"]]},{"id":"6ce542ed.e61c8c","type":"ui_text","z":"517537df.17b008","group":"7c0a09be.002168","order":2,"width":8,"height":1,"name":"onion","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":500,"wires":[]},{"id":"f1848ea.f1e197","type":"function","z":"517537df.17b008","name":"PreToken","func":"var apikey=\"TPkWZlEYexJ_z9ZvmXbBIZHlBchEo1WLs709vsDDJkt1\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":460,"wires":[["6054f57c.6e47ec","8a456e6f.e6433"]]},{"id":"1a5447.8c34cbb9","type":"function","z":"517537df.17b008","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\" 75d38dca-402a-4337-be9b-398fa7ce8227\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":460,"wires":[["dda981a5.798b9","d8654665.10eb68"]]},{"id":"dda981a5.798b9","type":"http request","z":"517537df.17b008","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/418b8ec8-7d33-459e-8afc-2daffab17a4c/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":790,"y":460,"wires":[["14014e8d.2e9df1","45099713.96e9f8"]]},{"id":"6054f57c.6e47ec","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":500,"wires":[]},{"id":"8a456e6f.e6433","type":"http request","z":"517537df.17b008","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":460,"wires":[["1a5447.8c34cbb9"]]},{"id":"d8654665.10eb68","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":500,"wires":[]},{"id":"14014e8d.2e9df1","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":500,"wires":[]},{"id":"45099713.96e9f8","type":"function","z":"517537df.17b008","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":460,"wires":[["6ce542ed.e61c8c","e7c7f76d.b644c8"]]},{"id":"e7c7f76d.b644c8","type":"function","z":"517537df.17b008","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["cd31f4ae.cec378"]]},{"id":"a4eeb80c.9c2398","type":"ui_toast","z":"517537df.17b008","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":740,"wires":[]},{"id":"82574183.7a077","type":"function","z":"517537df.17b008","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":780,"wires":[["f93a22e7.92ab6"]]},{"id":"25e55807.938088","type":"function","z":"517537df.17b008","name":"PreToken","func":"var apikey=\"Zl30xYulroPV7p2sPhRIQzjwrtqK3PujfmVy_J4FkWRP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":860,"wires":[["7e7bde19.04e7d","26ab10d7.320b1"]]},{"id":"5b9829f8.f92f28","type":"ui_form","z":"517537df.17b008","name":"","label":"Arrival quantity in tons Potato Form","group":"3daa1962.40f146","order":1,"width":8,"height":4,"options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":760,"wires":[["a5d00d54.37fcf","82574183.7a077"]]},{"id":"f322af1a.cca0e","type":"function","z":"517537df.17b008","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"e99febbf-0357-4ebe-a1f9-a1c17c1472ea\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":860,"wires":[["41c6e5d3.b6a7bc","736e3385.3bfb6c"]]},{"id":"41c6e5d3.b6a7bc","type":"http request","z":"517537df.17b008","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/58694ac1-73ba-44a9-8341-9ae3f30f99dd/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":860,"wires":[["33fcb302.fd449c","c36949f0.45cc78"]]},{"id":"33fcb302.fd449c","type":"function","z":"517537df.17b008","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":860,"wires":[["869401bd.03322","c36949f0.45cc78"]]},{"id":"7e7bde19.04e7d","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":400,"y":900,"wires":[]},{"id":"26ab10d7.320b1","type":"http request","z":"517537df.17b008","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":860,"wires":[["f322af1a.cca0e"]]},{"id":"869401bd.03322","type":"counter-loop","z":"517537df.17b008","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":480,"y":680,"wires":[["2f2f9801.7bad88","4803fd3c.e455d4"],["25e55807.938088"]]},{"id":"8aaaec55.a0af1","type":"ui_chart","z":"517537df.17b008","name":"","group":"532c13cb.86bc8c","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":680,"wires":[[]]},{"id":"a5d00d54.37fcf","type":"function","z":"517537df.17b008","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":680,"wires":[["869401bd.03322"]]},{"id":"2f2f9801.7bad88","type":"function","z":"517537df.17b008","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":680,"wires":[["8aaaec55.a0af1"]]},{"id":"f93a22e7.92ab6","type":"function","z":"517537df.17b008","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":760,"wires":[["a4eeb80c.9c2398"]]},{"id":"4803fd3c.e455d4","type":"function","z":"517537df.17b008","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":720,"wires":[["a4eeb80c.9c2398"]]},{"id":"736e3385.3bfb6c","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":900,"wires":[]},{"id":"c36949f0.45cc78","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":900,"wires":[]},{"id":"e8ed74b1.ebc068","type":"ui_button","z":"517537df.17b008","name":"","group":"532c13cb.86bc8c","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Potato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":640,"wires":[["8aaaec55.a0af1"]]},{"id":"873e448.e7260b8","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":980,"wires":[]},{"id":"97aba8ee.d2e4f8","type":"function","z":"517537df.17b008","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":960,"wires":[["873e448.e7260b8"]]},{"id":"f953eacd.1e7f68","type":"function","z":"517537df.17b008","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1000,"wires":[["873e448.e7260b8","ace3f184.8a25d"]]},{"id":"ace3f184.8a25d","type":"function","z":"517537df.17b008","name":"PreToken","func":"var apikey=\"Zl30xYulroPV7p2sPhRIQzjwrtqK3PujfmVy_J4FkWRP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":1040,"wires":[["b2c0bdb8.89596","30cd7d30.f27112"]]},{"id":"74c28c43.70b964","type":"function","z":"517537df.17b008","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"e99febbf-0357-4ebe-a1f9-a1c17c1472ea\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1040,"wires":[["1a1c0b85.601884","e1029cc6.3d37e"]]},{"id":"1a1c0b85.601884","type":"http request","z":"517537df.17b008","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/97895e45-d390-47bc-8c1b-ef9211ad6194/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":870,"y":1040,"wires":[["bb7f52d5.a638a","c0ad0f35.e12b5"]]},{"id":"b2c0bdb8.89596","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":1080,"wires":[]},{"id":"30cd7d30.f27112","type":"http request","z":"517537df.17b008","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":1040,"wires":[["74c28c43.70b964"]]},{"id":"e1029cc6.3d37e","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":1080,"wires":[]},{"id":"bb7f52d5.a638a","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":1080,"wires":[]},{"id":"c0ad0f35.e12b5","type":"function","z":"517537df.17b008","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1040,"wires":[["4a17b864.4198f8","e002f34e.1abbc"]]},{"id":"4a17b864.4198f8","type":"function","z":"517537df.17b008","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":800,"wires":[["a4eeb80c.9c2398"]]},{"id":"ce8370d.98a1e9","type":"ui_form","z":"517537df.17b008","name":"","label":"","group":"d037f97d.935108","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":960,"wires":[["f953eacd.1e7f68","f93a22e7.92ab6"]]},{"id":"e002f34e.1abbc","type":"ui_text","z":"517537df.17b008","group":"d037f97d.935108","order":2,"width":8,"height":1,"name":"potato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":1080,"wires":[]},{"id":"7b42752f.d64bcc","type":"ui_toast","z":"517537df.17b008","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1130,"y":1320,"wires":[]},{"id":"9ac56a03.707e48","type":"function","z":"517537df.17b008","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1380,"wires":[["259143ae.a473bc"]]},{"id":"f0b69622.733d38","type":"function","z":"517537df.17b008","name":"PreToken","func":"var apikey=\"7H-wohxqMweIzbPVgp5Gn0J5pfNf7AyURv3FKj6F1tmC\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":1440,"wires":[["b95218e2.a2ce58","79ae1757.0bdcc8"]]},{"id":"14208afd.926725","type":"ui_form","z":"517537df.17b008","name":"","label":"Arrival quantity in tons Tomato Form","group":"3566676d.c63258","order":1,"width":8,"height":4,"options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":1340,"wires":[["d7d4683e.c0f468","9ac56a03.707e48"]]},{"id":"5fea1c3.cb9ffe4","type":"function","z":"517537df.17b008","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"c34677fd-bb9c-421a-974f-f95edd1b2dee\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1440,"wires":[["a3c2cf64.96169","4f45692a.6037a8"]]},{"id":"a3c2cf64.96169","type":"http request","z":"517537df.17b008","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/113d779d-e0dd-40b5-8ffe-d6da21b961b6/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":1440,"wires":[["6bbea39b.997d6c","8b782874.f247f8"]]},{"id":"6bbea39b.997d6c","type":"function","z":"517537df.17b008","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1440,"wires":[["685b4d51.e5e9b4","8b782874.f247f8"]]},{"id":"b95218e2.a2ce58","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":440,"y":1480,"wires":[]},{"id":"79ae1757.0bdcc8","type":"http request","z":"517537df.17b008","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1440,"wires":[["5fea1c3.cb9ffe4"]]},{"id":"685b4d51.e5e9b4","type":"counter-loop","z":"517537df.17b008","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":460,"y":1260,"wires":[["24a050a8.49ac3","fe03f9fe.67d0c8"],["f0b69622.733d38"]]},{"id":"a0c32562.cc2bd8","type":"ui_chart","z":"517537df.17b008","name":"","group":"3ebb85b8.96167a","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":1260,"wires":[[]]},{"id":"d7d4683e.c0f468","type":"function","z":"517537df.17b008","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1260,"wires":[["685b4d51.e5e9b4"]]},{"id":"24a050a8.49ac3","type":"function","z":"517537df.17b008","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1260,"wires":[["a0c32562.cc2bd8"]]},{"id":"259143ae.a473bc","type":"function","z":"517537df.17b008","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1340,"wires":[["7b42752f.d64bcc"]]},{"id":"fe03f9fe.67d0c8","type":"function","z":"517537df.17b008","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1300,"wires":[["7b42752f.d64bcc"]]},{"id":"4f45692a.6037a8","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1480,"wires":[]},{"id":"8b782874.f247f8","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1480,"wires":[]},{"id":"8fe06098.2aa78","type":"ui_button","z":"517537df.17b008","name":"","group":"3ebb85b8.96167a","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Tomato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":1220,"wires":[["a0c32562.cc2bd8"]]},{"id":"3a3f067e.145ada","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":1600,"wires":[]},{"id":"28fbd13b.20de8e","type":"function","z":"517537df.17b008","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1560,"wires":[["3a3f067e.145ada"]]},{"id":"1c634e1e.32bd12","type":"function","z":"517537df.17b008","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1600,"wires":[["3a3f067e.145ada","692b0abb.fdf494"]]},{"id":"692b0abb.fdf494","type":"function","z":"517537df.17b008","name":"PreToken","func":"var apikey=\"7H-wohxqMweIzbPVgp5Gn0J5pfNf7AyURv3FKj6F1tmC\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":1660,"wires":[["a6ecbe8f.4fea","e8b88f42.bb3dd"]]},{"id":"2bffc6be.43717a","type":"function","z":"517537df.17b008","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"c34677fd-bb9c-421a-974f-f95edd1b2dee\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1660,"wires":[["ef05ee25.8eae5","723fe079.65ad6"]]},{"id":"ef05ee25.8eae5","type":"http request","z":"517537df.17b008","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/2f821c6c-2714-42a6-8edb-85077f65258c/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":1660,"wires":[["caa20aa0.7faf78","ede000ab.0d8c1"]]},{"id":"a6ecbe8f.4fea","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":1700,"wires":[]},{"id":"e8b88f42.bb3dd","type":"http request","z":"517537df.17b008","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1660,"wires":[["2bffc6be.43717a"]]},{"id":"723fe079.65ad6","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":1700,"wires":[]},{"id":"caa20aa0.7faf78","type":"debug","z":"517537df.17b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1700,"wires":[]},{"id":"ede000ab.0d8c1","type":"function","z":"517537df.17b008","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1660,"wires":[["98ab2380.39cab","75ef1f4c.41f16"]]},{"id":"98ab2380.39cab","type":"function","z":"517537df.17b008","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1380,"wires":[["7b42752f.d64bcc"]]},{"id":"489fa47c.60daac","type":"ui_form","z":"517537df.17b008","name":"","label":"","group":"33623c72.4c5454","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":1560,"wires":[["1c634e1e.32bd12","259143ae.a473bc"]]},{"id":"75ef1f4c.41f16","type":"ui_text","z":"517537df.17b008","group":"33623c72.4c5454","order":2,"width":8,"height":1,"name":"Tomato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":1700,"wires":[]},{"id":"10ffae5c.0d17e2","type":"comment","z":"517537df.17b008","name":"Created by Venkata Gunasekhar V From team VVS For IBM Hack Challenge 2020","info":"","x":1270,"y":1820,"wires":[]},{"id":"10ea6aec.e4e875","type":"comment","z":"517537df.17b008","name":"input","info":"","x":74.70703125,"y":202.1875,"wires":[]},{"id":"6b56c4d7.1aaa0c","type":"comment","z":"517537df.17b008","name":"input","info":"","x":70,"y":400,"wires":[]},{"id":"781b5c07.d78494","type":"comment","z":"517537df.17b008","name":"input","info":"","x":50,"y":700,"wires":[]},{"id":"8c4faf3e.782cf","type":"comment","z":"517537df.17b008","name":"input","info":"","x":90,"y":1000,"wires":[]},{"id":"48f9417a.12975","type":"comment","z":"517537df.17b008","name":"input","info":"","x":70,"y":1380,"wires":[]},{"id":"1fe5d1b7.86d59e","type":"comment","z":"517537df.17b008","name":"input","info":"","x":70,"y":1600,"wires":[]},{"id":"dc868517.57f618","type":"comment","z":"517537df.17b008","name":"collect ML output data and update the chart with that day's amount","info":"","x":1220,"y":820,"wires":[]},{"id":"104c4fa7.4ea8b","type":"comment","z":"517537df.17b008","name":"collect ML output data and update the chart with that day's amount","info":"","x":1199.70703125,"y":224.6875,"wires":[]},{"id":"334b95ff.cf26ba","type":"comment","z":"517537df.17b008","name":"collect ML output data and update the chart with that day's amount","info":"","x":1220,"y":1400,"wires":[]},{"id":"8d9e4f5d.a56ac","type":"comment","z":"517537df.17b008","name":"loop for collecting ML prediction for each day ","info":"","x":449.70703125,"y":25.937501907348633,"wires":[]},{"id":"1e758b42.21a7c5","type":"comment","z":"517537df.17b008","name":"loop for collecting ML prediction for each day ","info":"","x":470,"y":640,"wires":[]},{"id":"53d8d2e.a6c3f2c","type":"comment","z":"517537df.17b008","name":"loop for collecting ML prediction for each day ","info":"","x":450,"y":1220,"wires":[]},{"id":"2d3a866d.b7e0ba","type":"comment","z":"517537df.17b008","name":"output processing functions","info":"","x":847.20703125,"y":118.4375,"wires":[]},{"id":"686d1081.6bb28","type":"comment","z":"517537df.17b008","name":"output processing functions","info":"","x":870,"y":740,"wires":[]},{"id":"eba0c35e.034d4","type":"comment","z":"517537df.17b008","name":"output processing functions","info":"","x":890,"y":1320,"wires":[]},{"id":"a90d4926.7d8da8","type":"ui_group","z":"","name":"No of Prediction days Onion","tab":"bae448a6.a06058","order":1,"disp":true,"width":"8","collapse":false},{"id":"bb9047d.8bb8ab8","type":"ui_group","z":"","name":"Onion Demand Forecast In Hyderbad From 2020","tab":"bae448a6.a06058","order":2,"disp":true,"width":"16","collapse":false},{"id":"7c0a09be.002168","type":"ui_group","z":"","name":"Retail Price Estimation Onion","tab":"bae448a6.a06058","order":3,"disp":true,"width":"8","collapse":false},{"id":"3daa1962.40f146","type":"ui_group","z":"","name":"No of prediction days Potato","tab":"bae448a6.a06058","order":4,"disp":true,"width":"8","collapse":false},{"id":"532c13cb.86bc8c","type":"ui_group","z":"","name":"Potato Demand Forecast In Hyderbad From 2020","tab":"bae448a6.a06058","order":5,"disp":true,"width":"16","collapse":false},{"id":"d037f97d.935108","type":"ui_group","z":"","name":"Retail Price Estimation Potato","tab":"bae448a6.a06058","order":6,"disp":true,"width":"8","collapse":false},{"id":"3566676d.c63258","type":"ui_group","z":"","name":"No of prediction days Tomato","tab":"bae448a6.a06058","order":7,"disp":true,"width":"8","collapse":false},{"id":"3ebb85b8.96167a","type":"ui_group","z":"","name":"Tomato Demand Forecast In Hyderbad From 2020","tab":"bae448a6.a06058","order":8,"disp":true,"width":"16","collapse":false},{"id":"33623c72.4c5454","type":"ui_group","z":"","name":"Retail Price Estimation Tomato","tab":"bae448a6.a06058","order":9,"disp":true,"width":"8","collapse":false},{"id":"bae448a6.a06058","type":"ui_tab","z":"","name":"Hyderbad","icon":"dashboard","order":6,"disabled":false,"hidden":false}]