json code/kolkatta.json
[{"id":"62841a68.98b704","type":"tab","label":"Kolkatta","disabled":false,"info":""},{"id":"17d65aff.cb6445","type":"ui_toast","z":"62841a68.98b704","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":140,"wires":[]},{"id":"c5d7dbb0.7ef478","type":"function","z":"62841a68.98b704","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["4491f437.22f46c"]]},{"id":"eaeb7ba.5010c88","type":"function","z":"62841a68.98b704","name":"PreToken","func":"var apikey=\"0LYblGAgJ1JopOHmI7v917Zt04rKx2F6nO0FQqVz3T1f\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":260,"wires":[["e21a9dfc.85955","44fd77d.d6db588"]]},{"id":"58078b27.a4fd94","type":"ui_form","z":"62841a68.98b704","name":"","label":"Arrival quantity in tons Onion Form","group":"28d93952.03ee86","order":1,"width":8,"height":4,"options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":160,"wires":[["731e2ca0.62c0b4","c5d7dbb0.7ef478"]]},{"id":"43c8ca6.26fa634","type":"function","z":"62841a68.98b704","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"864997fc-e93a-4cb6-a61d-6bbcc047f252\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["4411c631.11cd88","97dfb002.dea7e"]]},{"id":"4411c631.11cd88","type":"http request","z":"62841a68.98b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/fdc89d5d-de8a-443a-a230-ab1fe009e157/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":790,"y":260,"wires":[["58388230.d398bc","7c642274.21944c"]]},{"id":"58388230.d398bc","type":"function","z":"62841a68.98b704","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":260,"wires":[["11b4ebf0.b1ef94","7c642274.21944c"]]},{"id":"e21a9dfc.85955","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":400,"y":300,"wires":[]},{"id":"44fd77d.d6db588","type":"http request","z":"62841a68.98b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":260,"wires":[["43c8ca6.26fa634"]]},{"id":"11b4ebf0.b1ef94","type":"counter-loop","z":"62841a68.98b704","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":460,"y":60,"wires":[["632fe87b.808b58","d2754cbf.473fc"],["eaeb7ba.5010c88"]]},{"id":"2d403672.48bffa","type":"ui_chart","z":"62841a68.98b704","name":"","group":"2df01e9c.301852","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e2d","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":60,"wires":[[]]},{"id":"731e2ca0.62c0b4","type":"function","z":"62841a68.98b704","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":60,"wires":[["11b4ebf0.b1ef94"]]},{"id":"632fe87b.808b58","type":"function","z":"62841a68.98b704","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":60,"wires":[["2d403672.48bffa"]]},{"id":"4491f437.22f46c","type":"function","z":"62841a68.98b704","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["17d65aff.cb6445"]]},{"id":"d2754cbf.473fc","type":"function","z":"62841a68.98b704","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":100,"wires":[["17d65aff.cb6445"]]},{"id":"97dfb002.dea7e","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":300,"wires":[]},{"id":"7c642274.21944c","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":300,"wires":[]},{"id":"f7c0b20e.a9f1","type":"ui_button","z":"62841a68.98b704","name":"","group":"2df01e9c.301852","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Onion Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":20,"wires":[["2d403672.48bffa"]]},{"id":"c8bcbf67.47434","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":400,"wires":[]},{"id":"652e64b5.3fbe3c","type":"function","z":"62841a68.98b704","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["c8bcbf67.47434"]]},{"id":"38e3f72b.aa1058","type":"ui_form","z":"62841a68.98b704","name":"","label":"","group":"61468ffe.3a11e","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":360,"wires":[["7c0c5244.07d20c","4491f437.22f46c"]]},{"id":"7c0c5244.07d20c","type":"function","z":"62841a68.98b704","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["c8bcbf67.47434","467a845.c9faa7c"]]},{"id":"5a0cd83e.6cb198","type":"ui_text","z":"62841a68.98b704","group":"61468ffe.3a11e","order":2,"width":8,"height":1,"name":"onion","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":500,"wires":[]},{"id":"467a845.c9faa7c","type":"function","z":"62841a68.98b704","name":"PreToken","func":"var apikey=\"0LYblGAgJ1JopOHmI7v917Zt04rKx2F6nO0FQqVz3T1f\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":460,"wires":[["a4d37e2e.93cb8","f1de364c.00dc28"]]},{"id":"c33b173a.dd55c8","type":"function","z":"62841a68.98b704","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"864997fc-e93a-4cb6-a61d-6bbcc047f252\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":460,"wires":[["70f47f6f.e0529","e7978165.4e2ff"]]},{"id":"70f47f6f.e0529","type":"http request","z":"62841a68.98b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/566866d8-1ca1-46a8-a891-52d111a6d61b/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":790,"y":460,"wires":[["2365be6b.349ef2","bf9654f7.087cb8"]]},{"id":"a4d37e2e.93cb8","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":500,"wires":[]},{"id":"f1de364c.00dc28","type":"http request","z":"62841a68.98b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":460,"wires":[["c33b173a.dd55c8"]]},{"id":"e7978165.4e2ff","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":500,"wires":[]},{"id":"2365be6b.349ef2","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":500,"wires":[]},{"id":"bf9654f7.087cb8","type":"function","z":"62841a68.98b704","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":460,"wires":[["5a0cd83e.6cb198","acb572d.671c69"]]},{"id":"acb572d.671c69","type":"function","z":"62841a68.98b704","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["17d65aff.cb6445"]]},{"id":"d457b170.35b62","type":"ui_toast","z":"62841a68.98b704","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":740,"wires":[]},{"id":"405e8170.509dd","type":"function","z":"62841a68.98b704","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":780,"wires":[["ae80d9fd.b19b18"]]},{"id":"831d902e.a6b6b","type":"function","z":"62841a68.98b704","name":"PreToken","func":"var apikey=\"nrl_hOK8nFYsa4YH-UfTmuOGJB7k1TVih0jtb5NvG42K\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":860,"wires":[["20829eb9.8addf2","87914a94.f78178"]]},{"id":"bdc726fd.4ae548","type":"ui_form","z":"62841a68.98b704","name":"","label":"Arrival quantity in tons Potato Form","group":"3765217b.8f8dce","order":1,"width":8,"height":4,"options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":760,"wires":[["82775180.c73c3","405e8170.509dd"]]},{"id":"b56c9517.b70c68","type":"function","z":"62841a68.98b704","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"234a7fff-22d6-479c-88cd-143354cdfccc\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":860,"wires":[["91fb2b33.0f3e18","58e03637.6509d8"]]},{"id":"91fb2b33.0f3e18","type":"http request","z":"62841a68.98b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/31657856-2fed-4f16-ad06-09641ee9713b/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":860,"wires":[["ed2c3b93.8a0378","b2ddee0e.5495d"]]},{"id":"ed2c3b93.8a0378","type":"function","z":"62841a68.98b704","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":860,"wires":[["c6f076c4.00f208","b2ddee0e.5495d"]]},{"id":"20829eb9.8addf2","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":400,"y":900,"wires":[]},{"id":"87914a94.f78178","type":"http request","z":"62841a68.98b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":860,"wires":[["b56c9517.b70c68"]]},{"id":"c6f076c4.00f208","type":"counter-loop","z":"62841a68.98b704","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":480,"y":680,"wires":[["d247ada9.53fa2","ed3e3b24.05a438"],["831d902e.a6b6b"]]},{"id":"84a3df8c.00e2d","type":"ui_chart","z":"62841a68.98b704","name":"","group":"8c93dae4.fb6f58","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":680,"wires":[[]]},{"id":"82775180.c73c3","type":"function","z":"62841a68.98b704","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":680,"wires":[["c6f076c4.00f208"]]},{"id":"d247ada9.53fa2","type":"function","z":"62841a68.98b704","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":680,"wires":[["84a3df8c.00e2d"]]},{"id":"ae80d9fd.b19b18","type":"function","z":"62841a68.98b704","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":760,"wires":[["d457b170.35b62"]]},{"id":"ed3e3b24.05a438","type":"function","z":"62841a68.98b704","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":720,"wires":[["d457b170.35b62"]]},{"id":"58e03637.6509d8","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":900,"wires":[]},{"id":"b2ddee0e.5495d","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":900,"wires":[]},{"id":"a3f1de93.f4f55","type":"ui_button","z":"62841a68.98b704","name":"","group":"8c93dae4.fb6f58","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Potato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":640,"wires":[["84a3df8c.00e2d"]]},{"id":"bbd80156.2c9ae","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":980,"wires":[]},{"id":"947a623.d3a40a","type":"function","z":"62841a68.98b704","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":960,"wires":[["bbd80156.2c9ae"]]},{"id":"caa088f0.b44d08","type":"function","z":"62841a68.98b704","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1000,"wires":[["bbd80156.2c9ae","3aa859f3.638566"]]},{"id":"3aa859f3.638566","type":"function","z":"62841a68.98b704","name":"PreToken","func":"var apikey=\"adRRgrq4np4u-c5-1EppEHI675e2KbfVWpCvk1yW_MWR\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":1040,"wires":[["4b286415.80387c","ca29087a.bc9d68"]]},{"id":"fd0f801a.1142a","type":"function","z":"62841a68.98b704","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"5aa83119-afab-4b5b-b56e-a56e59a27e79\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1040,"wires":[["bc4274f8.0f5b68","45f6298a.a81478"]]},{"id":"bc4274f8.0f5b68","type":"http request","z":"62841a68.98b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/18f5b46b-f680-40a7-b7e9-050ac0ea95dc/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":870,"y":1040,"wires":[["90b9863f.3d06d8","2589daf.2c58926"]]},{"id":"4b286415.80387c","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":1080,"wires":[]},{"id":"ca29087a.bc9d68","type":"http request","z":"62841a68.98b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":1040,"wires":[["fd0f801a.1142a"]]},{"id":"45f6298a.a81478","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":1080,"wires":[]},{"id":"90b9863f.3d06d8","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":1080,"wires":[]},{"id":"2589daf.2c58926","type":"function","z":"62841a68.98b704","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1040,"wires":[["773c41cc.42ea1","7ee89b32.219374"]]},{"id":"773c41cc.42ea1","type":"function","z":"62841a68.98b704","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":800,"wires":[["d457b170.35b62"]]},{"id":"910497c9.2fdd68","type":"ui_form","z":"62841a68.98b704","name":"","label":"","group":"81d9f474.dcca68","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":960,"wires":[["caa088f0.b44d08","ae80d9fd.b19b18"]]},{"id":"7ee89b32.219374","type":"ui_text","z":"62841a68.98b704","group":"81d9f474.dcca68","order":2,"width":8,"height":1,"name":"potato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":1080,"wires":[]},{"id":"6dbb8025.e9607","type":"ui_toast","z":"62841a68.98b704","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1130,"y":1320,"wires":[]},{"id":"c2285367.3775a","type":"function","z":"62841a68.98b704","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1380,"wires":[["75a5d55b.76ea5c"]]},{"id":"1bde6369.7ff13d","type":"function","z":"62841a68.98b704","name":"PreToken","func":"var apikey=\"BkQE4ktDnuodTi5nSoFH4opeQKr62HKE5BS8jU7FgeMF\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":1440,"wires":[["ebd09a36.771ba8","688eef9f.bfe0f"]]},{"id":"77bd455d.1e760c","type":"ui_form","z":"62841a68.98b704","name":"","label":"Arrival quantity in tons Tomato Form","group":"a6a94523.659698","order":1,"width":8,"height":4,"options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":1340,"wires":[["4c9ece8f.1892a","c2285367.3775a"]]},{"id":"66340d4.fa3e4f4","type":"function","z":"62841a68.98b704","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"d3b4a370-e97c-41b1-84f0-ef8b0a645855\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1440,"wires":[["bc2b859c.2f4668","7b4f5e53.69f3c"]]},{"id":"bc2b859c.2f4668","type":"http request","z":"62841a68.98b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/4e4892ec-ced1-486c-9a7f-447b59f7dd8f/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":1440,"wires":[["4cca11ed.b8494","162f8a96.dbc2e5"]]},{"id":"4cca11ed.b8494","type":"function","z":"62841a68.98b704","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1440,"wires":[["12bc2f24.b17a41","162f8a96.dbc2e5"]]},{"id":"ebd09a36.771ba8","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":440,"y":1480,"wires":[]},{"id":"688eef9f.bfe0f","type":"http request","z":"62841a68.98b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1440,"wires":[["66340d4.fa3e4f4"]]},{"id":"12bc2f24.b17a41","type":"counter-loop","z":"62841a68.98b704","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":460,"y":1260,"wires":[["944d3f83.f300f","2798038d.b99b6c"],["1bde6369.7ff13d"]]},{"id":"19107cc7.2bf243","type":"ui_chart","z":"62841a68.98b704","name":"","group":"707bbaa3.0f29e4","order":1,"width":16,"height":9,"label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":1260,"wires":[[]]},{"id":"4c9ece8f.1892a","type":"function","z":"62841a68.98b704","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1260,"wires":[["12bc2f24.b17a41"]]},{"id":"944d3f83.f300f","type":"function","z":"62841a68.98b704","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1260,"wires":[["19107cc7.2bf243"]]},{"id":"75a5d55b.76ea5c","type":"function","z":"62841a68.98b704","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1340,"wires":[["6dbb8025.e9607"]]},{"id":"2798038d.b99b6c","type":"function","z":"62841a68.98b704","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1300,"wires":[["6dbb8025.e9607"]]},{"id":"7b4f5e53.69f3c","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1480,"wires":[]},{"id":"162f8a96.dbc2e5","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1480,"wires":[]},{"id":"f632d736.ae37a8","type":"ui_button","z":"62841a68.98b704","name":"","group":"707bbaa3.0f29e4","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Tomato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":1220,"wires":[["19107cc7.2bf243"]]},{"id":"6fc6df20.481e3","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":1600,"wires":[]},{"id":"f1bdaad0.a21e88","type":"function","z":"62841a68.98b704","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1560,"wires":[["6fc6df20.481e3"]]},{"id":"c50a60b7.1daa9","type":"function","z":"62841a68.98b704","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1600,"wires":[["6fc6df20.481e3","92f96b4d.0a7d18"]]},{"id":"92f96b4d.0a7d18","type":"function","z":"62841a68.98b704","name":"PreToken","func":"var apikey=\"SYVbZPs_mMjhnlRcWlwrZbYK5M12pksKnZ64t7OlbZCM\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":1660,"wires":[["e3a101f7.9f21a","ffec6705.6eb678"]]},{"id":"869a65a3.4bf098","type":"function","z":"62841a68.98b704","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"128bd6e1-2b3b-4c06-86ce-651b4990403b\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1660,"wires":[["9efa0915.9321c8","7f0b6ec7.0d00e"]]},{"id":"9efa0915.9321c8","type":"http request","z":"62841a68.98b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/3a5ffbd2-a526-439a-961b-e55778843a73/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":1660,"wires":[["e41898ca.1b8a28","98f89008.3d5ee"]]},{"id":"e3a101f7.9f21a","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":1700,"wires":[]},{"id":"ffec6705.6eb678","type":"http request","z":"62841a68.98b704","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1660,"wires":[["869a65a3.4bf098"]]},{"id":"7f0b6ec7.0d00e","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":1700,"wires":[]},{"id":"e41898ca.1b8a28","type":"debug","z":"62841a68.98b704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1700,"wires":[]},{"id":"98f89008.3d5ee","type":"function","z":"62841a68.98b704","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1660,"wires":[["5e0a3846.761378","f30b7eaf.57627"]]},{"id":"5e0a3846.761378","type":"function","z":"62841a68.98b704","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1380,"wires":[["6dbb8025.e9607"]]},{"id":"faa42278.b32e8","type":"ui_form","z":"62841a68.98b704","name":"","label":"","group":"12b15389.b4dd9c","order":1,"width":8,"height":4,"options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":1560,"wires":[["c50a60b7.1daa9","75a5d55b.76ea5c"]]},{"id":"f30b7eaf.57627","type":"ui_text","z":"62841a68.98b704","group":"12b15389.b4dd9c","order":2,"width":8,"height":1,"name":"Tomato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":1700,"wires":[]},{"id":"5a45bf65.97059","type":"comment","z":"62841a68.98b704","name":"Created by Venkata Gunasekhar V From team VVS For IBM Hack Challenge 2020","info":"","x":1270,"y":1820,"wires":[]},{"id":"60025d3f.0e13f4","type":"comment","z":"62841a68.98b704","name":"input","info":"","x":74.70703125,"y":202.1875,"wires":[]},{"id":"cdc0c4ed.76e758","type":"comment","z":"62841a68.98b704","name":"input","info":"","x":70,"y":400,"wires":[]},{"id":"d91608e9.d079c8","type":"comment","z":"62841a68.98b704","name":"input","info":"","x":50,"y":700,"wires":[]},{"id":"712902cc.8e601c","type":"comment","z":"62841a68.98b704","name":"input","info":"","x":90,"y":1000,"wires":[]},{"id":"1f63b56f.9a72db","type":"comment","z":"62841a68.98b704","name":"input","info":"","x":70,"y":1380,"wires":[]},{"id":"6e0f3801.1d61c8","type":"comment","z":"62841a68.98b704","name":"input","info":"","x":70,"y":1600,"wires":[]},{"id":"cfbe2451.2c7e98","type":"comment","z":"62841a68.98b704","name":"collect ML output data and update the chart with that day's amount","info":"","x":1220,"y":820,"wires":[]},{"id":"71037f4.e81c88","type":"comment","z":"62841a68.98b704","name":"collect ML output data and update the chart with that day's amount","info":"","x":1199.70703125,"y":224.6875,"wires":[]},{"id":"783c6469.46833c","type":"comment","z":"62841a68.98b704","name":"collect ML output data and update the chart with that day's amount","info":"","x":1220,"y":1400,"wires":[]},{"id":"12299382.de857c","type":"comment","z":"62841a68.98b704","name":"loop for collecting ML prediction for each day ","info":"","x":449.70703125,"y":25.937501907348633,"wires":[]},{"id":"1d436f0e.dd26f1","type":"comment","z":"62841a68.98b704","name":"loop for collecting ML prediction for each day ","info":"","x":470,"y":640,"wires":[]},{"id":"aa8b3c9c.ba28f","type":"comment","z":"62841a68.98b704","name":"loop for collecting ML prediction for each day ","info":"","x":450,"y":1220,"wires":[]},{"id":"fba964aa.5b11b8","type":"comment","z":"62841a68.98b704","name":"output processing functions","info":"","x":847.20703125,"y":118.4375,"wires":[]},{"id":"a2d28312.b2808","type":"comment","z":"62841a68.98b704","name":"output processing functions","info":"","x":870,"y":740,"wires":[]},{"id":"db394153.9a087","type":"comment","z":"62841a68.98b704","name":"output processing functions","info":"","x":890,"y":1320,"wires":[]},{"id":"28d93952.03ee86","type":"ui_group","z":"","name":"No of Prediction days Onion","tab":"3af38145.ccd16e","order":1,"disp":true,"width":"8","collapse":false},{"id":"2df01e9c.301852","type":"ui_group","z":"","name":"Onion Demand Forecast In Kolkatta From 2020","tab":"3af38145.ccd16e","order":2,"disp":true,"width":"16","collapse":false},{"id":"61468ffe.3a11e","type":"ui_group","z":"","name":"Retail Price Estimation Onion","tab":"3af38145.ccd16e","order":3,"disp":true,"width":"8","collapse":false},{"id":"3765217b.8f8dce","type":"ui_group","z":"","name":"No of prediction days Potato","tab":"3af38145.ccd16e","order":4,"disp":true,"width":"8","collapse":false},{"id":"8c93dae4.fb6f58","type":"ui_group","z":"","name":"Potato Demand Forecast In Kolkatta From 2020","tab":"3af38145.ccd16e","order":5,"disp":true,"width":"16","collapse":false},{"id":"81d9f474.dcca68","type":"ui_group","z":"","name":"Retail Price Estimation Potato","tab":"3af38145.ccd16e","order":6,"disp":true,"width":"8","collapse":false},{"id":"a6a94523.659698","type":"ui_group","z":"","name":"No of prediction days Tomato","tab":"3af38145.ccd16e","order":7,"disp":true,"width":"8","collapse":false},{"id":"707bbaa3.0f29e4","type":"ui_group","z":"","name":"Tomato Demand Forecast In Kolkatta From 2020","tab":"3af38145.ccd16e","order":8,"disp":true,"width":"16","collapse":false},{"id":"12b15389.b4dd9c","type":"ui_group","z":"","name":"Retail Price Estimation Tomato","tab":"3af38145.ccd16e","order":9,"disp":true,"width":"8","collapse":false},{"id":"3af38145.ccd16e","type":"ui_tab","z":"","name":"Kolkatta","icon":"dashboard","order":5,"disabled":false,"hidden":false}]