json code/mumbai.json
[{"id":"bf1e550.46cd6a8","type":"tab","label":"Mumbai","disabled":false,"info":""},{"id":"144099b2.a2d3f6","type":"ui_toast","z":"bf1e550.46cd6a8","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1130,"y":100,"wires":[]},{"id":"b7377ac8.82fcc8","type":"function","z":"bf1e550.46cd6a8","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["2f8aeb5c.8b9e94"]]},{"id":"be84363c.288568","type":"function","z":"bf1e550.46cd6a8","name":"PreToken","func":"var apikey=\"hSnZH7r2c9-dBtb6o75faFYDm9rI2mbEG_XIKMcieoPy\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["8e3bc167.22c66","3e8acbc.6dd5234"]]},{"id":"a8af5142.8f833","type":"ui_form","z":"bf1e550.46cd6a8","name":"","label":"Arrival quantity in tons Onion Form","group":"998c75da.21d9b8","order":1,"width":8,"height":"5","options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":140,"wires":[["7286210e.c3ce7","b7377ac8.82fcc8"]]},{"id":"20bf4a6e.078d06","type":"function","z":"bf1e550.46cd6a8","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"b000888a-a0c5-448e-a462-ba13d700b8a1\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":240,"wires":[["ed08c2ca.4433","8898b074.906c"]]},{"id":"ed08c2ca.4433","type":"http request","z":"bf1e550.46cd6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/8ad70ea1-1bbf-40ec-947d-eba631607877/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":240,"wires":[["d06b9c3b.e8795","6b549171.14ae8"]]},{"id":"d06b9c3b.e8795","type":"function","z":"bf1e550.46cd6a8","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":240,"wires":[["b674ac77.9899d","6b549171.14ae8"]]},{"id":"8e3bc167.22c66","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":460,"y":280,"wires":[]},{"id":"3e8acbc.6dd5234","type":"http request","z":"bf1e550.46cd6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":240,"wires":[["20bf4a6e.078d06"]]},{"id":"b674ac77.9899d","type":"counter-loop","z":"bf1e550.46cd6a8","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":460,"y":60,"wires":[["f0d11f83.8d267","5b8c4927.6e4a98"],["be84363c.288568"]]},{"id":"43e9dded.a725a4","type":"ui_chart","z":"bf1e550.46cd6a8","name":"","group":"61fca04f.2dbf9","order":1,"width":16,"height":"9","label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e2d","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":60,"wires":[[]]},{"id":"7286210e.c3ce7","type":"function","z":"bf1e550.46cd6a8","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":60,"wires":[["b674ac77.9899d"]]},{"id":"f0d11f83.8d267","type":"function","z":"bf1e550.46cd6a8","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":60,"wires":[["43e9dded.a725a4"]]},{"id":"2f8aeb5c.8b9e94","type":"function","z":"bf1e550.46cd6a8","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":140,"wires":[["144099b2.a2d3f6"]]},{"id":"5b8c4927.6e4a98","type":"function","z":"bf1e550.46cd6a8","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":100,"wires":[["144099b2.a2d3f6"]]},{"id":"8898b074.906c","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":280,"wires":[]},{"id":"6b549171.14ae8","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":280,"wires":[]},{"id":"dd5657b5.e51dd8","type":"ui_button","z":"bf1e550.46cd6a8","name":"","group":"61fca04f.2dbf9","order":2,"width":16,"height":1,"passthru":false,"label":"Reset Onion Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":20,"wires":[["43e9dded.a725a4"]]},{"id":"d1363ec1.3666c","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":380,"wires":[]},{"id":"186001c.cb58cfe","type":"function","z":"bf1e550.46cd6a8","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["d1363ec1.3666c"]]},{"id":"365e17ce.a62478","type":"ui_form","z":"bf1e550.46cd6a8","name":"","label":"","group":"610d2301.2b02ac","order":1,"width":"8","height":"4","options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":360,"wires":[["b2ea6d0a.b1d8","2f8aeb5c.8b9e94"]]},{"id":"b2ea6d0a.b1d8","type":"function","z":"bf1e550.46cd6a8","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["d1363ec1.3666c","a8d55c18.b35f3"]]},{"id":"16117926.3471a7","type":"ui_text","z":"bf1e550.46cd6a8","group":"610d2301.2b02ac","order":2,"width":"8","height":"1","name":"onion","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":500,"wires":[]},{"id":"a8d55c18.b35f3","type":"function","z":"bf1e550.46cd6a8","name":"PreToken","func":"var apikey=\"hSnZH7r2c9-dBtb6o75faFYDm9rI2mbEG_XIKMcieoPy\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":460,"wires":[["ab64436f.ce5dc","e55c20b3.05b0f"]]},{"id":"b95176b.9745188","type":"function","z":"bf1e550.46cd6a8","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"b000888a-a0c5-448e-a462-ba13d700b8a1\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":460,"wires":[["174dbb69.03f5b5","e2729958.b348a8"]]},{"id":"174dbb69.03f5b5","type":"http request","z":"bf1e550.46cd6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/fb7245fe-45ce-44b5-a479-e1e070ad39e5/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":460,"wires":[["9266e32a.fe4bf","9cfe8dda.38a07"]]},{"id":"ab64436f.ce5dc","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":500,"wires":[]},{"id":"e55c20b3.05b0f","type":"http request","z":"bf1e550.46cd6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":460,"wires":[["b95176b.9745188"]]},{"id":"e2729958.b348a8","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":500,"wires":[]},{"id":"9266e32a.fe4bf","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":500,"wires":[]},{"id":"9cfe8dda.38a07","type":"function","z":"bf1e550.46cd6a8","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":460,"wires":[["16117926.3471a7","63c988db.3ff8f8"]]},{"id":"63c988db.3ff8f8","type":"function","z":"bf1e550.46cd6a8","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":180,"wires":[["144099b2.a2d3f6"]]},{"id":"b8043271.38944","type":"ui_toast","z":"bf1e550.46cd6a8","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1150,"y":700,"wires":[]},{"id":"c7e0451b.a9fe18","type":"function","z":"bf1e550.46cd6a8","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":780,"wires":[["aead2ca9.39e14"]]},{"id":"f4c38916.5abfe8","type":"function","z":"bf1e550.46cd6a8","name":"PreToken","func":"var apikey=\"nrl_hOK8nFYsa4YH-UfTmuOGJB7k1TVih0jtb5NvG42K\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":840,"wires":[["8554be7.234e94","d6d23c2d.a39f3"]]},{"id":"bc56272.c1aa3d8","type":"ui_form","z":"bf1e550.46cd6a8","name":"","label":"Arrival quantity in tons Potato Form","group":"ef9ad793.a23b88","order":1,"width":"8","height":"5","options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":740,"wires":[["caf5f168.af3b","c7e0451b.a9fe18"]]},{"id":"5b23b748.ef2398","type":"function","z":"bf1e550.46cd6a8","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"234a7fff-22d6-479c-88cd-143354cdfccc\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":840,"wires":[["337ac8c8.04f068","b1e74894.2f3818"]]},{"id":"337ac8c8.04f068","type":"http request","z":"bf1e550.46cd6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/030889be-2749-48bd-9257-e726ecb37160/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":850,"y":840,"wires":[["c83a2f40.fe8fa","3796b9a2.5e9386"]]},{"id":"c83a2f40.fe8fa","type":"function","z":"bf1e550.46cd6a8","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":840,"wires":[["490f192f.c6f408","3796b9a2.5e9386"]]},{"id":"8554be7.234e94","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":500,"y":880,"wires":[]},{"id":"d6d23c2d.a39f3","type":"http request","z":"bf1e550.46cd6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":840,"wires":[["5b23b748.ef2398"]]},{"id":"490f192f.c6f408","type":"counter-loop","z":"bf1e550.46cd6a8","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":520,"y":660,"wires":[["302ce79b.0d2128","56ba9791.1f6cf8"],["f4c38916.5abfe8"]]},{"id":"37c7cf50.fd838","type":"ui_chart","z":"bf1e550.46cd6a8","name":"","group":"fa4c382e.489c88","order":1,"width":"16","height":"9","label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1160,"y":660,"wires":[[]]},{"id":"caf5f168.af3b","type":"function","z":"bf1e550.46cd6a8","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":660,"wires":[["490f192f.c6f408"]]},{"id":"302ce79b.0d2128","type":"function","z":"bf1e550.46cd6a8","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":660,"wires":[["37c7cf50.fd838"]]},{"id":"aead2ca9.39e14","type":"function","z":"bf1e550.46cd6a8","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":740,"wires":[["b8043271.38944"]]},{"id":"56ba9791.1f6cf8","type":"function","z":"bf1e550.46cd6a8","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":700,"wires":[["b8043271.38944"]]},{"id":"b1e74894.2f3818","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":880,"wires":[]},{"id":"3796b9a2.5e9386","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":880,"wires":[]},{"id":"bc703e74.46a8a","type":"ui_button","z":"bf1e550.46cd6a8","name":"","group":"fa4c382e.489c88","order":7,"width":"16","height":"1","passthru":false,"label":"Reset Potato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":900,"y":620,"wires":[["37c7cf50.fd838"]]},{"id":"fca6deee.8392e","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":960,"wires":[]},{"id":"5a15f836.2c5bf8","type":"function","z":"bf1e550.46cd6a8","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":940,"wires":[["fca6deee.8392e"]]},{"id":"66da0b81.6c2214","type":"function","z":"bf1e550.46cd6a8","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":980,"wires":[["fca6deee.8392e","74061892.1fe498"]]},{"id":"74061892.1fe498","type":"function","z":"bf1e550.46cd6a8","name":"PreToken","func":"var apikey=\"adRRgrq4np4u-c5-1EppEHI675e2KbfVWpCvk1yW_MWR\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":1040,"wires":[["f23e2e57.43f47","53e07c78.e208e4"]]},{"id":"4461caae.373fc4","type":"function","z":"bf1e550.46cd6a8","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"5aa83119-afab-4b5b-b56e-a56e59a27e79\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1040,"wires":[["9dc4915b.a8f1f","63c25584.d4ec4c"]]},{"id":"9dc4915b.a8f1f","type":"http request","z":"bf1e550.46cd6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/7f2f0a5e-0dae-484e-b25e-e25da3ef7332/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":850,"y":1040,"wires":[["dc9065d9.8817e8","d4bdd0d8.0ac05"]]},{"id":"f23e2e57.43f47","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":1080,"wires":[]},{"id":"53e07c78.e208e4","type":"http request","z":"bf1e550.46cd6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":1040,"wires":[["4461caae.373fc4"]]},{"id":"63c25584.d4ec4c","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":1080,"wires":[]},{"id":"dc9065d9.8817e8","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":1080,"wires":[]},{"id":"d4bdd0d8.0ac05","type":"function","z":"bf1e550.46cd6a8","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1040,"wires":[["a6786b5d.053c78","de725df4.c299d"]]},{"id":"a6786b5d.053c78","type":"function","z":"bf1e550.46cd6a8","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":780,"wires":[["b8043271.38944"]]},{"id":"38f4b0b6.27825","type":"ui_form","z":"bf1e550.46cd6a8","name":"","label":"","group":"8e702737.bf1488","order":1,"width":"8","height":"4","options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":940,"wires":[["66da0b81.6c2214","aead2ca9.39e14"]]},{"id":"de725df4.c299d","type":"ui_text","z":"bf1e550.46cd6a8","group":"8e702737.bf1488","order":2,"width":"8","height":"1","name":"potato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":1080,"wires":[]},{"id":"564496d0.d7cec8","type":"ui_toast","z":"bf1e550.46cd6a8","position":"top right","displayTime":"3","highlight":"grey","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1150,"y":1340,"wires":[]},{"id":"84a57ac3.947338","type":"function","z":"bf1e550.46cd6a8","name":"","func":"global.set(\"series\",[\"X\"]);\nglobal.set(\"data\",[]);\nglobal.set(\"labels\",[]);\nglobal.set(\"topic\",\"Data set 1\"); \nglobal.set(\"count\",0);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1400,"wires":[["d0d8c5ea.0e0628"]]},{"id":"72de3f41.0c95c","type":"function","z":"bf1e550.46cd6a8","name":"PreToken","func":"var apikey=\"SYVbZPs_mMjhnlRcWlwrZbYK5M12pksKnZ64t7OlbZCM\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":1460,"wires":[["ea90472b.5c2828","bff59855.d00558"]]},{"id":"35e8e787.f1c958","type":"ui_form","z":"bf1e550.46cd6a8","name":"","label":"Arrival quantity in tons Tomato Form","group":"44ff3fcf.9ebe6","order":1,"width":"8","height":"5","options":[{"label":"From Day","value":"minimum","type":"number","required":true,"rows":null},{"label":"To Day","value":"maximum","type":"number","required":true,"rows":null}],"formValue":{"minimum":"","maximum":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":1360,"wires":[["8f34fe33.ae53e","84a57ac3.947338"]]},{"id":"2fe490d2.74f27","type":"function","z":"bf1e550.46cd6a8","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"128bd6e1-2b3b-4c06-86ce-651b4990403b\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Retail Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[null,null,null,null,null,msg.iter]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1460,"wires":[["914c36.39db83c8","1b6a3d59.3c6023"]]},{"id":"914c36.39db83c8","type":"http request","z":"bf1e550.46cd6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/f2132790-8912-4142-8e3b-f55f129990ac/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":1460,"wires":[["7fa268a2.2fa588","78058f7.debb77"]]},{"id":"7fa268a2.2fa588","type":"function","z":"bf1e550.46cd6a8","name":"return prediction and update chart","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nvar qty = msg.iter;\nvar predict=msg.payload.predictions[0].values[0][0];\ndata.push(predict)\n\nlabels.push(String(qty));\nglobal.set(\"series\",series);\nglobal.set(\"data\",data);\nglobal.set(\"labels\",labels);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1460,"wires":[["faa3df5f.91b19","78058f7.debb77"]]},{"id":"ea90472b.5c2828","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"iter","targetType":"msg","x":460,"y":1500,"wires":[]},{"id":"bff59855.d00558","type":"http request","z":"bf1e550.46cd6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1460,"wires":[["2fe490d2.74f27"]]},{"id":"faa3df5f.91b19","type":"counter-loop","z":"bf1e550.46cd6a8","name":"","counter":"iter","counterType":"msg","reset":false,"resetValue":"value-null","initial":"Initialization","initialType":"msg","operator":"lte","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":460,"y":1280,"wires":[["ab034690.d1cb48","67994639.1e57e8"],["72de3f41.0c95c"]]},{"id":"6c09ae53.538de","type":"ui_chart","z":"bf1e550.46cd6a8","name":"","group":"639010ca.105cb","order":1,"width":"16","height":"9","label":"Demand Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#db1fce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1140,"y":1280,"wires":[[]]},{"id":"8f34fe33.ae53e","type":"function","z":"bf1e550.46cd6a8","name":"","func":"msg.Initialization=msg.payload.minimum;\nmsg.Termination=msg.payload.maximum;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1280,"wires":[["faa3df5f.91b19"]]},{"id":"ab034690.d1cb48","type":"function","z":"bf1e550.46cd6a8","name":"","func":"var series=global.get(\"series\");\nvar data=global.get(\"data\");\nvar labels=global.get(\"labels\");\nmsg.payload=[{\n    \"series\":[series],\n    \"data\":[data],\n    \"labels\":labels\n    }]\n\nmsg.topic=global.get(\"topic\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1280,"wires":[["6c09ae53.538de"]]},{"id":"d0d8c5ea.0e0628","type":"function","z":"bf1e550.46cd6a8","name":"","func":"msg.payload=\"Processing\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1360,"wires":[["564496d0.d7cec8"]]},{"id":"67994639.1e57e8","type":"function","z":"bf1e550.46cd6a8","name":"","func":"\nmsg.payload=\"Request Processed from \"+msg.Initialization+\" to \"+msg.Termination+\" days\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1320,"wires":[["564496d0.d7cec8"]]},{"id":"1b6a3d59.3c6023","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1500,"wires":[]},{"id":"78058f7.debb77","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1500,"wires":[]},{"id":"5e922e85.91f88","type":"ui_button","z":"bf1e550.46cd6a8","name":"","group":"639010ca.105cb","order":2,"width":"16","height":"1","passthru":false,"label":"Reset Tomato Demand Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":840,"y":1240,"wires":[["6c09ae53.538de"]]},{"id":"f173cac.fbb5438","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":1600,"wires":[]},{"id":"54cbc40b.4931fc","type":"function","z":"bf1e550.46cd6a8","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = day +\"-\"+ monthformat +\"-\"+ year;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1560,"wires":[["f173cac.fbb5438"]]},{"id":"5daa220d.90447c","type":"function","z":"bf1e550.46cd6a8","name":"","func":"var d = new Date(msg.payload.date);\nmsg.day = d.getDate();\nvar month = d.getMonth();\nmsg.monthf = month + 1;\nmsg.year = d.getFullYear();\nmsg.model=msg.payload.model;\nmsg.qty=msg.payload.qty;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1600,"wires":[["f173cac.fbb5438","9d2d4728.fc1dc8"]]},{"id":"9d2d4728.fc1dc8","type":"function","z":"bf1e550.46cd6a8","name":"PreToken","func":"var apikey=\"hSnZH7r2c9-dBtb6o75faFYDm9rI2mbEG_XIKMcieoPy\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":1660,"wires":[["d2c20712.bbd1f8","1ff357ff.adead8"]]},{"id":"69d2af53.41817","type":"function","z":"bf1e550.46cd6a8","name":"Pre Prediction","func":"\nvar token=msg.payload.access_token;\nvar instance_id=\"b000888a-a0c5-448e-a462-ba13d700b8a1\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload={\"input_data\":[{\"fields\":[\"Year\",\"Month\",\"Day\",\"Initial Price per ton\",\"Arrival Qty\",\"Days\"],\n\"values\":[[msg.year,msg.monthf,msg.day,msg.model,msg.qty,null]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1660,"wires":[["3257cf8e.1e635","61c7e55a.8bde6c"]]},{"id":"3257cf8e.1e635","type":"http request","z":"bf1e550.46cd6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/f67e99d5-0afc-4497-a6ed-85a7172109f3/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":790,"y":1660,"wires":[["4110a47f.07430c","38f22831.1200a8"]]},{"id":"d2c20712.bbd1f8","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":1700,"wires":[]},{"id":"1ff357ff.adead8","type":"http request","z":"bf1e550.46cd6a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":1660,"wires":[["69d2af53.41817"]]},{"id":"61c7e55a.8bde6c","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":1700,"wires":[]},{"id":"4110a47f.07430c","type":"debug","z":"bf1e550.46cd6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1700,"wires":[]},{"id":"38f22831.1200a8","type":"function","z":"bf1e550.46cd6a8","name":"return prediction and update text","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1660,"wires":[["d5350959.da3ec8","165f2b8e.4ac7b4"]]},{"id":"d5350959.da3ec8","type":"function","z":"bf1e550.46cd6a8","name":"","func":"msg.payload=\"Retail Price Predicted\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1400,"wires":[["564496d0.d7cec8"]]},{"id":"5dad9d1.3541f64","type":"ui_form","z":"bf1e550.46cd6a8","name":"","label":"","group":"3649f389.1d7f7c","order":1,"width":"8","height":"4","options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Model price per ton","value":"model","type":"number","required":true,"rows":null}],"formValue":{"date":"","qty":"","model":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":1560,"wires":[["5daa220d.90447c","d0d8c5ea.0e0628"]]},{"id":"165f2b8e.4ac7b4","type":"ui_text","z":"bf1e550.46cd6a8","group":"3649f389.1d7f7c","order":2,"width":"8","height":"1","name":"Tomato","label":"Retail Price Per Ton","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":1700,"wires":[]},{"id":"e41a846e.22a7b8","type":"comment","z":"bf1e550.46cd6a8","name":"Created by Venkata Gunasekhar V From team VVS For IBM Hack Challenge 2020","info":"","x":1270,"y":1800,"wires":[]},{"id":"b78a3a57.f646e8","type":"comment","z":"bf1e550.46cd6a8","name":"input","info":"","x":90,"y":180,"wires":[]},{"id":"6710e820.1b6778","type":"comment","z":"bf1e550.46cd6a8","name":"input","info":"","x":110,"y":400,"wires":[]},{"id":"65770d36.0a65e4","type":"comment","z":"bf1e550.46cd6a8","name":"input","info":"","x":90,"y":700,"wires":[]},{"id":"5ea1df1.944b12","type":"comment","z":"bf1e550.46cd6a8","name":"input","info":"","x":110,"y":900,"wires":[]},{"id":"c8bfb550.7c6bf8","type":"comment","z":"bf1e550.46cd6a8","name":"input","info":"","x":90,"y":1400,"wires":[]},{"id":"2455b9d2.dc9a16","type":"comment","z":"bf1e550.46cd6a8","name":"input","info":"","x":70,"y":1520,"wires":[]},{"id":"183df404.f393dc","type":"comment","z":"bf1e550.46cd6a8","name":"collect ML output data and update the chart with that day's amount","info":"","x":1200,"y":200,"wires":[]},{"id":"d6edfaea.3a3b88","type":"comment","z":"bf1e550.46cd6a8","name":"collect ML output data and update the chart with that day's amount","info":"","x":1220,"y":800,"wires":[]},{"id":"c5ead99a.c75788","type":"comment","z":"bf1e550.46cd6a8","name":"collect ML output data and update the chart with that day's amount","info":"","x":1220,"y":1420,"wires":[]},{"id":"e7a42b69.c2e6e8","type":"comment","z":"bf1e550.46cd6a8","name":"loop for collecting ML prediction for each day ","info":"","x":450,"y":20,"wires":[]},{"id":"41d6b69c.1d76b8","type":"comment","z":"bf1e550.46cd6a8","name":"loop for collecting ML prediction for each day ","info":"","x":530,"y":620,"wires":[]},{"id":"91875277.87921","type":"comment","z":"bf1e550.46cd6a8","name":"loop for collecting ML prediction for each day ","info":"","x":450,"y":1240,"wires":[]},{"id":"9dc5f49b.8b2af8","type":"comment","z":"bf1e550.46cd6a8","name":"output processing functions","info":"","x":890,"y":1340,"wires":[]},{"id":"a17813a9.5e316","type":"comment","z":"bf1e550.46cd6a8","name":"output processing functions","info":"","x":930,"y":720,"wires":[]},{"id":"e4d2f236.08af6","type":"comment","z":"bf1e550.46cd6a8","name":"output processing functions","info":"","x":870,"y":120,"wires":[]},{"id":"998c75da.21d9b8","type":"ui_group","z":"","name":"No of prediction days onion","tab":"94a0fc53.3440c","order":1,"disp":true,"width":"8","collapse":false},{"id":"61fca04f.2dbf9","type":"ui_group","z":"","name":"Onion Demand Forecast In Mumbai From 2020","tab":"94a0fc53.3440c","order":2,"disp":true,"width":"16","collapse":false},{"id":"610d2301.2b02ac","type":"ui_group","z":"","name":"Retail Price Estimation Onion","tab":"94a0fc53.3440c","order":3,"disp":true,"width":"8","collapse":false},{"id":"ef9ad793.a23b88","type":"ui_group","z":"","name":"No of prediction days Potato","tab":"94a0fc53.3440c","order":4,"disp":true,"width":"8","collapse":false},{"id":"fa4c382e.489c88","type":"ui_group","z":"","name":"Potato Demand Forecast In Mumbai From 2020","tab":"94a0fc53.3440c","order":5,"disp":true,"width":"16","collapse":false},{"id":"8e702737.bf1488","type":"ui_group","z":"","name":"Retail Price Estimation Potato","tab":"94a0fc53.3440c","order":6,"disp":true,"width":"8","collapse":false},{"id":"44ff3fcf.9ebe6","type":"ui_group","z":"","name":"No of prediction days Tomato","tab":"94a0fc53.3440c","order":7,"disp":true,"width":"8","collapse":false},{"id":"639010ca.105cb","type":"ui_group","z":"","name":"Tomato Demand Forecast In Mumbai From 2020","tab":"94a0fc53.3440c","order":8,"disp":true,"width":"16","collapse":false},{"id":"3649f389.1d7f7c","type":"ui_group","z":"","name":"Retail Price Estimation Tomato","tab":"94a0fc53.3440c","order":9,"disp":true,"width":"8","collapse":false},{"id":"94a0fc53.3440c","type":"ui_tab","z":"","name":"Mumbai","icon":"dashboard","order":3,"disabled":false,"hidden":false}]