json code/seasonal fruits and vegetables 1.json
[{"id":"42a17d85.27eb04","type":"tab","label":"Seasonal Fruits and vegetables 1","disabled":false,"info":""},{"id":"b876ce9a.9fa22","type":"link in","z":"42a17d85.27eb04","name":"Hyderbad","links":["251b0c8.885b8f4"],"x":355,"y":520,"wires":[["9df9d329.5684e"]]},{"id":"cb27c5ff.f1d7a8","type":"link in","z":"42a17d85.27eb04","name":"Bengaluru","links":["86dfe039.eaa7a"],"x":295,"y":1580,"wires":[["8f898f84.ffd54"]]},{"id":"45fcc66e.15ec58","type":"link in","z":"42a17d85.27eb04","name":"Ahmedabad","links":["ea425ac5.a7f618"],"x":295,"y":2680,"wires":[["eddae582.5188e8"]]},{"id":"fdbd5a34.a1dcb8","type":"link out","z":"42a17d85.27eb04","name":"Hyderbad fruit out","links":["9130043e.233208","1495dd8.0644523"],"x":1095,"y":240,"wires":[]},{"id":"46c60266.1bd19c","type":"link out","z":"42a17d85.27eb04","name":"Bengaluru  fruit out","links":["1495dd8.0644523"],"x":1075,"y":1240,"wires":[]},{"id":"b77bbc18.49f8","type":"link out","z":"42a17d85.27eb04","name":"Ahmedabad fruit out","links":["1495dd8.0644523"],"x":1135,"y":2400,"wires":[]},{"id":"4cc8c487.52dd4c","type":"link out","z":"42a17d85.27eb04","name":"Hyderbad vegetable out","links":["9bc51c38.26aec"],"x":1095,"y":680,"wires":[]},{"id":"f68cec67.6cf6d","type":"link out","z":"42a17d85.27eb04","name":"Bengaluru vegetable out","links":["9bc51c38.26aec"],"x":1095,"y":1740,"wires":[]},{"id":"39eb4508.2476aa","type":"link out","z":"42a17d85.27eb04","name":"Ahmedabad vegetable out","links":["9bc51c38.26aec"],"x":1135,"y":2900,"wires":[]},{"id":"9df9d329.5684e","type":"switch","z":"42a17d85.27eb04","name":"","property":"payload.Month","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"}],"checkall":"false","repair":false,"outputs":12,"x":530,"y":520,"wires":[["f947996f.6a34e8","230b4576.b0af9a"],["b37283af.e6849","fbb168e.1028398"],["bbf3d7e3.d1dc48","9934e36b.7018b"],["e1aa31d2.7519b","a015d46d.94bff8"],["8dc60daf.b1c7","645e32bb.99d3cc"],["3c10f6a1.bde89a","ef98b96.5525648"],["7d20bd9a.6f1c24","2d5af490.cd96ec"],["d7d1f12d.eb633","c3b4f7c0.6b7d08"],["fbaadc65.d1fe2","55a087f1.b03ee8"],["1e9d9d69.ba6b83","6e96c901.82e348"],["f3dd522d.e0e5b","54870ee0.0e343"],["6a3f86c5.25d988","25103049.4a639"]]},{"id":"f947996f.6a34e8","type":"change","z":"42a17d85.27eb04","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pomegranate, grapes, papaya, Strawberries, pineapple, guava, passion fruit","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":20,"wires":[["fdbd5a34.a1dcb8"]]},{"id":"b37283af.e6849","type":"change","z":"42a17d85.27eb04","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Papaya, musk melon, pineapple, grapes, guava, strawberries, chickoo, pomegranate, oranges","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":60,"wires":[["fdbd5a34.a1dcb8"]]},{"id":"bbf3d7e3.d1dc48","type":"change","z":"42a17d85.27eb04","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Totapuri, banana, mango, pineapple, watermelon, strawberries, grapes, muskmelon, orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":100,"wires":[["fdbd5a34.a1dcb8"]]},{"id":"e1aa31d2.7519b","type":"change","z":"42a17d85.27eb04","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jackfruit, watermelon, grapes, orange, banana, strawberries, mango, totapuri, muskmelon, pineapple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":140,"wires":[["fdbd5a34.a1dcb8"]]},{"id":"8dc60daf.b1c7","type":"change","z":"42a17d85.27eb04","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":"Black jamuns, papaya, Alphonso Mango, watermelon, litchis, Kesar, muskmelon, jackfruit","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":180,"wires":[["fdbd5a34.a1dcb8"]]},{"id":"3c10f6a1.bde89a","type":"change","z":"42a17d85.27eb04","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Kesar, Alphonso Mango","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":220,"wires":[["fdbd5a34.a1dcb8"]]},{"id":"7d20bd9a.6f1c24","type":"change","z":"42a17d85.27eb04","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":"Peach, cherries, Kesar Mango, plum, Totapuri","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[["fdbd5a34.a1dcb8"]]},{"id":"d7d1f12d.eb633","type":"change","z":"42a17d85.27eb04","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":"Custard apple, Alphonso Mango, Kesar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":300,"wires":[["fdbd5a34.a1dcb8"]]},{"id":"1e9d9d69.ba6b83","type":"change","z":"42a17d85.27eb04","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":"Guava, pomegranate, Papaya, passion fruit, custard apple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":380,"wires":[["fdbd5a34.a1dcb8"]]},{"id":"fbaadc65.d1fe2","type":"change","z":"42a17d85.27eb04","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"Papaya, custard apple, Guava, pomegranate, passion fruit","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":340,"wires":[["fdbd5a34.a1dcb8"]]},{"id":"f3dd522d.e0e5b","type":"change","z":"42a17d85.27eb04","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pomegranate, papaya, dates, custard apple, Orange, guava","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":420,"wires":[["fdbd5a34.a1dcb8"]]},{"id":"6a3f86c5.25d988","type":"change","z":"42a17d85.27eb04","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fig, sweet lime, custard apple, Strawberries, guava, pineapple, orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":460,"wires":[["fdbd5a34.a1dcb8"]]},{"id":"230b4576.b0af9a","type":"change","z":"42a17d85.27eb04","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":"Carrot, cabbage, tendli, capsicum, beetroot, cauliflower, palak, broccoli, Brinjal, radish, tomatoes, peas, pumpkin.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":520,"wires":[["4cc8c487.52dd4c"]]},{"id":"fbb168e.1028398","type":"change","z":"42a17d85.27eb04","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Radish, methi, capsicum, cabbage, broccoli, carrot, spring onion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":560,"wires":[["4cc8c487.52dd4c"]]},{"id":"9934e36b.7018b","type":"change","z":"42a17d85.27eb04","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Parwal, carrot, fenugreek, tindora, spinach, pumpkin, capsicum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":600,"wires":[["4cc8c487.52dd4c"]]},{"id":"a015d46d.94bff8","type":"change","z":"42a17d85.27eb04","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Beans, pumpkin, cucumber, karela, tindora, Lady's finger, parwal, doodhi, chawli, tendli","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":640,"wires":[["4cc8c487.52dd4c"]]},{"id":"645e32bb.99d3cc","type":"change","z":"42a17d85.27eb04","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":"Doodhi, spinach, beans, cucumber, karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":680,"wires":[["4cc8c487.52dd4c"]]},{"id":"ef98b96.5525648","type":"change","z":"42a17d85.27eb04","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sweet potato, cucumber, Spinach, gawar, lady's finger, corn, capsicum, chawli","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":720,"wires":[["4cc8c487.52dd4c"]]},{"id":"2d5af490.cd96ec","type":"change","z":"42a17d85.27eb04","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":"Snake gourd, gawar, corn, round gourd, cucumber, Sweet potato, karela, lady's finger, doodhi, capsicum, Spinach, chawli","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":760,"wires":[["4cc8c487.52dd4c"]]},{"id":"c3b4f7c0.6b7d08","type":"change","z":"42a17d85.27eb04","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spinach, capsicum, cucumber, Sweet potato, lady's finger, gawar, chawli, corn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":800,"wires":[["4cc8c487.52dd4c"]]},{"id":"6e96c901.82e348","type":"change","z":"42a17d85.27eb04","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spring onions, tomatoes, dill, Brinjal.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":880,"wires":[["4cc8c487.52dd4c"]]},{"id":"55a087f1.b03ee8","type":"change","z":"42a17d85.27eb04","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lady's finger, Spinach, Sweet potato, gawar, capsicum, chawli, cucumber, corn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":840,"wires":[["4cc8c487.52dd4c"]]},{"id":"54870ee0.0e343","type":"change","z":"42a17d85.27eb04","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":"French beans, dill, Spring onions, Brinjal, tomatoes","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":920,"wires":[["4cc8c487.52dd4c"]]},{"id":"25103049.4a639","type":"change","z":"42a17d85.27eb04","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Beetroot, tomatoes, Brinjal, yam, Spring onions, radish, dill","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":960,"wires":[["4cc8c487.52dd4c"]]},{"id":"c6b4316e.7fba4","type":"comment","z":"42a17d85.27eb04","name":"Hyderbad fruits","info":"","x":620,"y":240,"wires":[]},{"id":"4da0895c.bc52a8","type":"comment","z":"42a17d85.27eb04","name":"Hyderbad vegetables","info":"","x":600,"y":740,"wires":[]},{"id":"f14908f4.caa1a8","type":"comment","z":"42a17d85.27eb04","name":"month switch","info":"","x":530,"y":400,"wires":[]},{"id":"8f898f84.ffd54","type":"switch","z":"42a17d85.27eb04","name":"","property":"payload.Month","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"}],"checkall":"false","repair":false,"outputs":12,"x":510,"y":1580,"wires":[["4fe2e1.b6557d2","577ff938.3531d8"],["ea288acb.f31808","41d3f915.04c018"],["e6c17619.6614f8","f00fffcd.57d95"],["62e338dc.b2a148","7f791d9d.cb0e04"],["4f1ab197.226","a3954c5a.243e"],["c7379fd5.d4c94","87225ab8.15a7f8"],["40b83d91.e9f7a4","7a82647.369d79c"],["3883157e.e166ba","eb7b52d7.f7617"],["2db692b8.c8768e","8fd4ef99.46bb7"],["4eceaa6e.9cae74","a8c4d488.86e7b8"],["5036e867.4d8b28","dc30c5f6.65a9c8"],["9c8f2fc2.82485","15c8d48d.43e56b"]]},{"id":"4fe2e1.b6557d2","type":"change","z":"42a17d85.27eb04","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":" Papaya,Pomegranate,Straw berries,Passion fruits,Grapes,Guava","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1080,"wires":[["46c60266.1bd19c"]]},{"id":"ea288acb.f31808","type":"change","z":"42a17d85.27eb04","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Oranges,Chickoo, Musk melon,Grapes,Guava,Papaya,Pomegranate,Pineapple,Strawberries.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1120,"wires":[["46c60266.1bd19c"]]},{"id":"e6c17619.6614f8","type":"change","z":"42a17d85.27eb04","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mango —raw(kaccha aam),Totapuri, Badami ,Watermelon,Grapes,Orange, Pineapple,Banana, Muskmelon, Strawberries.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1160,"wires":[["46c60266.1bd19c"]]},{"id":"62e338dc.b2a148","type":"change","z":"42a17d85.27eb04","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jackfruit(kathal)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1200,"wires":[["46c60266.1bd19c"]]},{"id":"4f1ab197.226","type":"change","z":"42a17d85.27eb04","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jamuns(indian plum or purple berry),Mango — Alphonso, Kesar,Litchis(lychee),Raw Papaya,Jackfruit, Watermelon,Muskmelon.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1240,"wires":[["46c60266.1bd19c"]]},{"id":"c7379fd5.d4c94","type":"change","z":"42a17d85.27eb04","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mango — Alphonso,dussehri, Kesar.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1280,"wires":[["46c60266.1bd19c"]]},{"id":"40b83d91.e9f7a4","type":"change","z":"42a17d85.27eb04","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1320,"wires":[["46c60266.1bd19c"]]},{"id":"3883157e.e166ba","type":"change","z":"42a17d85.27eb04","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1360,"wires":[["46c60266.1bd19c"]]},{"id":"4eceaa6e.9cae74","type":"change","z":"42a17d85.27eb04","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1440,"wires":[["46c60266.1bd19c"]]},{"id":"2db692b8.c8768e","type":"change","z":"42a17d85.27eb04","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fruits Guava, papaya, pomegranate, custard apple(sharifa), passion fruit.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1400,"wires":[["46c60266.1bd19c"]]},{"id":"5036e867.4d8b28","type":"change","z":"42a17d85.27eb04","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":" Orange, dates, guava, papaya, pomegranate, custard apple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1480,"wires":[["46c60266.1bd19c"]]},{"id":"9c8f2fc2.82485","type":"change","z":"42a17d85.27eb04","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Strawberries, orange, sweet lime, fig(anjeer), guava, custard apple, pineapple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1520,"wires":[["46c60266.1bd19c"]]},{"id":"577ff938.3531d8","type":"change","z":"42a17d85.27eb04","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cauliflower,Peas,Brinjal, Spinach(palak), Ivy Gourd Coccinia grandisl(kundru,tendli), Tomatoes, Cabbage,Carrot,Radish, Beetroot,Broccoli,Capsicum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1580,"wires":[["f68cec67.6cf6d"]]},{"id":"41d3f915.04c018","type":"change","z":"42a17d85.27eb04","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fenugreek(Methi), Cabbage,Carrot,Radish,Spring onion,Capsicum,Broccoli.drumstick(sahjan ,singhphali),","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1620,"wires":[["f68cec67.6cf6d"]]},{"id":"f00fffcd.57d95","type":"change","z":"42a17d85.27eb04","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pointed gourd(Parwal),Spinach,Fenugreek,Capsicum,Carrot, tindora, pumpkin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1660,"wires":[["f68cec67.6cf6d"]]},{"id":"7f791d9d.cb0e04","type":"change","z":"42a17d85.27eb04","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lady's finger(okra),Cucumber,Calabash(Bottle gourd,Lauki,Doodhi,),Bitter Squash(Karela),Amarnath(Chaulai,Chawli),Pumpkin.Beans,Kundru,Parwal,","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1700,"wires":[["f68cec67.6cf6d"]]},{"id":"a3954c5a.243e","type":"change","z":"42a17d85.27eb04","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":" Spinach,Cucumber,Lauki,Karela,Beans","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1740,"wires":[["f68cec67.6cf6d"]]},{"id":"87225ab8.15a7f8","type":"change","z":"42a17d85.27eb04","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spinach,Okra( lady's finger),Cucumber,Amarnath(chawli),Cluster Beans(gawar,fali,semiya),Corn,Capsicum,Sweet potato.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1780,"wires":[["f68cec67.6cf6d"]]},{"id":"7a82647.369d79c","type":"change","z":"42a17d85.27eb04","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1820,"wires":[["f68cec67.6cf6d"]]},{"id":"eb7b52d7.f7617","type":"change","z":"42a17d85.27eb04","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1860,"wires":[["f68cec67.6cf6d"]]},{"id":"a8c4d488.86e7b8","type":"change","z":"42a17d85.27eb04","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":"Brinjal, tomatoes, dil(Suva bhaji / Soye), spring onions","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1940,"wires":[["f68cec67.6cf6d"]]},{"id":"8fd4ef99.46bb7","type":"change","z":"42a17d85.27eb04","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spinach,Okra( lady's finger),Cucumber,Amarnath(chawli),Cluster Beans(gawar,fali,semiya),Corn,Capsicum,Sweet potato.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1900,"wires":[["f68cec67.6cf6d"]]},{"id":"dc30c5f6.65a9c8","type":"change","z":"42a17d85.27eb04","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":"French beans ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1980,"wires":[["f68cec67.6cf6d"]]},{"id":"15c8d48d.43e56b","type":"change","z":"42a17d85.27eb04","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Radish, beetroot, yam(ratalu,sooran).Sarson, Bathua,palak","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2020,"wires":[["f68cec67.6cf6d"]]},{"id":"1fc8f5ad.41375a","type":"comment","z":"42a17d85.27eb04","name":"Bengaluru fruits","info":"","x":600,"y":1300,"wires":[]},{"id":"3c43246d.49bd6c","type":"comment","z":"42a17d85.27eb04","name":"Bengaluru vegetables","info":"","x":580,"y":1800,"wires":[]},{"id":"10866667.0ac66a","type":"comment","z":"42a17d85.27eb04","name":"month switch","info":"","x":510,"y":1460,"wires":[]},{"id":"eddae582.5188e8","type":"switch","z":"42a17d85.27eb04","name":"","property":"payload.Month","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"}],"checkall":"false","repair":false,"outputs":12,"x":550,"y":2660,"wires":[["f97e6a08.4bb088","d99e0620.0caf28"],["c05797aa.25ccf8","eb7af820.d190c8"],["f2ad1797.174008","49b246f7.6390b8"],["7bef0092.af44d","2de2ab1f.26a6c4"],["bcb6b26c.2d0cf","d2101d6c.af752"],["205a18b.b6dc3e8","1c82e3c7.c3d20c"],["643207b5.9e6408","ee145441.1f86e8"],["d2b16169.3b374","c29f1e60.5102"],["ea65d78e.e063b8","f66f619f.13b9d"],["ffb1c492.6640a8","fb7577b0.00e278"],["f4d74dc2.11d0c","e81063ca.2cd63"],["22ba0678.ee6c9a","71a632e0.40d8dc"]]},{"id":"f97e6a08.4bb088","type":"change","z":"42a17d85.27eb04","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":" Papaya,Pomegranate,Straw berries,Passion fruits,Grapes,Guava","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2160,"wires":[["b77bbc18.49f8"]]},{"id":"c05797aa.25ccf8","type":"change","z":"42a17d85.27eb04","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Oranges,Chickoo, Musk melon,Grapes,Guava,Papaya,Pomegranate,Pineapple,Strawberries.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2200,"wires":[["b77bbc18.49f8"]]},{"id":"f2ad1797.174008","type":"change","z":"42a17d85.27eb04","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mango —raw(kaccha aam),Totapuri, Badami ,Watermelon,Grapes,Orange, Pineapple,Banana, Muskmelon, Strawberries.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2240,"wires":[["b77bbc18.49f8"]]},{"id":"7bef0092.af44d","type":"change","z":"42a17d85.27eb04","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jackfruit(kathal)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2280,"wires":[["b77bbc18.49f8"]]},{"id":"bcb6b26c.2d0cf","type":"change","z":"42a17d85.27eb04","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jamuns(indian plum or purple berry),Mango — Alphonso, Kesar,Litchis(lychee),Raw Papaya,Jackfruit, Watermelon,Muskmelon.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2320,"wires":[["b77bbc18.49f8"]]},{"id":"205a18b.b6dc3e8","type":"change","z":"42a17d85.27eb04","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mango — Alphonso,dussehri, Kesar.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2360,"wires":[["b77bbc18.49f8"]]},{"id":"643207b5.9e6408","type":"change","z":"42a17d85.27eb04","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2400,"wires":[["b77bbc18.49f8"]]},{"id":"d2b16169.3b374","type":"change","z":"42a17d85.27eb04","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2440,"wires":[["b77bbc18.49f8"]]},{"id":"ffb1c492.6640a8","type":"change","z":"42a17d85.27eb04","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fruits Guava, papaya, pomegranate, custard apple(sharifa), passion fruit.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2520,"wires":[["b77bbc18.49f8"]]},{"id":"ea65d78e.e063b8","type":"change","z":"42a17d85.27eb04","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fruits Guava, papaya, pomegranate, custard apple(sharifa), passion fruit.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2480,"wires":[["b77bbc18.49f8"]]},{"id":"f4d74dc2.11d0c","type":"change","z":"42a17d85.27eb04","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":" Orange, dates, guava, papaya, pomegranate, custard apple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2560,"wires":[["b77bbc18.49f8"]]},{"id":"22ba0678.ee6c9a","type":"change","z":"42a17d85.27eb04","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Strawberries, orange, sweet lime, fig(anjeer), guava, custard apple, pineapple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2600,"wires":[["b77bbc18.49f8"]]},{"id":"d99e0620.0caf28","type":"change","z":"42a17d85.27eb04","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cauliflower,Peas,Brinjal, Spinach(palak), Ivy Gourd Coccinia grandisl(kundru,tendli), Tomatoes, Cabbage,Carrot,Radish, Beetroot,Broccoli,Capsicum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2660,"wires":[["39eb4508.2476aa"]]},{"id":"eb7af820.d190c8","type":"change","z":"42a17d85.27eb04","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fenugreek(Methi), Cabbage,Carrot,Radish,Spring onion,Capsicum,Broccoli.drumstick(sahjan ,singhphali),","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2700,"wires":[["39eb4508.2476aa"]]},{"id":"49b246f7.6390b8","type":"change","z":"42a17d85.27eb04","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pointed gourd(Parwal),Spinach,Fenugreek,Capsicum,Carrot, tindora, pumpkin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2740,"wires":[["39eb4508.2476aa"]]},{"id":"2de2ab1f.26a6c4","type":"change","z":"42a17d85.27eb04","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lady's finger(okra),Cucumber,Calabash(Bottle gourd,Lauki,Doodhi,),Bitter Squash(Karela),Amarnath(Chaulai,Chawli),Pumpkin.Beans,Kundru,Parwal,","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2780,"wires":[["39eb4508.2476aa"]]},{"id":"d2101d6c.af752","type":"change","z":"42a17d85.27eb04","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":" Spinach,Cucumber,Lauki,Karela,Beans","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2820,"wires":[[]]},{"id":"1c82e3c7.c3d20c","type":"change","z":"42a17d85.27eb04","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spinach,Okra( lady's finger),Cucumber,Amarnath(chawli),Cluster Beans(gawar,fali,semiya),Corn,Capsicum,Sweet potato.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2860,"wires":[["39eb4508.2476aa"]]},{"id":"ee145441.1f86e8","type":"change","z":"42a17d85.27eb04","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2900,"wires":[["39eb4508.2476aa"]]},{"id":"c29f1e60.5102","type":"change","z":"42a17d85.27eb04","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2940,"wires":[["39eb4508.2476aa"]]},{"id":"fb7577b0.00e278","type":"change","z":"42a17d85.27eb04","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":"Brinjal, tomatoes, dil(Suva bhaji / Soye), spring onions","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3020,"wires":[["39eb4508.2476aa"]]},{"id":"f66f619f.13b9d","type":"change","z":"42a17d85.27eb04","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2980,"wires":[["39eb4508.2476aa"]]},{"id":"e81063ca.2cd63","type":"change","z":"42a17d85.27eb04","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fenugreek(Methi), Cabbage,Carrot,Radish,Spring onion,Capsicum,Broccoli.drumstick(sahjan ,singhphali),","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":3060,"wires":[["39eb4508.2476aa"]]},{"id":"71a632e0.40d8dc","type":"change","z":"42a17d85.27eb04","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Radish, beetroot, yam(ratalu,sooran).Sarson, Bathua,palak","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":3100,"wires":[["39eb4508.2476aa"]]},{"id":"67bde3fc.b03e6c","type":"comment","z":"42a17d85.27eb04","name":"ahmedabad fruits","info":"","x":640,"y":2380,"wires":[]},{"id":"16096a01.0f56f6","type":"comment","z":"42a17d85.27eb04","name":"ahmedabad vegetables","info":"","x":620,"y":2880,"wires":[]},{"id":"31e25a81.7bf4e6","type":"comment","z":"42a17d85.27eb04","name":"month switch","info":"","x":550,"y":2540,"wires":[]},{"id":"ac7d8f0d.cc816","type":"comment","z":"42a17d85.27eb04","name":"Created by Venkata Gunasekhar V From team VVS For IBM Hack Challenge 2020","info":"","x":1270,"y":3200,"wires":[]}]