json code/seasonal fruits and vegetables.json
[{"id":"3ad560f8.462c5","type":"tab","label":"Seasonal Fruits and vegetables","disabled":false,"info":""},{"id":"1be91a9a.342a75","type":"ui_date_picker","z":"3ad560f8.462c5","name":"","label":"Date","group":"5b0baa1.9845054","order":2,"width":0,"height":0,"passthru":true,"topic":"Month","x":110,"y":460,"wires":[["c43b60dd.842fb"]]},{"id":"24ce204c.18269","type":"ui_text","z":"3ad560f8.462c5","group":"5b0baa1.9845054","order":3,"width":"12","height":"3","name":"","label":"Fruits -","format":"{{msg.payload}}","layout":"row-left","x":1440,"y":1860,"wires":[]},{"id":"1303a267.63792e","type":"ui_text","z":"3ad560f8.462c5","group":"5b0baa1.9845054","order":4,"width":"12","height":"3","name":"","label":"Vegetables -","format":"{{msg.payload}}","layout":"row-left","x":1430,"y":2080,"wires":[]},{"id":"c43b60dd.842fb","type":"function","z":"3ad560f8.462c5","name":"","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nmsg.payload = monthformat;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":460,"wires":[["c423dfae.c4da8"]]},{"id":"b23b92f2.1300e","type":"ui_dropdown","z":"3ad560f8.462c5","name":"","label":"Region","tooltip":"","place":"Select option","group":"5b0baa1.9845054","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Chennai","type":"str"},{"label":"","value":"Mumbai","type":"str"},{"label":"","value":"Delhi","type":"str"},{"label":"","value":"Kolkotta","type":"str"},{"label":"","value":"Hyderbad","type":"str"},{"label":"","value":"Bengaluru","type":"str"},{"label":"","value":"Ahmedabad","type":"str"}],"payload":"","topic":"Region","x":180,"y":340,"wires":[["c423dfae.c4da8"]]},{"id":"20491a3e.7d5816","type":"switch","z":"3ad560f8.462c5","name":"","property":"payload.Region","propertyType":"msg","rules":[{"t":"eq","v":"Chennai","vt":"str"},{"t":"eq","v":"Mumbai","vt":"str"},{"t":"eq","v":"Delhi","vt":"str"},{"t":"eq","v":"Kolkotta","vt":"str"},{"t":"eq","v":"Hyderbad","vt":"str"},{"t":"eq","v":"Bengaluru","vt":"str"},{"t":"eq","v":"Ahmedabad","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":430,"y":2000,"wires":[["ab8d82d4.2c975"],["ab27d7cb.2ff978"],["185ae30a.83983d"],["c0dc92a6.3d7dc"],["251b0c8.885b8f4"],["86dfe039.eaa7a"],["ea425ac5.a7f618"]]},{"id":"c423dfae.c4da8","type":"join","z":"3ad560f8.462c5","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":340,"wires":[["20491a3e.7d5816"]]},{"id":"ab8d82d4.2c975","type":"switch","z":"3ad560f8.462c5","name":"","property":"payload.Month","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"}],"checkall":"false","repair":false,"outputs":12,"x":650,"y":520,"wires":[["c35d00d7.dd7ea","138a57b4.223478"],["82058c98.242dd","51486d36.418e84"],["b642f7bb.e28228","1d7b1ec0.548f71"],["2f7c50e2.3bcd5","f7ef7d77.c0624"],["9a6cd407.0a12b8","52babb71.0aa0d4"],["78ef4d9c.863854","e8ca289b.56ae18"],["5f79dcf.e2f2724","974fe05a.e70d8"],["663dc217.9d41bc","6cc4d027.15893"],["bae377ae.aa2fa8","d55d020b.ebbca"],["bec0ac7.0d0785","bc793690.287d18"],["2f048b3c.e85964","c90e5f40.8bb06"],["cb0e341c.510088","97b69f18.33e1e"]]},{"id":"c35d00d7.dd7ea","type":"change","z":"3ad560f8.462c5","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pomegranate, grapes, papaya, Strawberries, pineapple, guava, passion fruit","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":20,"wires":[["24ce204c.18269"]]},{"id":"82058c98.242dd","type":"change","z":"3ad560f8.462c5","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Papaya, musk melon, pineapple, grapes, guava, strawberries, chickoo, pomegranate, oranges","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":60,"wires":[["24ce204c.18269"]]},{"id":"b642f7bb.e28228","type":"change","z":"3ad560f8.462c5","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Totapuri, banana, mango, pineapple, watermelon, strawberries, grapes, muskmelon, orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":100,"wires":[["24ce204c.18269"]]},{"id":"2f7c50e2.3bcd5","type":"change","z":"3ad560f8.462c5","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jackfruit, watermelon, grapes, orange, banana, strawberries, mango, totapuri, muskmelon, pineapple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":140,"wires":[["24ce204c.18269"]]},{"id":"9a6cd407.0a12b8","type":"change","z":"3ad560f8.462c5","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":"Black jamuns, papaya, Alphonso Mango, watermelon, litchis, Kesar, muskmelon, jackfruit","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":180,"wires":[["24ce204c.18269"]]},{"id":"78ef4d9c.863854","type":"change","z":"3ad560f8.462c5","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Kesar, Alphonso Mango","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":220,"wires":[["24ce204c.18269"]]},{"id":"5f79dcf.e2f2724","type":"change","z":"3ad560f8.462c5","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":"Peach, cherries, Kesar Mango, plum, Totapuri","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":260,"wires":[["24ce204c.18269"]]},{"id":"663dc217.9d41bc","type":"change","z":"3ad560f8.462c5","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":"Custard apple, Alphonso Mango, Kesar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":300,"wires":[["24ce204c.18269"]]},{"id":"bec0ac7.0d0785","type":"change","z":"3ad560f8.462c5","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":"Guava, pomegranate, Papaya, passion fruit, custard apple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":380,"wires":[["24ce204c.18269"]]},{"id":"bae377ae.aa2fa8","type":"change","z":"3ad560f8.462c5","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"Papaya, custard apple, Guava, pomegranate, passion fruit","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":340,"wires":[["24ce204c.18269"]]},{"id":"2f048b3c.e85964","type":"change","z":"3ad560f8.462c5","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pomegranate, papaya, dates, custard apple, Orange, guava","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":420,"wires":[["24ce204c.18269"]]},{"id":"cb0e341c.510088","type":"change","z":"3ad560f8.462c5","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fig, sweet lime, custard apple, Strawberries, guava, pineapple, orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":460,"wires":[["24ce204c.18269"]]},{"id":"138a57b4.223478","type":"change","z":"3ad560f8.462c5","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":"Carrot, cabbage, tendli, capsicum, beetroot, cauliflower, palak, broccoli, Brinjal, radish, tomatoes, peas, pumpkin.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":520,"wires":[["1303a267.63792e"]]},{"id":"51486d36.418e84","type":"change","z":"3ad560f8.462c5","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Radish, methi, capsicum, cabbage, broccoli, carrot, spring onion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":560,"wires":[["1303a267.63792e"]]},{"id":"1d7b1ec0.548f71","type":"change","z":"3ad560f8.462c5","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Parwal, carrot, fenugreek, tindora, spinach, pumpkin, capsicum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":600,"wires":[["1303a267.63792e"]]},{"id":"f7ef7d77.c0624","type":"change","z":"3ad560f8.462c5","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Beans, pumpkin, cucumber, karela, tindora, Lady's finger, parwal, doodhi, chawli, tendli","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":640,"wires":[["1303a267.63792e"]]},{"id":"52babb71.0aa0d4","type":"change","z":"3ad560f8.462c5","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":"Doodhi, spinach, beans, cucumber, karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":680,"wires":[["1303a267.63792e"]]},{"id":"e8ca289b.56ae18","type":"change","z":"3ad560f8.462c5","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sweet potato, cucumber, Spinach, gawar, lady's finger, corn, capsicum, chawli","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":720,"wires":[["1303a267.63792e"]]},{"id":"974fe05a.e70d8","type":"change","z":"3ad560f8.462c5","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":"Snake gourd, gawar, corn, round gourd, cucumber, Sweet potato, karela, lady's finger, doodhi, capsicum, Spinach, chawli","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":760,"wires":[["1303a267.63792e"]]},{"id":"6cc4d027.15893","type":"change","z":"3ad560f8.462c5","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spinach, capsicum, cucumber, Sweet potato, lady's finger, gawar, chawli, corn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":800,"wires":[["1303a267.63792e"]]},{"id":"bc793690.287d18","type":"change","z":"3ad560f8.462c5","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spring onions, tomatoes, dill, Brinjal.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":880,"wires":[["1303a267.63792e"]]},{"id":"d55d020b.ebbca","type":"change","z":"3ad560f8.462c5","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lady's finger, Spinach, Sweet potato, gawar, capsicum, chawli, cucumber, corn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":840,"wires":[["1303a267.63792e"]]},{"id":"c90e5f40.8bb06","type":"change","z":"3ad560f8.462c5","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":"French beans, dill, Spring onions, Brinjal, tomatoes","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":920,"wires":[["1303a267.63792e"]]},{"id":"97b69f18.33e1e","type":"change","z":"3ad560f8.462c5","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Beetroot, tomatoes, Brinjal, yam, Spring onions, radish, dill","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":960,"wires":[["1303a267.63792e"]]},{"id":"ab27d7cb.2ff978","type":"switch","z":"3ad560f8.462c5","name":"","property":"payload.Month","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"}],"checkall":"false","repair":false,"outputs":12,"x":650,"y":1520,"wires":[["75220e2f.bfd04","66605223.2037cc"],["ccaca025.85811","c37bb5da.a361d8"],["fb2bf685.4edcf8","88c5f05c.33c44"],["dcf7675.82a6d98","246a98.33f16568"],["e206ca29.e25c88","8a57301.80b5fd"],["ebbb7808.f9ab98","dadfa1a4.e2994"],["594c2aa2.89ec94","2bdf5a2.8bde1a6"],["9606d04a.4db04","37d179e0.2eb256"],["71ab6eea.a9216","9e91a276.ff0ab"],["92a0dabc.41eec8","920e474f.3394c8"],["3f0bbbb8.c1f124","5183dcba.e6fbf4"],["48289e0d.c8af6","767d8773.68beb8"]]},{"id":"75220e2f.bfd04","type":"change","z":"3ad560f8.462c5","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":" Papaya,Pomegranate,Straw berries,Passion fruits,Grapes,Guava","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1020,"wires":[["24ce204c.18269"]]},{"id":"ccaca025.85811","type":"change","z":"3ad560f8.462c5","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Oranges,Chickoo, Musk melon,Grapes,Guava,Papaya,Pomegranate,Pineapple,Strawberries.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1060,"wires":[["24ce204c.18269"]]},{"id":"fb2bf685.4edcf8","type":"change","z":"3ad560f8.462c5","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mango —raw(kaccha aam),Totapuri, Badami ,Watermelon,Grapes,Orange, Pineapple,Banana, Muskmelon, Strawberries.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1100,"wires":[["24ce204c.18269"]]},{"id":"dcf7675.82a6d98","type":"change","z":"3ad560f8.462c5","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jackfruit(kathal)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1140,"wires":[["24ce204c.18269"]]},{"id":"e206ca29.e25c88","type":"change","z":"3ad560f8.462c5","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jamuns(indian plum or purple berry),Mango — Alphonso, Kesar,Litchis(lychee),Raw Papaya,Jackfruit, Watermelon,Muskmelon.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1180,"wires":[["24ce204c.18269"]]},{"id":"ebbb7808.f9ab98","type":"change","z":"3ad560f8.462c5","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mango — Alphonso,dussehri, Kesar.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1220,"wires":[["24ce204c.18269"]]},{"id":"594c2aa2.89ec94","type":"change","z":"3ad560f8.462c5","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1260,"wires":[["24ce204c.18269"]]},{"id":"9606d04a.4db04","type":"change","z":"3ad560f8.462c5","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1300,"wires":[["24ce204c.18269"]]},{"id":"92a0dabc.41eec8","type":"change","z":"3ad560f8.462c5","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fruits Guava, papaya, pomegranate, custard apple(sharifa), passion fruit.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1380,"wires":[["24ce204c.18269"]]},{"id":"71ab6eea.a9216","type":"change","z":"3ad560f8.462c5","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fruits Guava, papaya, pomegranate, custard apple(sharifa), passion fruit.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1340,"wires":[["24ce204c.18269"]]},{"id":"3f0bbbb8.c1f124","type":"change","z":"3ad560f8.462c5","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":" Orange, dates, guava, papaya, pomegranate, custard apple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1420,"wires":[["24ce204c.18269"]]},{"id":"48289e0d.c8af6","type":"change","z":"3ad560f8.462c5","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Strawberries, orange, sweet lime, fig(anjeer), guava, custard apple, pineapple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1460,"wires":[["24ce204c.18269"]]},{"id":"66605223.2037cc","type":"change","z":"3ad560f8.462c5","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cauliflower,Peas,Brinjal, Spinach(palak), Ivy Gourd Coccinia grandisl(kundru,tendli), Tomatoes, Cabbage,Carrot,Radish, Beetroot,Broccoli,Capsicum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1520,"wires":[["1303a267.63792e"]]},{"id":"c37bb5da.a361d8","type":"change","z":"3ad560f8.462c5","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fenugreek(Methi), Cabbage,Carrot,Radish,Spring onion,Capsicum,Broccoli.drumstick(sahjan ,singhphali),","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1560,"wires":[["1303a267.63792e"]]},{"id":"88c5f05c.33c44","type":"change","z":"3ad560f8.462c5","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pointed gourd(Parwal),Spinach,Fenugreek,Capsicum,Carrot, tindora, pumpkin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1600,"wires":[["1303a267.63792e"]]},{"id":"246a98.33f16568","type":"change","z":"3ad560f8.462c5","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lady's finger(okra),Cucumber,Calabash(Bottle gourd,Lauki,Doodhi,),Bitter Squash(Karela),Amarnath(Chaulai,Chawli),Pumpkin.Beans,Kundru,Parwal,","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1640,"wires":[["1303a267.63792e"]]},{"id":"8a57301.80b5fd","type":"change","z":"3ad560f8.462c5","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":" Spinach,Cucumber,Lauki,Karela,Beans","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1680,"wires":[["1303a267.63792e"]]},{"id":"dadfa1a4.e2994","type":"change","z":"3ad560f8.462c5","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spinach,Okra( lady's finger),Cucumber,Amarnath(chawli),Cluster Beans(gawar,fali,semiya),Corn,Capsicum,Sweet potato.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1720,"wires":[["1303a267.63792e"]]},{"id":"2bdf5a2.8bde1a6","type":"change","z":"3ad560f8.462c5","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1760,"wires":[["1303a267.63792e"]]},{"id":"37d179e0.2eb256","type":"change","z":"3ad560f8.462c5","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1800,"wires":[["1303a267.63792e"]]},{"id":"920e474f.3394c8","type":"change","z":"3ad560f8.462c5","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":"Brinjal, tomatoes, dil(Suva bhaji / Soye), spring onions","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1880,"wires":[["1303a267.63792e"]]},{"id":"9e91a276.ff0ab","type":"change","z":"3ad560f8.462c5","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1840,"wires":[["1303a267.63792e"]]},{"id":"5183dcba.e6fbf4","type":"change","z":"3ad560f8.462c5","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fenugreek(Methi), Cabbage,Carrot,Radish,Spring onion,Capsicum,Broccoli.drumstick(sahjan ,singhphali),","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1920,"wires":[["1303a267.63792e"]]},{"id":"767d8773.68beb8","type":"change","z":"3ad560f8.462c5","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Radish, beetroot, yam(ratalu,sooran).Sarson, Bathua,palak","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1960,"wires":[["1303a267.63792e"]]},{"id":"185ae30a.83983d","type":"switch","z":"3ad560f8.462c5","name":"","property":"payload.Month","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"}],"checkall":"false","repair":false,"outputs":12,"x":650,"y":2540,"wires":[["65330542.63e55c","3d0184e7.438e6c"],["79024448.a8ba0c","ba7c7dee.5986a"],["30e0565a.71524a","388e1580.aed1aa"],["73954075.7b57f","c6aafc88.eaffd"],["9a5288.de2fbd78","8eb206e1.9e6e58"],["bb032f90.5d069","63374a56.fbf0d4"],["7ea6198a.ffccd8","c8e10c4a.ff8b3"],["17bb1fa5.24dbc","22802113.89e57e"],["5bedbe5b.6cb3a","5052c19a.6609d"],["6132ca10.febe94","be0980a9.13a81"],["3e363a0a.947036","aebc9a82.209c78"],["7077de2b.e8595","8cdc64e4.d7a4d8"]]},{"id":"65330542.63e55c","type":"change","z":"3ad560f8.462c5","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":" Papaya,Pomegranate,Straw berries,Passion fruits,Grapes,Guava","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2040,"wires":[["24ce204c.18269"]]},{"id":"79024448.a8ba0c","type":"change","z":"3ad560f8.462c5","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Oranges,Chickoo, Musk melon,Grapes,Guava,Papaya,Pomegranate,Pineapple,Strawberries.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2080,"wires":[["24ce204c.18269"]]},{"id":"30e0565a.71524a","type":"change","z":"3ad560f8.462c5","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mango —raw(kaccha aam),Totapuri, Badami ,Watermelon,Grapes,Orange, Pineapple,Banana, Muskmelon, Strawberries.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2120,"wires":[["24ce204c.18269"]]},{"id":"73954075.7b57f","type":"change","z":"3ad560f8.462c5","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jackfruit(kathal)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2160,"wires":[["24ce204c.18269"]]},{"id":"9a5288.de2fbd78","type":"change","z":"3ad560f8.462c5","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jamuns(indian plum or purple berry),Mango — Alphonso, Kesar,Litchis(lychee),Raw Papaya,Jackfruit, Watermelon,Muskmelon.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2200,"wires":[["24ce204c.18269"]]},{"id":"bb032f90.5d069","type":"change","z":"3ad560f8.462c5","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mango — Alphonso,dussehri, Kesar.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2240,"wires":[["24ce204c.18269"]]},{"id":"7ea6198a.ffccd8","type":"change","z":"3ad560f8.462c5","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2280,"wires":[["24ce204c.18269"]]},{"id":"17bb1fa5.24dbc","type":"change","z":"3ad560f8.462c5","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2320,"wires":[["24ce204c.18269"]]},{"id":"6132ca10.febe94","type":"change","z":"3ad560f8.462c5","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2400,"wires":[["24ce204c.18269"]]},{"id":"5bedbe5b.6cb3a","type":"change","z":"3ad560f8.462c5","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fruits Guava, papaya, pomegranate, custard apple(sharifa), passion fruit.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2360,"wires":[["24ce204c.18269"]]},{"id":"3e363a0a.947036","type":"change","z":"3ad560f8.462c5","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":" Orange, dates, guava, papaya, pomegranate, custard apple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2440,"wires":[["24ce204c.18269"]]},{"id":"7077de2b.e8595","type":"change","z":"3ad560f8.462c5","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Strawberries, orange, sweet lime, fig(anjeer), guava, custard apple, pineapple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2480,"wires":[["24ce204c.18269"]]},{"id":"3d0184e7.438e6c","type":"change","z":"3ad560f8.462c5","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cauliflower,Peas,Brinjal, Spinach(palak), Ivy Gourd Coccinia grandisl(kundru,tendli), Tomatoes, Cabbage,Carrot,Radish, Beetroot,Broccoli,Capsicum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2540,"wires":[["1303a267.63792e"]]},{"id":"ba7c7dee.5986a","type":"change","z":"3ad560f8.462c5","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fenugreek(Methi), Cabbage,Carrot,Radish,Spring onion,Capsicum,Broccoli.drumstick(sahjan ,singhphali),","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2580,"wires":[["1303a267.63792e"]]},{"id":"388e1580.aed1aa","type":"change","z":"3ad560f8.462c5","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pointed gourd(Parwal),Spinach,Fenugreek,Capsicum,Carrot, tindora, pumpkin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2620,"wires":[["1303a267.63792e"]]},{"id":"c6aafc88.eaffd","type":"change","z":"3ad560f8.462c5","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lady's finger(okra),Cucumber,Calabash(Bottle gourd,Lauki,Doodhi,),Bitter Squash(Karela),Amarnath(Chaulai,Chawli),Pumpkin.Beans,Kundru,Parwal,","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2660,"wires":[["1303a267.63792e"]]},{"id":"8eb206e1.9e6e58","type":"change","z":"3ad560f8.462c5","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":" Spinach,Cucumber,Lauki,Karela,Beans","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2700,"wires":[["1303a267.63792e"]]},{"id":"63374a56.fbf0d4","type":"change","z":"3ad560f8.462c5","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spinach,Okra( lady's finger),Cucumber,Amarnath(chawli),Cluster Beans(gawar,fali,semiya),Corn,Capsicum,Sweet potato.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2740,"wires":[["1303a267.63792e"]]},{"id":"c8e10c4a.ff8b3","type":"change","z":"3ad560f8.462c5","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2780,"wires":[["1303a267.63792e"]]},{"id":"22802113.89e57e","type":"change","z":"3ad560f8.462c5","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2820,"wires":[["1303a267.63792e"]]},{"id":"be0980a9.13a81","type":"change","z":"3ad560f8.462c5","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":"Brinjal, tomatoes, dil(Suva bhaji / Soye), spring onions","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2900,"wires":[["1303a267.63792e"]]},{"id":"5052c19a.6609d","type":"change","z":"3ad560f8.462c5","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spinach,Okra( lady's finger),Cucumber,Amarnath(chawli),Cluster Beans(gawar,fali,semiya),Corn,Capsicum,Sweet potato.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2860,"wires":[["1303a267.63792e"]]},{"id":"aebc9a82.209c78","type":"change","z":"3ad560f8.462c5","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":"French beans ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2940,"wires":[["1303a267.63792e"]]},{"id":"8cdc64e4.d7a4d8","type":"change","z":"3ad560f8.462c5","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Radish, beetroot, yam(ratalu,sooran).Sarson, Bathua,palak","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2980,"wires":[["1303a267.63792e"]]},{"id":"c0dc92a6.3d7dc","type":"switch","z":"3ad560f8.462c5","name":"","property":"payload.Month","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"}],"checkall":"false","repair":false,"outputs":12,"x":650,"y":3540,"wires":[["b25b12d9.3e9f3","6e0a4d98.edbd84"],["9b0d0fd3.7a607","5d2c0801.ddac68"],["21440211.02d31e","f6b1d58b.386148"],["be055608.da0868","36d8093b.542a76"],["7aab59cc.59d958","64c31749.f09468"],["9af220bd.1da84","3aa766d2.3dfbfa"],["4abb9d56.7a6cb4","cf83e123.fffb2"],["82c288a5.93f868","3309bb8d.2783f4"],["12e3362d.74798a","591de074.45d3d"],["8662129c.b064d","53db135f.4e945c"],["919cf80a.a990f8","93fb9332.e6cf4"],["33bb0762.5556a8","eba0bc42.a1b3e"]]},{"id":"b25b12d9.3e9f3","type":"change","z":"3ad560f8.462c5","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":" Papaya,Pomegranate,Straw berries,Passion fruits,Grapes,Guava","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3040,"wires":[["24ce204c.18269"]]},{"id":"9b0d0fd3.7a607","type":"change","z":"3ad560f8.462c5","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Oranges,Chickoo, Musk melon,Grapes,Guava,Papaya,Pomegranate,Pineapple,Strawberries.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3080,"wires":[["24ce204c.18269"]]},{"id":"21440211.02d31e","type":"change","z":"3ad560f8.462c5","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mango —raw(kaccha aam),Totapuri, Badami ,Watermelon,Grapes,Orange, Pineapple,Banana, Muskmelon, Strawberries.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3120,"wires":[["24ce204c.18269"]]},{"id":"be055608.da0868","type":"change","z":"3ad560f8.462c5","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jackfruit(kathal)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3160,"wires":[["24ce204c.18269"]]},{"id":"7aab59cc.59d958","type":"change","z":"3ad560f8.462c5","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":"Jamuns(indian plum or purple berry),Mango — Alphonso, Kesar,Litchis(lychee),Raw Papaya,Jackfruit, Watermelon,Muskmelon.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3200,"wires":[["24ce204c.18269"]]},{"id":"9af220bd.1da84","type":"change","z":"3ad560f8.462c5","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mango — Alphonso,dussehri, Kesar.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3240,"wires":[["24ce204c.18269"]]},{"id":"4abb9d56.7a6cb4","type":"change","z":"3ad560f8.462c5","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3280,"wires":[["24ce204c.18269"]]},{"id":"82c288a5.93f868","type":"change","z":"3ad560f8.462c5","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3320,"wires":[["24ce204c.18269"]]},{"id":"8662129c.b064d","type":"change","z":"3ad560f8.462c5","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":" Mango — Kesar,dussheri Totapuri — cherries, peach, plum.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3400,"wires":[["24ce204c.18269"]]},{"id":"12e3362d.74798a","type":"change","z":"3ad560f8.462c5","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fruits Guava, papaya, pomegranate, custard apple(sharifa), passion fruit.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3360,"wires":[["24ce204c.18269"]]},{"id":"919cf80a.a990f8","type":"change","z":"3ad560f8.462c5","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":" Orange, dates, guava, papaya, pomegranate, custard apple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3440,"wires":[["24ce204c.18269"]]},{"id":"33bb0762.5556a8","type":"change","z":"3ad560f8.462c5","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Strawberries, orange, sweet lime, fig(anjeer), guava, custard apple, pineapple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3480,"wires":[["24ce204c.18269"]]},{"id":"6e0a4d98.edbd84","type":"change","z":"3ad560f8.462c5","name":"January","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cauliflower,Peas,Brinjal, Spinach(palak), Ivy Gourd Coccinia grandisl(kundru,tendli), Tomatoes, Cabbage,Carrot,Radish, Beetroot,Broccoli,Capsicum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3540,"wires":[["1303a267.63792e"]]},{"id":"5d2c0801.ddac68","type":"change","z":"3ad560f8.462c5","name":"February","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fenugreek(Methi), Cabbage,Carrot,Radish,Spring onion,Capsicum,Broccoli.drumstick(sahjan ,singhphali),","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3580,"wires":[["1303a267.63792e"]]},{"id":"f6b1d58b.386148","type":"change","z":"3ad560f8.462c5","name":"March","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pointed gourd(Parwal),Spinach,Fenugreek,Capsicum,Carrot, tindora, pumpkin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3620,"wires":[["1303a267.63792e"]]},{"id":"36d8093b.542a76","type":"change","z":"3ad560f8.462c5","name":"April","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lady's finger(okra),Cucumber,Calabash(Bottle gourd,Lauki,Doodhi,),Bitter Squash(Karela),Amarnath(Chaulai,Chawli),Pumpkin.Beans,Kundru,Parwal,","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3660,"wires":[["1303a267.63792e"]]},{"id":"64c31749.f09468","type":"change","z":"3ad560f8.462c5","name":"May","rules":[{"t":"set","p":"payload","pt":"msg","to":" Spinach,Cucumber,Lauki,Karela,Beans","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3700,"wires":[["1303a267.63792e"]]},{"id":"3aa766d2.3dfbfa","type":"change","z":"3ad560f8.462c5","name":"June","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spinach,Okra( lady's finger),Cucumber,Amarnath(chawli),Cluster Beans(gawar,fali,semiya),Corn,Capsicum,Sweet potato.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3740,"wires":[["1303a267.63792e"]]},{"id":"cf83e123.fffb2","type":"change","z":"3ad560f8.462c5","name":"July","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3780,"wires":[["1303a267.63792e"]]},{"id":"3309bb8d.2783f4","type":"change","z":"3ad560f8.462c5","name":"August","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3820,"wires":[["1303a267.63792e"]]},{"id":"53db135f.4e945c","type":"change","z":"3ad560f8.462c5","name":"October","rules":[{"t":"set","p":"payload","pt":"msg","to":"Brinjal, tomatoes, dil(Suva bhaji / Soye), spring onions","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3900,"wires":[["1303a267.63792e"]]},{"id":"591de074.45d3d","type":"change","z":"3ad560f8.462c5","name":"September","rules":[{"t":"set","p":"payload","pt":"msg","to":"round gourd(tinda),bottle guard(lauki, doodhi), snake gourd(chichinda,padwal), karela","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3860,"wires":[["1303a267.63792e"]]},{"id":"93fb9332.e6cf4","type":"change","z":"3ad560f8.462c5","name":"November","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cauliflower,Peas,Brinjal, Spinach(palak), Ivy Gourd Coccinia grandisl(kundru,tendli), Tomatoes, Cabbage,Carrot,Radish, Beetroot,Broccoli,Capsicum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3940,"wires":[["1303a267.63792e"]]},{"id":"eba0bc42.a1b3e","type":"change","z":"3ad560f8.462c5","name":"December","rules":[{"t":"set","p":"payload","pt":"msg","to":"Radish, beetroot, yam(ratalu,sooran).Sarson, Bathua,palak","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3980,"wires":[[]]},{"id":"58f00f61.53c96","type":"ui_button","z":"3ad560f8.462c5","name":"","group":"5b0baa1.9845054","order":4,"width":0,"height":0,"passthru":false,"label":"Clear all","tooltip":"","color":"brown","bgcolor":"yellow","icon":"","payload":" ","payloadType":"str","topic":"","x":160,"y":1860,"wires":[["1303a267.63792e","24ce204c.18269","b23b92f2.1300e"]]},{"id":"790a5f22.6f0ea","type":"comment","z":"3ad560f8.462c5","name":"chennai fruits","info":"","x":730,"y":240,"wires":[]},{"id":"f57fa86a.00a708","type":"comment","z":"3ad560f8.462c5","name":"chennai vegetables","info":"","x":710,"y":740,"wires":[]},{"id":"2db91b39.bc89b4","type":"comment","z":"3ad560f8.462c5","name":"mumbai fruits","info":"","x":750,"y":1260,"wires":[]},{"id":"9980a3a6.e1ae4","type":"comment","z":"3ad560f8.462c5","name":"mumbai vegetables","info":"","x":710,"y":1720,"wires":[]},{"id":"10087df5.b3eab2","type":"comment","z":"3ad560f8.462c5","name":"delhi fruits","info":"","x":700,"y":2320,"wires":[]},{"id":"b278bbef.727058","type":"comment","z":"3ad560f8.462c5","name":"delhi vegetables","info":"","x":720,"y":2760,"wires":[]},{"id":"553cefde.864fa","type":"comment","z":"3ad560f8.462c5","name":"kolkatta vegetables","info":"","x":730,"y":3720,"wires":[]},{"id":"8e940278.734e7","type":"comment","z":"3ad560f8.462c5","name":"kolkotta fruits","info":"","x":730,"y":3300,"wires":[]},{"id":"b52e69e5.af64e8","type":"comment","z":"3ad560f8.462c5","name":"output text","info":"","x":1480,"y":1980,"wires":[]},{"id":"d5d607ab.d57848","type":"comment","z":"3ad560f8.462c5","name":"clear all button","info":"","x":180,"y":1920,"wires":[]},{"id":"680ce3e4.e3e9cc","type":"comment","z":"3ad560f8.462c5","name":"region switch","info":"","x":330,"y":2040,"wires":[]},{"id":"cf4e9a37.dd74d8","type":"comment","z":"3ad560f8.462c5","name":"input","info":"","x":150,"y":400,"wires":[]},{"id":"f1cf84e4.c257e8","type":"comment","z":"3ad560f8.462c5","name":"month switch","info":"","x":650,"y":400,"wires":[]},{"id":"c3b3df0c.19549","type":"comment","z":"3ad560f8.462c5","name":"Created by Venkata Gunasekhar V From team VVS For IBM Hack Challenge 2020","info":"","x":1350,"y":4020,"wires":[]},{"id":"512f0d86.7afc14","type":"comment","z":"3ad560f8.462c5","name":"to join region and date input","info":"","x":380,"y":300,"wires":[]},{"id":"251b0c8.885b8f4","type":"link out","z":"3ad560f8.462c5","name":"Hyderbad","links":["b876ce9a.9fa22"],"x":320,"y":2140,"wires":[]},{"id":"86dfe039.eaa7a","type":"link out","z":"3ad560f8.462c5","name":"Bengaluru","links":["cb27c5ff.f1d7a8"],"x":320,"y":2200,"wires":[]},{"id":"ea425ac5.a7f618","type":"link out","z":"3ad560f8.462c5","name":"Ahmedabad","links":["45fcc66e.15ec58"],"x":320,"y":2260,"wires":[]},{"id":"1495dd8.0644523","type":"link in","z":"3ad560f8.462c5","name":"fruit in","links":["46c60266.1bd19c","b77bbc18.49f8","fdbd5a34.a1dcb8"],"x":1395,"y":1740,"wires":[["24ce204c.18269"]]},{"id":"9bc51c38.26aec","type":"link in","z":"3ad560f8.462c5","name":"fruit in","links":["39eb4508.2476aa","4cc8c487.52dd4c","f68cec67.6cf6d"],"x":1395,"y":2160,"wires":[["1303a267.63792e"]]},{"id":"5b0baa1.9845054","type":"ui_group","z":"","name":"Enter date and region to Find","tab":"a34c5bbf.b44998","order":1,"disp":true,"width":"12","collapse":false},{"id":"a34c5bbf.b44998","type":"ui_tab","z":"","name":"Seasonal Fruits and Vegetables","icon":"dashboard","order":9,"disabled":false,"hidden":false}]