json code/welcome.json
[{"id":"7759d3a0.77097c","type":"tab","label":"Welcome","disabled":false,"info":""},{"id":"d6479177.b8b51","type":"ui_text","z":"7759d3a0.77097c","group":"ed49c469.856168","order":1,"width":"9","height":"4","name":"","label":"Team VVS","format":"<H1><font color =amber>{{msg.payload}}</font></H1>","layout":"col-center","x":750,"y":40,"wires":[]},{"id":"ea03257d.e06ec8","type":"function","z":"7759d3a0.77097c","name":"welcome message","func":"msg.payload=\"Optimized Warehouse Management Of Perishable Goods For A Food Delivery Company\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["d6479177.b8b51"]]},{"id":"f2d03d27.13db9","type":"ui_ui_control","z":"7759d3a0.77097c","name":"","events":"all","x":760,"y":140,"wires":[[]]},{"id":"dd56bcab.47de9","type":"ui_form","z":"7759d3a0.77097c","name":"Login Form","label":"","group":"426bc9a6.41db68","order":0,"width":0,"height":0,"options":[{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":320,"wires":[["5756f021.13499"]]},{"id":"7e2a90a3.d9e32","type":"ui_text","z":"7759d3a0.77097c","group":"ed49c469.856168","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":750,"y":80,"wires":[]},{"id":"7fd759b9.d670c8","type":"ui_form","z":"7759d3a0.77097c","name":"Registration Form","label":"","group":"11e57c7d.3982f4","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Phone Number","value":"phonenumber","type":"number","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","phonenumber":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["87048885.be9448","2e9b563c.bcdcea"]]},{"id":"61f7fec0.b2767","type":"ui_button","z":"7759d3a0.77097c","name":"","group":"3b55c2c0.f938de","order":1,"width":0,"height":0,"passthru":true,"label":"Login","tooltip":"","color":"brown","bgcolor":"yellow","icon":"","payload":"{\"group\":{\"hide\":\"Home_Registration\",\"show\":\"Home_Login\"}}","payloadType":"json","topic":"","x":110,"y":120,"wires":[["f2d03d27.13db9"]]},{"id":"722218d8.933f38","type":"ui_button","z":"7759d3a0.77097c","name":"","group":"3b55c2c0.f938de","order":2,"width":0,"height":0,"passthru":true,"label":"Register","tooltip":"","color":"brown","bgcolor":"yellow","icon":"","payload":"{\"group\":{\"hide\":\"Home_Login\",\"show\":\"Home_Registration\"}}","payloadType":"json","topic":"","x":120,"y":160,"wires":[["f2d03d27.13db9"]]},{"id":"94251c22.e9b17","type":"inject","z":"7759d3a0.77097c","name":"initial setup","topic":"","payload":"{\"group\":{\"hide\":[\"Home_Login\",\"Home_Registration\",\"Home_group1\"],\"show\":\"Home_group\"},\"tabs\":{\"hide\":[\"Chennai\",\"Mumbai\",\"Delhi\",\"Kolkatta\",\"Hyderbad\",\"Bengaluru\",\"Ahmedabad\",\"Seasonal_Fruits_and_Vegetables\"]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":40,"wires":[["ea03257d.e06ec8","58e2ff73.24e3c","f2d03d27.13db9"]]},{"id":"b46a7b0c.5ee2c8","type":"cloudant out","z":"7759d3a0.77097c","name":"","cloudant":"","database":"data_forecast","service":"node-red-gfbxa-cloudant-1591764447594-98238","payonly":true,"operation":"insert","x":760,"y":180,"wires":[]},{"id":"87048885.be9448","type":"function","z":"7759d3a0.77097c","name":"data in","func":"msg.payload = {\n    _id:msg.payload.email,\n    name:msg.payload.name,\n    phonenumber:msg.payload.phonenumber,\n    email:msg.payload.email,\n    password:msg.payload.password\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["b46a7b0c.5ee2c8","69751162.5f3b9"]]},{"id":"2e9b563c.bcdcea","type":"function","z":"7759d3a0.77097c","name":"success","func":"msg.payload = \"Hey! \"+msg.payload.name+\". Registration Successfull. Try logging in\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["7e2a90a3.d9e32","61f7fec0.b2767"]]},{"id":"5756f021.13499","type":"function","z":"7759d3a0.77097c","name":"global set","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"password\",msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":360,"wires":[["8024ef1e.0f804"]]},{"id":"59b5cac2.e18004","type":"cloudant in","z":"7759d3a0.77097c","name":"","cloudant":"","database":"data_forecast","service":"node-red-gfbxa-cloudant-1591764447594-98238","search":"_id_","design":"","index":"","x":320,"y":400,"wires":[["69751162.5f3b9","24ba519c.b2fc4e"]]},{"id":"8024ef1e.0f804","type":"function","z":"7759d3a0.77097c","name":"data out","func":"var email = global.get(\"email\")\nmsg.payload = {\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":400,"wires":[["59b5cac2.e18004"]]},{"id":"69751162.5f3b9","type":"debug","z":"7759d3a0.77097c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":400,"wires":[]},{"id":"24ba519c.b2fc4e","type":"function","z":"7759d3a0.77097c","name":"password check","func":"var pwd = global.get('password');\nif(msg.payload.password==pwd){\n    msg.payload = \"Logged in\"\n}\nelse{\n    msg.payload = \"Invalid Email or Password\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["7e2a90a3.d9e32","54f75039.943ce"]]},{"id":"54f75039.943ce","type":"switch","z":"7759d3a0.77097c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Logged in","vt":"str"},{"t":"eq","v":"Invalid Email or Password","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":590,"y":360,"wires":[["4d60705a.dd31","69751162.5f3b9"],["69751162.5f3b9"]]},{"id":"4d60705a.dd31","type":"function","z":"7759d3a0.77097c","name":"after login","func":"msg.payload={\n    \"group\": {\n        \"hide\": [\n            \"Home_Login\",\n            \"Home_Registration\",\"Home_group\"\n        ],\"show\":[\"Home_group1\"]\n    },\n    \"tabs\": {\n        \"show\": [\n            \"Chennai\",\n            \"Mumbai\",\n            \"Delhi\",\n            \"Kolkatta\",\n            \"Hyderbad\",\n            \"Bengaluru\",\n            \"Ahmedabad\",\n            \"Seasonal_Fruits_and_Vegetables\"\n        ],\"focus\": true\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":300,"wires":[["f2d03d27.13db9"]]},{"id":"58e2ff73.24e3c","type":"function","z":"7759d3a0.77097c","name":"text at start","func":"msg.payload=\"Welcome\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["7e2a90a3.d9e32"]]},{"id":"9cd4f927.60c5e8","type":"ui_button","z":"7759d3a0.77097c","name":"","group":"47d581f.86ea78","order":0,"width":0,"height":0,"passthru":false,"label":"Logout","tooltip":"","color":"brown","bgcolor":"yellow","icon":"","payload":"{\"group\":{\"hide\":[\"Home_group1\"],\"show\":[\"Home_group\"],\"focus\":true},\"tabs\":{\"hide\":[\"Chennai\",\"Mumbai\",\"Delhi\",\"Kolkatta\",\"Hyderbad\",\"Bengaluru\",\"Ahmedabad\",\"Seasonal_Fruits_and_Vegetables\"]}}","payloadType":"json","topic":"","x":130,"y":200,"wires":[["f2d03d27.13db9","d25c7a6.c059588","43753f49.ac9e8"]]},{"id":"d25c7a6.c059588","type":"function","z":"7759d3a0.77097c","name":"","func":"msg.payload=\"Logged out\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["7e2a90a3.d9e32"]]},{"id":"43753f49.ac9e8","type":"function","z":"7759d3a0.77097c","name":"","func":"msg.payload={\n    \"group\": {\n        \"hide\": [\n            \"Home_Login\",\n            \"Home_Registration\",\n            \"Home_group1\"\n        ],\n        \"show\": \"Home_group\"\n    },\n    \"tabs\": {\n        \"hide\": [\n            \"Chennai\",\n            \"Mumbai\",\n            \"Delhi\",\n            \"Kolkatta\",\n            \"Hyderbad\",\n            \"Bengaluru\",\n            \"Ahmedabad\",\n            \"Seasonal_Fruits_and_Vegetables\"\n        ]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":80,"wires":[["ea03257d.e06ec8","f2d03d27.13db9"]]},{"id":"8606e7b9.b82c48","type":"comment","z":"7759d3a0.77097c","name":"Created by Venkata Gunasekhar V From team VVS For IBM Hack Challenge 2020","info":"","x":850,"y":680,"wires":[]},{"id":"ed49c469.856168","type":"ui_group","z":"","name":"Team VVS","tab":"cf40fea6.09165","order":1,"disp":false,"width":"9","collapse":false},{"id":"426bc9a6.41db68","type":"ui_group","z":"","name":"Login","tab":"cf40fea6.09165","order":4,"disp":true,"width":"6","collapse":false},{"id":"11e57c7d.3982f4","type":"ui_group","z":"","name":"Registration","tab":"cf40fea6.09165","order":5,"disp":true,"width":"6","collapse":false},{"id":"3b55c2c0.f938de","type":"ui_group","z":"","name":"group","tab":"cf40fea6.09165","order":2,"disp":false,"width":"6","collapse":false},{"id":"47d581f.86ea78","type":"ui_group","z":"","name":"group1","tab":"cf40fea6.09165","order":3,"disp":false,"width":"9","collapse":false},{"id":"cf40fea6.09165","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]